In [1]:
import pandas as pd
import numpy as np
import os

<h3>Finalization NoteBooks

<h4>Main Label Pipeline Check

<h5>Raw Input File

In [2]:
csvpath_21=("../data/raw/>150K/public_150k_plus_211121_add.csv")
csvpath_23=("../data/raw/>150K/public_150k_plus_230630.csv")

In [3]:
size21= os.path.getsize(csvpath_21)/1024**2
size23= os.path.getsize(csvpath_23)/1024**2
print(size21)
print(size23)

433.59666538238525
429.54480171203613

In [4]:
ppp_df_21= pd.read_csv(csvpath_21, index_col=0) #drops Unnamed; alt: df = df.loc[:, ~df.columns.str.contains('^Unnamed')] OR df.loc[:, ~df.columns.str.match('Unnamed')]
ppp_df_23= pd.read_csv(csvpath_23)

In [5]:
print(ppp_df_21.shape[0])
print(ppp_df_23.shape[0])

968557
965552

In [6]:
print(ppp_df_21.columns)
print(ppp_df_23.columns)
print(len(ppp_df_21.columns))
print(len(ppp_df_23.columns))

Index(['LoanNumber', 'DateApproved', 'SBAOfficeCode', 'ProcessingMethod',
       'BorrowerName', 'BorrowerAddress', 'BorrowerCity', 'BorrowerState',
       'BorrowerZip', 'LoanStatusDate', 'LoanStatus', 'Term',
       'SBAGuarantyPercentage', 'InitialApprovalAmount',
       'CurrentApprovalAmount', 'UndisbursedAmount', 'FranchiseName',
       'ServicingLenderLocationID', 'ServicingLenderName',
       'ServicingLenderAddress', 'ServicingLenderCity', 'ServicingLenderState',
       'ServicingLenderZip', 'RuralUrbanIndicator', 'HubzoneIndicator',
       'LMIIndicator', 'BusinessAgeDescription', 'ProjectCity',
       'ProjectCountyName', 'ProjectState', 'ProjectZip', 'CD', 'JobsReported',
       'NAICSCode', 'Race', 'Ethnicity', 'UTILITIES_PROCEED',
       'PAYROLL_PROCEED', 'MORTGAGE_INTEREST_PROCEED', 'RENT_PROCEED',
       'REFINANCE_EIDL_PROCEED', 'HEALTH_CARE_PROCEED',
       'DEBT_INTEREST_PROCEED', 'BusinessType', 'OriginatingLenderLocationID',
       'OriginatingLender', 'OriginatingLenderCity', 'OriginatingLenderState',
       'Gender', 'Veteran', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDate'],
      dtype='object')
Index(['LoanNumber', 'DateApproved', 'SBAOfficeCode', 'ProcessingMethod',
       'BorrowerName', 'BorrowerAddress', 'BorrowerCity', 'BorrowerState',
       'BorrowerZip', 'LoanStatusDate', 'LoanStatus', 'Term',
       'SBAGuarantyPercentage', 'InitialApprovalAmount',
       'CurrentApprovalAmount', 'UndisbursedAmount', 'FranchiseName',
       'ServicingLenderLocationID', 'ServicingLenderName',
       'ServicingLenderAddress', 'ServicingLenderCity', 'ServicingLenderState',
       'ServicingLenderZip', 'RuralUrbanIndicator', 'HubzoneIndicator',
       'LMIIndicator', 'BusinessAgeDescription', 'ProjectCity',
       'ProjectCountyName', 'ProjectState', 'ProjectZip', 'CD', 'JobsReported',
       'NAICSCode', 'Race', 'Ethnicity', 'UTILITIES_PROCEED',
       'PAYROLL_PROCEED', 'MORTGAGE_INTEREST_PROCEED', 'RENT_PROCEED',
       'REFINANCE_EIDL_PROCEED', 'HEALTH_CARE_PROCEED',
       'DEBT_INTEREST_PROCEED', 'BusinessType', 'OriginatingLenderLocationID',
       'OriginatingLender', 'OriginatingLenderCity', 'OriginatingLenderState',
       'Gender', 'Veteran', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDate'],
      dtype='object')
53
53

In [7]:
pd.set_option('display.max_columns', None)
print(ppp_df_21.isnull().sum())

LoanNumber                          0
DateApproved                        0
SBAOfficeCode                       0
ProcessingMethod                    0
BorrowerName                        4
BorrowerAddress                     6
BorrowerCity                        4
BorrowerState                       0
BorrowerZip                        12
LoanStatusDate                 281932
LoanStatus                          0
Term                                0
SBAGuarantyPercentage               0
InitialApprovalAmount               0
CurrentApprovalAmount               0
UndisbursedAmount                 219
FranchiseName                  933151
ServicingLenderLocationID           0
ServicingLenderName                 0
ServicingLenderAddress              0
ServicingLenderCity                 0
ServicingLenderState                0
ServicingLenderZip                  0
RuralUrbanIndicator                 0
HubzoneIndicator                    0
LMIIndicator                        0
BusinessAgeDescription              1
ProjectCity                        13
ProjectCountyName                  57
ProjectState                        9
ProjectZip                         14
CD                                 46
JobsReported                        1
NAICSCode                        6632
Race                                0
Ethnicity                           0
UTILITIES_PROCEED              629071
PAYROLL_PROCEED                  1824
MORTGAGE_INTEREST_PROCEED      922101
RENT_PROCEED                   868916
REFINANCE_EIDL_PROCEED         945363
HEALTH_CARE_PROCEED            910989
DEBT_INTEREST_PROCEED          936594
BusinessType                      728
OriginatingLenderLocationID         0
OriginatingLender                   0
OriginatingLenderCity               0
OriginatingLenderState              0
Gender                              0
Veteran                             0
NonProfit                      910149
ForgivenessAmount              207884
ForgivenessDate                207884
dtype: int64

In [8]:
print(ppp_df_23.isnull().sum())

LoanNumber                          0
DateApproved                        0
SBAOfficeCode                       0
ProcessingMethod                    0
BorrowerName                        4
BorrowerAddress                    14
BorrowerCity                       12
BorrowerState                      13
BorrowerZip                        13
LoanStatusDate                  16825
LoanStatus                          0
Term                                0
SBAGuarantyPercentage               0
InitialApprovalAmount               0
CurrentApprovalAmount               0
UndisbursedAmount                  46
FranchiseName                  930147
ServicingLenderLocationID           0
ServicingLenderName                 0
ServicingLenderAddress              0
ServicingLenderCity                 0
ServicingLenderState                0
ServicingLenderZip                  0
RuralUrbanIndicator                 0
HubzoneIndicator                    0
LMIIndicator                        0
BusinessAgeDescription              1
ProjectCity                        13
ProjectCountyName                  57
ProjectState                        9
ProjectZip                         14
CD                                 46
JobsReported                        1
NAICSCode                        6628
Race                                0
Ethnicity                           0
UTILITIES_PROCEED              627203
PAYROLL_PROCEED                  1827
MORTGAGE_INTEREST_PROCEED      920028
RENT_PROCEED                   866328
REFINANCE_EIDL_PROCEED         942704
HEALTH_CARE_PROCEED            908126
DEBT_INTEREST_PROCEED          933856
BusinessType                      720
OriginatingLenderLocationID         0
OriginatingLender                   0
OriginatingLenderCity               0
OriginatingLenderState              0
Gender                              0
Veteran                             0
NonProfit                      906202
ForgivenessAmount               26515
ForgivenessDate                 26515
dtype: int64

In [9]:
print(ppp_df_21.dtypes)

LoanNumber                       int64
DateApproved                    object
SBAOfficeCode                    int64
ProcessingMethod                object
BorrowerName                    object
BorrowerAddress                 object
BorrowerCity                    object
BorrowerState                   object
BorrowerZip                    float64
LoanStatusDate                  object
LoanStatus                      object
Term                             int64
SBAGuarantyPercentage            int64
InitialApprovalAmount          float64
CurrentApprovalAmount          float64
UndisbursedAmount              float64
FranchiseName                   object
ServicingLenderLocationID        int64
ServicingLenderName             object
ServicingLenderAddress          object
ServicingLenderCity             object
ServicingLenderState            object
ServicingLenderZip              object
RuralUrbanIndicator             object
HubzoneIndicator                object
LMIIndicator                    object
BusinessAgeDescription          object
ProjectCity                     object
ProjectCountyName               object
ProjectState                    object
ProjectZip                      object
CD                              object
JobsReported                   float64
NAICSCode                      float64
Race                            object
Ethnicity                       object
UTILITIES_PROCEED              float64
PAYROLL_PROCEED                float64
MORTGAGE_INTEREST_PROCEED      float64
RENT_PROCEED                   float64
REFINANCE_EIDL_PROCEED         float64
HEALTH_CARE_PROCEED            float64
DEBT_INTEREST_PROCEED          float64
BusinessType                    object
OriginatingLenderLocationID      int64
OriginatingLender               object
OriginatingLenderCity           object
OriginatingLenderState          object
Gender                          object
Veteran                         object
NonProfit                       object
ForgivenessAmount              float64
ForgivenessDate                 object
dtype: object

In [10]:
print(ppp_df_23.dtypes)
pd.reset_option('all', silent=True)

LoanNumber                       int64
DateApproved                    object
SBAOfficeCode                    int64
ProcessingMethod                object
BorrowerName                    object
BorrowerAddress                 object
BorrowerCity                    object
BorrowerState                   object
BorrowerZip                     object
LoanStatusDate                  object
LoanStatus                      object
Term                             int64
SBAGuarantyPercentage            int64
InitialApprovalAmount          float64
CurrentApprovalAmount          float64
UndisbursedAmount              float64
FranchiseName                   object
ServicingLenderLocationID        int64
ServicingLenderName             object
ServicingLenderAddress          object
ServicingLenderCity             object
ServicingLenderState            object
ServicingLenderZip              object
RuralUrbanIndicator             object
HubzoneIndicator                object
LMIIndicator                    object
BusinessAgeDescription          object
ProjectCity                     object
ProjectCountyName               object
ProjectState                    object
ProjectZip                      object
CD                              object
JobsReported                   float64
NAICSCode                      float64
Race                            object
Ethnicity                       object
UTILITIES_PROCEED              float64
PAYROLL_PROCEED                float64
MORTGAGE_INTEREST_PROCEED      float64
RENT_PROCEED                   float64
REFINANCE_EIDL_PROCEED         float64
HEALTH_CARE_PROCEED            float64
DEBT_INTEREST_PROCEED          float64
BusinessType                    object
OriginatingLenderLocationID      int64
OriginatingLender               object
OriginatingLenderCity           object
OriginatingLenderState          object
Gender                          object
Veteran                         object
NonProfit                       object
ForgivenessAmount              float64
ForgivenessDate                 object
dtype: object

In [11]:
state_counts21 = ppp_df_21["BorrowerState"].value_counts()
print(state_counts21)

CA    130622
TX     76185
NY     74113
FL     60041
IL     40815
PA     38537
OH     32650
NJ     32533
MI     29809
MA     27471
GA     25832
WA     23755
VA     23266
NC     22826
CO     19742
MN     19730
MD     18979
WI     17354
IN     16601
MO     16350
TN     15869
AZ     15796
LA     13668
OR     13456
CT     12893
AL     10912
SC     10743
OK      9997
UT      9295
KY      9179
IA      8295
NV      8262
KS      8202
AR      5857
NE      5804
MS      5502
NH      5078
HI      4980
NM      4485
ID      4416
DC      4399
ME      4185
RI      3792
WV      3365
ND      3222
MT      3144
DE      2996
PR      2952
SD      2695
AK      2663
VT      2270
WY      2139
GU       443
VI       290
MP        82
AS        20
Name: BorrowerState, dtype: int64

In [12]:
state_counts23 = ppp_df_23["BorrowerState"].value_counts()
print(state_counts23)

CA    129085
TX     76061
NY     73819
FL     60002
IL     40763
PA     38500
OH     32639
NJ     32515
MI     29791
MA     27179
GA     25787
WA     23619
VA     23224
NC     22796
MN     19720
CO     19669
MD     18955
WI     17346
IN     16594
MO     16339
TN     15864
AZ     15757
LA     13669
OR     13403
CT     12882
AL     10912
SC     10739
OK      9995
UT      9258
KY      9178
IA      8295
NV      8254
KS      8201
AR      5857
NE      5804
MS      5504
NH      5069
HI      4979
NM      4482
ID      4415
DC      4383
ME      4185
RI      3786
WV      3365
ND      3222
MT      3142
DE      2990
PR      2952
SD      2695
AK      2662
VT      2265
WY      2137
GU       443
VI       290
MP        82
AS        20
Name: BorrowerState, dtype: int64

<h5>Post Label Process Output File

In [13]:
csvpath_21_post = "../data/ppp_pipe.csv"
csvpath_23_post = "../data/ppp_pipe23.csv"

In [14]:
size21_post= os.path.getsize(csvpath_21_post)/1024**2
size23_post= os.path.getsize(csvpath_23_post)/1024**2
print(size21_post)
print(size23_post)

476.6720838546753
480.8952684402466

In [15]:
ppp_df_21_post = pd.read_csv(csvpath_21_post, index_col=0)
ppp_df_23_post = pd.read_csv(csvpath_23_post, index_col=0)

In [16]:
print(ppp_df_21_post.shape[0])
print(ppp_df_23_post.shape[0])

968557
965552

In [17]:
print(ppp_df_21_post.columns)
print(ppp_df_23_post.columns)
print(len(ppp_df_21_post.columns))
print(len(ppp_df_23_post.columns))

Index(['LoanNumber', 'DateApprovedTS', 'SBAOfficeCode', 'SBAOfficeLabel',
       'ProcessingMethod', 'BorrowerName', 'BorrowerState', 'LoanStatusDate',
       'LoanStatus', 'Term', 'CurrentApprovalAmount', 'UndisbursedAmount',
       'FranchiseName', 'ServicingLenderLocationID', 'ServicingLenderName',
       'RuralUrbanIndicator', 'HubzoneIndicator', 'LMIIndicator', 'CD',
       'JobsReported', 'OriginatingLenderLocationID', 'OriginatingLender',
       'OriginatingLenderCity', 'OriginatingLenderState', 'BusinessType',
       'BusinessAgeDescription', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDateTS', 'Estimated_LenderPercent',
       'Estimated_LenderProfit', 'NA', '4DigitNAICS', 'NAICSCode', 'Industry',
       'IndustrySubsector', 'TRIIndustrySector', 'Loan_Range', 'job_Range',
       'LongName', 'full_add'],
      dtype='object')
Index(['LoanNumber', 'DateApprovedTS', 'SBAOfficeCode', 'SBAOfficeLabel',
       'ProcessingMethod', 'BorrowerName', 'BorrowerState', 'LoanStatusDate',
       'LoanStatus', 'Term', 'CurrentApprovalAmount', 'UndisbursedAmount',
       'FranchiseName', 'ServicingLenderLocationID', 'ServicingLenderName',
       'RuralUrbanIndicator', 'HubzoneIndicator', 'LMIIndicator', 'CD',
       'JobsReported', 'OriginatingLenderLocationID', 'OriginatingLender',
       'OriginatingLenderCity', 'OriginatingLenderState', 'BusinessType',
       'BusinessAgeDescription', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDateTS', 'Estimated_LenderPercent',
       'Estimated_LenderProfit', 'NA', '4DigitNAICS', 'NAICSCode', 'Industry',
       'IndustrySubsector', 'TRIIndustrySector', 'Loan_Range', 'job_Range',
       'LongName', 'full_add'],
      dtype='object')
41
41

In [18]:
pd.set_option('display.max_columns', None)
print(ppp_df_21_post.isnull().sum())

LoanNumber                          0
DateApprovedTS                      0
SBAOfficeCode                       0
SBAOfficeLabel                      0
ProcessingMethod                    0
BorrowerName                        4
BorrowerState                       0
LoanStatusDate                 281932
LoanStatus                          0
Term                                0
CurrentApprovalAmount               0
UndisbursedAmount                 219
FranchiseName                  933151
ServicingLenderLocationID           0
ServicingLenderName                 0
RuralUrbanIndicator                 0
HubzoneIndicator                    0
LMIIndicator                        0
CD                                 46
JobsReported                        1
OriginatingLenderLocationID         0
OriginatingLender                   0
OriginatingLenderCity               0
OriginatingLenderState              0
BusinessType                        0
BusinessAgeDescription              0
NonProfit                           0
ForgivenessAmount              207884
ForgivenessDateTS                   0
Estimated_LenderPercent             0
Estimated_LenderProfit              0
NA                                  0
4DigitNAICS                         0
NAICSCode                           0
Industry                            0
IndustrySubsector                   0
TRIIndustrySector               12182
Loan_Range                          0
job_Range                           0
LongName                            0
full_add                            6
dtype: int64

In [19]:
print(ppp_df_23_post.isnull().sum())

LoanNumber                          0
DateApprovedTS                      0
SBAOfficeCode                       0
SBAOfficeLabel                      0
ProcessingMethod                    0
BorrowerName                        4
BorrowerState                      13
LoanStatusDate                  16825
LoanStatus                          0
Term                                0
CurrentApprovalAmount               0
UndisbursedAmount                  46
FranchiseName                  930147
ServicingLenderLocationID           0
ServicingLenderName                 0
RuralUrbanIndicator                 0
HubzoneIndicator                    0
LMIIndicator                        0
CD                                 46
JobsReported                        1
OriginatingLenderLocationID         0
OriginatingLender                   0
OriginatingLenderCity               0
OriginatingLenderState              0
BusinessType                        0
BusinessAgeDescription              0
NonProfit                           0
ForgivenessAmount               26515
ForgivenessDateTS                   0
Estimated_LenderPercent             0
Estimated_LenderProfit              0
NA                                  0
4DigitNAICS                         0
NAICSCode                           0
Industry                            0
IndustrySubsector                   0
TRIIndustrySector               12162
Loan_Range                          0
job_Range                           0
LongName                            0
full_add                           19
dtype: int64

In [20]:
print(ppp_df_21_post.dtypes)

LoanNumber                       int64
DateApprovedTS                   int64
SBAOfficeCode                    int64
SBAOfficeLabel                  object
ProcessingMethod                object
BorrowerName                    object
BorrowerState                   object
LoanStatusDate                  object
LoanStatus                      object
Term                             int64
CurrentApprovalAmount          float64
UndisbursedAmount              float64
FranchiseName                   object
ServicingLenderLocationID        int64
ServicingLenderName             object
RuralUrbanIndicator             object
HubzoneIndicator                object
LMIIndicator                    object
CD                              object
JobsReported                   float64
OriginatingLenderLocationID      int64
OriginatingLender               object
OriginatingLenderCity           object
OriginatingLenderState          object
BusinessType                    object
BusinessAgeDescription          object
NonProfit                       object
ForgivenessAmount              float64
ForgivenessDateTS               object
Estimated_LenderPercent         object
Estimated_LenderProfit         float64
NA                               int64
4DigitNAICS                      int64
NAICSCode                        int64
Industry                        object
IndustrySubsector               object
TRIIndustrySector               object
Loan_Range                      object
job_Range                       object
LongName                        object
full_add                        object
dtype: object

In [21]:
print(ppp_df_23_post.dtypes)
pd.reset_option('all', silent=True)

LoanNumber                       int64
DateApprovedTS                   int64
SBAOfficeCode                    int64
SBAOfficeLabel                  object
ProcessingMethod                object
BorrowerName                    object
BorrowerState                   object
LoanStatusDate                  object
LoanStatus                      object
Term                             int64
CurrentApprovalAmount          float64
UndisbursedAmount              float64
FranchiseName                   object
ServicingLenderLocationID        int64
ServicingLenderName             object
RuralUrbanIndicator             object
HubzoneIndicator                object
LMIIndicator                    object
CD                              object
JobsReported                   float64
OriginatingLenderLocationID      int64
OriginatingLender               object
OriginatingLenderCity           object
OriginatingLenderState          object
BusinessType                    object
BusinessAgeDescription          object
NonProfit                       object
ForgivenessAmount              float64
ForgivenessDateTS               object
Estimated_LenderPercent         object
Estimated_LenderProfit         float64
NA                               int64
4DigitNAICS                      int64
NAICSCode                        int64
Industry                        object
IndustrySubsector               object
TRIIndustrySector               object
Loan_Range                      object
job_Range                       object
LongName                        object
full_add                        object
dtype: object

<h4>Main Hashing PipeLine Check

In [22]:
csvpath_21_hash = "../data/ppp_hash.csv"
csvpath_23_hash = "../data/ppp_hash23.csv"
csvpath_21_hashSort = "../data/ppp_hashSort.csv"
csvpath_23_hashSort = "../data/ppp_hashSort23.csv"

In [23]:
size21_hash= os.path.getsize(csvpath_21_hash)/1024**2
size23_hash= os.path.getsize(csvpath_23_hash)/1024**2
size21_hashSort= os.path.getsize(csvpath_21_hashSort)/1024**2
size23_hashSort= os.path.getsize(csvpath_23_hashSort)/1024**2
print(size21_hash)
print(size23_hash)
print(size21_hashSort)
print(size23_hashSort)

146.95548343658447
146.49556636810303
108.19139385223389
107.85181713104248

In [24]:
ppp_df_21_hash = pd.read_csv(csvpath_21_hash,index_col=0) 
ppp_df_23_hash = pd.read_csv(csvpath_23_hash,index_col=0) 
ppp_df_21_hashSort = pd.read_csv(csvpath_21_hashSort,index_col=0) 
ppp_df_23_hashSort = pd.read_csv(csvpath_23_hashSort,index_col=0)

In [25]:
print(ppp_df_21_hash.shape[0])
print(ppp_df_23_hash.shape[0])
print(ppp_df_21_hashSort.shape[0])
print(ppp_df_23_hashSort.shape[0])

968557
965552
968557
965552

In [26]:
print(ppp_df_21_hash.columns)
print(len(ppp_df_21_hash.columns))

print(ppp_df_23_hash.columns)
print(len(ppp_df_23_hash.columns))

print(ppp_df_21_hashSort.columns)
print(len(ppp_df_21_hashSort.columns))

print(ppp_df_23_hashSort.columns)
print(len(ppp_df_23_hashSort.columns))

Index(['LoanNumber', 'INDSScode', 'INDcode', 'SScode', 'LRcode', 'JRcode',
       'BTcode', 'BAcode', 'PMcode', 'HASHcodePM', 'Industry',
       'IndustrySubsector'],
      dtype='object')
12
Index(['LoanNumber', 'INDSScode', 'INDcode', 'SScode', 'LRcode', 'JRcode',
       'BTcode', 'BAcode', 'PMcode', 'HASHcodePM', 'Industry',
       'IndustrySubsector'],
      dtype='object')
12
Index(['LoanNumber', 'HASHcodePM', 'Industry', 'IndustrySubsector'], dtype='object')
4
Index(['LoanNumber', 'HASHcodePM', 'Industry', 'IndustrySubsector'], dtype='object')
4

In [70]:
set(ppp_df_21_hash.columns).symmetric_difference(ppp_df_21_hashSort.columns)

{'BAcode',
 'BTcode',
 'INDSScode',
 'INDcode',
 'JRcode',
 'LRcode',
 'PMcode',
 'SScode'}

In [27]:
print(ppp_df_21_hash.isnull().sum())
print(ppp_df_23_hash.isnull().sum())
print(ppp_df_21_hashSort.isnull().sum())
print(ppp_df_23_hashSort.isnull().sum())

LoanNumber           0
INDSScode            0
INDcode              0
SScode               0
LRcode               0
JRcode               0
BTcode               0
BAcode               0
PMcode               0
HASHcodePM           0
Industry             0
IndustrySubsector    0
dtype: int64
LoanNumber           0
INDSScode            0
INDcode              0
SScode               0
LRcode               0
JRcode               0
BTcode               0
BAcode               0
PMcode               0
HASHcodePM           0
Industry             0
IndustrySubsector    0
dtype: int64
LoanNumber           0
HASHcodePM           0
Industry             0
IndustrySubsector    0
dtype: int64
LoanNumber           0
HASHcodePM           0
Industry             0
IndustrySubsector    0
dtype: int64

In [28]:
pd.set_option('display.max_rows', 70)
print(ppp_df_21_hash.dtypes)
print(ppp_df_23_hash.dtypes)
print(ppp_df_21_hashSort.dtypes)
print(ppp_df_23_hashSort.dtypes)

LoanNumber            int64
INDSScode            object
INDcode              object
SScode               object
LRcode               object
JRcode               object
BTcode               object
BAcode               object
PMcode               object
HASHcodePM           object
Industry             object
IndustrySubsector    object
dtype: object
LoanNumber            int64
INDSScode            object
INDcode              object
SScode               object
LRcode               object
JRcode               object
BTcode               object
BAcode               object
PMcode               object
HASHcodePM           object
Industry             object
IndustrySubsector    object
dtype: object
LoanNumber            int64
HASHcodePM           object
Industry             object
IndustrySubsector    object
dtype: object
LoanNumber            int64
HASHcodePM           object
Industry             object
IndustrySubsector    object
dtype: object

<h4>Main Concat PipeLine Check

In [29]:
csvpath_21_con = ("../data/pipe_hpgf.csv")
csvpath_23_con = ("../data/pipe_hpgf23.csv")

In [30]:
size21_con= os.path.getsize(csvpath_21_con)/1024**2
size23_con= os.path.getsize(csvpath_23_con)/1024**2
print(size21_con)
print(size23_con)

481.99748611450195
492.55011653900146

In [31]:
ppp_df_21_con = pd.read_csv(csvpath_21_con,index_col=0)
ppp_df_23_con = pd.read_csv(csvpath_23_con)
ppp_df_23_con = ppp_df_23_con.loc[:, ~ppp_df_23_con.columns.str.contains('^Unnamed')]

In [32]:
print(ppp_df_21_con.shape[0])
print(ppp_df_23_con.shape[0])

968557
965552

In [33]:
print(ppp_df_21_con.columns)
print(len(ppp_df_21_con.columns))
print(ppp_df_23_con.columns)
print(len(ppp_df_23_con.columns))

Index(['LoanNumber', 'HASHcodePM', 'Industry', 'IndustrySubsector',
       'DateApprovedTS', 'SBAOfficeCode', 'SBAOfficeLabel', 'ProcessingMethod',
       'BorrowerName', 'BorrowerState', 'LoanStatusDate', 'LoanStatus', 'Term',
       'CurrentApprovalAmount', 'UndisbursedAmount', 'FranchiseName',
       'ServicingLenderLocationID', 'ServicingLenderName', 'CD',
       'JobsReported', 'OriginatingLenderLocationID', 'OriginatingLender',
       'OriginatingLenderCity', 'OriginatingLenderState', 'BusinessType',
       'BusinessAgeDescription', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDateTS', 'Estimated_LenderPercent',
       'Estimated_LenderProfit', 'LongName', 'full_add', 'Lat', 'Long',
       'FIPS_z'],
      dtype='object')
36
Index(['LoanNumber', 'DateApprovedTS', 'SBAOfficeCode', 'SBAOfficeLabel',
       'ProcessingMethod', 'BorrowerName', 'BorrowerState', 'LoanStatusDate',
       'LoanStatus', 'Term', 'CurrentApprovalAmount', 'UndisbursedAmount',
       'FranchiseName', 'ServicingLenderLocationID', 'ServicingLenderName',
       'CD', 'JobsReported', 'OriginatingLenderLocationID',
       'OriginatingLender', 'OriginatingLenderCity', 'OriginatingLenderState',
       'BusinessType', 'BusinessAgeDescription', 'NonProfit',
       'ForgivenessAmount', 'ForgivenessDateTS', 'Estimated_LenderPercent',
       'Estimated_LenderProfit', 'LongName', 'full_add', 'HASHcodePM',
       'Industry', 'IndustrySubsector', 'Lat', 'Long', 'FIPS_z'],
      dtype='object')
36

In [71]:
set(ppp_df_23_con.columns).symmetric_difference(ppp_df_21_con.columns)

set()

In [34]:
print(ppp_df_21_con.isnull().sum())

LoanNumber                          0
HASHcodePM                          0
Industry                            0
IndustrySubsector                   0
DateApprovedTS                      0
SBAOfficeCode                       0
SBAOfficeLabel                      0
ProcessingMethod                    0
BorrowerName                        4
BorrowerState                       0
LoanStatusDate                 281932
LoanStatus                          0
Term                                0
CurrentApprovalAmount               0
UndisbursedAmount                 219
FranchiseName                  933151
ServicingLenderLocationID           0
ServicingLenderName                 0
CD                                 46
JobsReported                        1
OriginatingLenderLocationID         0
OriginatingLender                   0
OriginatingLenderCity               0
OriginatingLenderState              0
BusinessType                        0
BusinessAgeDescription              0
NonProfit                           0
ForgivenessAmount              207884
ForgivenessDateTS                   0
Estimated_LenderPercent             0
Estimated_LenderProfit              0
LongName                            0
full_add                            6
Lat                               139
Long                              139
FIPS_z                            926
dtype: int64

In [35]:
print(ppp_df_23_con.isnull().sum())

LoanNumber                          0
DateApprovedTS                      0
SBAOfficeCode                       0
SBAOfficeLabel                      0
ProcessingMethod                    0
BorrowerName                        4
BorrowerState                      13
LoanStatusDate                  16825
LoanStatus                          0
Term                                0
CurrentApprovalAmount               0
UndisbursedAmount                  46
FranchiseName                  930147
ServicingLenderLocationID           0
ServicingLenderName                 0
CD                                 46
JobsReported                        1
OriginatingLenderLocationID         0
OriginatingLender                   0
OriginatingLenderCity               0
OriginatingLenderState              0
BusinessType                        0
BusinessAgeDescription              0
NonProfit                           0
ForgivenessAmount               26515
ForgivenessDateTS                   0
Estimated_LenderPercent             0
Estimated_LenderProfit              0
LongName                            0
full_add                            6
HASHcodePM                          0
Industry                            0
IndustrySubsector                   0
Lat                               153
Long                              153
FIPS_z                            940
dtype: int64

In [36]:
pd.set_option('display.max_rows', None)
print(ppp_df_21_con.dtypes)

LoanNumber                       int64
HASHcodePM                      object
Industry                        object
IndustrySubsector               object
DateApprovedTS                   int64
SBAOfficeCode                    int64
SBAOfficeLabel                  object
ProcessingMethod                object
BorrowerName                    object
BorrowerState                   object
LoanStatusDate                  object
LoanStatus                      object
Term                             int64
CurrentApprovalAmount          float64
UndisbursedAmount              float64
FranchiseName                   object
ServicingLenderLocationID        int64
ServicingLenderName             object
CD                              object
JobsReported                   float64
OriginatingLenderLocationID      int64
OriginatingLender               object
OriginatingLenderCity           object
OriginatingLenderState          object
BusinessType                    object
BusinessAgeDescription          object
NonProfit                       object
ForgivenessAmount              float64
ForgivenessDateTS               object
Estimated_LenderPercent         object
Estimated_LenderProfit         float64
LongName                        object
full_add                        object
Lat                            float64
Long                           float64
FIPS_z                         float64
dtype: object

In [37]:
print(ppp_df_23_con.dtypes)

LoanNumber                       int64
DateApprovedTS                   int64
SBAOfficeCode                    int64
SBAOfficeLabel                  object
ProcessingMethod                object
BorrowerName                    object
BorrowerState                   object
LoanStatusDate                  object
LoanStatus                      object
Term                             int64
CurrentApprovalAmount          float64
UndisbursedAmount              float64
FranchiseName                   object
ServicingLenderLocationID        int64
ServicingLenderName             object
CD                              object
JobsReported                   float64
OriginatingLenderLocationID      int64
OriginatingLender               object
OriginatingLenderCity           object
OriginatingLenderState          object
BusinessType                    object
BusinessAgeDescription          object
NonProfit                       object
ForgivenessAmount              float64
ForgivenessDateTS               object
Estimated_LenderPercent         object
Estimated_LenderProfit         float64
LongName                        object
full_add                        object
HASHcodePM                      object
Industry                        object
IndustrySubsector               object
Lat                            float64
Long                           float64
FIPS_z                         float64
dtype: object

In [38]:
pd.reset_option('all', silent=True) #disables display option

<h3>Geoprocessing NoteBooks

<h4>Geocode Check

In [39]:
csvpath_geo = ("../data/state_data/geo/ppp_geo.csv")

In [40]:
size_geo= os.path.getsize(csvpath_geo)/1024**2
print(size_geo)

79.40129470825195

In [41]:
ppp_df_geo = pd.read_csv(csvpath_geo, index_col=0)

In [42]:
print(ppp_df_geo.shape[0])

968557

In [43]:
print(ppp_df_geo.columns)

Index(['LoanNumber', 'BorrowerState', 'full_add', 'Lat', 'Long', 'FIPS_z'], dtype='object')

In [44]:
print(ppp_df_geo.isnull().sum()) #note: has less null lat, long than geo_fips

LoanNumber            0
BorrowerState         0
full_add              6
Lat                  44
Long                 44
FIPS_z           876018
dtype: int64

In [45]:
print(ppp_df_geo.dtypes)

LoanNumber         int64
BorrowerState     object
full_add          object
Lat              float64
Long             float64
FIPS_z           float64
dtype: object

<h4>Selenium FIPS Check

In [46]:
csvpath_fips = ("../data/state_data/geo/ppp_geo_fips.csv") #merged with 23, does not include geoprocessng for row differences b/w 21/23

In [47]:
size_fips= os.path.getsize(csvpath_fips)/1024**2
print(size_fips)

91.65999984741211

In [48]:
ppp_df_fips = pd.read_csv(csvpath_fips, index_col=0)

In [49]:
print(ppp_df_fips.shape[0])

968557

In [50]:
print(ppp_df_fips.columns)

Index(['LoanNumber', 'BorrowerState', 'full_add', 'Lat', 'Long', 'FIPS_z'], dtype='object')

In [51]:
print(ppp_df_fips.isnull().sum())

LoanNumber         0
BorrowerState      0
full_add           6
Lat              139
Long             139
FIPS_z           926
dtype: int64

In [52]:
print(ppp_df_fips.dtypes)

LoanNumber         int64
BorrowerState     object
full_add          object
Lat              float64
Long             float64
FIPS_z           float64
dtype: object

<h4>State Process Checks

In [53]:
path21_hpgf =pd.read_csv("../data/pipe_hpgf.csv", index_col=0)
path23_hpgf =pd.read_csv("../data/pipe_hpgf23.csv")

21

In [54]:
state_counts21 = path21_hpgf["BorrowerState"].value_counts()
state_counts21

CA    130622
TX     76185
NY     74113
FL     60041
IL     40815
PA     38537
OH     32650
NJ     32533
MI     29809
MA     27471
GA     25832
WA     23755
VA     23266
NC     22826
CO     19742
MN     19730
MD     18979
WI     17354
IN     16601
MO     16350
TN     15869
AZ     15796
LA     13668
OR     13456
CT     12893
AL     10912
SC     10743
OK      9997
UT      9295
KY      9179
IA      8295
NV      8262
KS      8202
AR      5857
NE      5804
MS      5502
NH      5078
HI      4980
NM      4485
ID      4416
DC      4399
ME      4185
RI      3792
WV      3365
ND      3222
MT      3144
DE      2996
PR      2952
SD      2695
AK      2663
VT      2270
WY      2139
GU       443
VI       290
MP        82
AS        20
Name: BorrowerState, dtype: int64

In [55]:
cols = ["full_add","Lat","Long","FIPS_z"]
null21= path21_hpgf[cols].isnull()
null21.value_counts()

full_add  Lat    Long   FIPS_z
False     False  False  False     967631
                        True         781
          True   True   True         139
True      False  False  True           6
dtype: int64

In [56]:
path21_hpgf[path21_hpgf.columns[path21_hpgf.isnull().any()]].isnull().sum()

BorrowerName              4
LoanStatusDate       281932
UndisbursedAmount       219
FranchiseName        933151
CD                       46
JobsReported              1
ForgivenessAmount    207884
full_add                  6
Lat                     139
Long                    139
FIPS_z                  926
dtype: int64

In [57]:
path21_hpgf.groupby('BorrowerState')[['full_add','Lat','Long','FIPS_z']].apply(lambda x: x.isna().sum())

               full_add  Lat  Long  FIPS_z
BorrowerState
AK                    0    5     5      11
AL                    0    8     8      31
AR                    0    2     2       6
AS                    0    0     0       0
AZ                    0    0     0      10
CA                    1    0     0      17
CO                    1    2     2       9
CT                    0    1     1       4
DC                    0    0     0       8
DE                    0    0     0       3
FL                    0   13    13      26
GA                    0    1     1      11
GU                    0    0     0       1
HI                    0    1     1       1
IA                    0    1     1      25
ID                    0    2     2       5
IL                    0    2     2      36
IN                    0   28    28      63
KS                    0    0     0      31
KY                    0    0     0      16
LA                    0    0     0      57
MA                    0    3     3      11
MD                    0    0     0      13
ME                    0    2     2       6
MI                    0   14    14      35
MN                    0    1     1      34
MO                    0    0     0      35
MP                    0    0     0       0
MS                    0    1     1      19
MT                    0    0     0      10
NC                    0   11    11      27
ND                    0    0     0      10
NE                    0    1     1      19
NH                    0    0     0       3
NJ                    0    3     3      27
NM                    0    4     4       9
NV                    0    0     0       9
NY                    1    1     1      63
OH                    0    1     1      11
OK                    0    0     0      22
OR                    0    6     6      14
PA                    0    8     8      41
PR                    0    2     2      17
RI                    0    0     0       0
SC                    1    0     0       5
SD                    0    0     0       2
TN                    0    3     3      27
TX                    2    4     4      30
UT                    0    0     0       2
VA                    0    0     0      11
VI                    0    1     1       1
VT                    0    0     0       4
WA                    0    4     4       9
WI                    0    2     2      15
WV                    0    1     1       9
WY                    0    0     0       5

In [65]:
pd.set_option('display.max_columns', None)
path21_hpgf[path21_hpgf.columns.difference(['BorrowerState'])].isnull().groupby(path21_hpgf.BorrowerState).sum().astype(int)

,BorrowerName,BusinessAgeDescription,BusinessType,CD,CurrentApprovalAmount,DateApprovedTS,Estimated_LenderPercent,Estimated_LenderProfit,FIPS_z,ForgivenessAmount,ForgivenessDateTS,FranchiseName,HASHcodePM,Industry,IndustrySubsector,JobsReported,Lat,LoanNumber,LoanStatus,LoanStatusDate,Long,LongName,NonProfit,OriginatingLender,OriginatingLenderCity,OriginatingLenderLocationID,OriginatingLenderState,ProcessingMethod,SBAOfficeCode,SBAOfficeLabel,ServicingLenderLocationID,ServicingLenderName,Term,UndisbursedAmount,full_add
BorrowerState,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
AK,1,0,0,0,0,0,0,0,11,701,0,2587,0,0,0,0,5,0,0,911,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0
AL,0,0,0,2,0,0,0,0,31,2024,0,10509,0,0,0,0,8,0,0,3007,8,0,0,0,0,0,0,0,0,0,0,0,0,6,0
AR,0,0,0,0,0,0,0,0,6,797,0,5583,0,0,0,0,2,0,0,1073,2,0,0,0,0,0,0,0,0,0,0,0,0,2,0
AS,0,0,0,0,0,0,0,0,0,4,0,20,0,0,0,0,0,0,0,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
AZ,0,0,0,0,0,0,0,0,10,3335,0,15134,0,0,0,0,0,0,0,4264,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0
CA,1,0,0,14,0,0,0,0,17,36394,0,126213,0,0,0,0,0,0,0,47425,0,0,0,0,0,0,0,0,0,0,0,0,0,28,1
CO,0,0,0,1,0,0,0,0,9,3602,0,19011,0,0,0,0,2,0,0,4810,2,0,0,0,0,0,0,0,0,0,0,0,0,7,1
CT,0,0,0,2,0,0,0,0,4,2761,0,12492,0,0,0,0,1,0,0,3577,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
DC,0,0,0,0,0,0,0,0,8,1325,0,4371,0,0,0,0,0,0,0,1712,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
DE,0,0,0,0,0,0,0,0,3,686,0,2894,0,0,0,0,0,0,0,969,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
FL,0,0,0,1,0,0,0,0,26,15048,0,58090,0,0,0,0,13,0,0,19325,13,0,0,0,0,0,0,0,0,0,0,0,0,21,0
GA,0,0,0,0,0,0,0,0,11,5352,0,24659,0,0,0,0,1,0,0,7002,1,0,0,0,0,0,0,0,0,0,0,0,0,10,0
GU,0,0,0,0,0,0,0,0,1,102,0,420,0,0,0,0,0,0,0,146,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
HI,0,0,0,0,0,0,0,0,1,1102,0,4881,0,0,0,0,1,0,0,1505,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
IA,0,0,0,0,0,0,0,0,25,810,0,7969,0,0,0,0,1,0,0,1361,1,0,0,0,0,0,0,0,0,0,0,0,0,4,0
ID,0,0,0,0,0,0,0,0,5,572,0,4225,0,0,0,0,2,0,0,902,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0
IL,0,0,0,1,0,0,0,0,36,8231,0,39352,0,0,0,0,2,0,0,11350,2,0,0,0,0,0,0,0,0,0,0,0,0,4,0
IN,0,0,0,0,0,0,0,0,63,2344,0,15880,0,0,0,0,28,0,0,3220,28,0,0,0,0,0,0,0,0,0,0,0,0,8,0
KS,0,0,0,0,0,0,0,0,31,925,0,7780,0,0,0,0,0,0,0,1439,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0
KY,0,0,0,0,0,0,0,0,16,1465,0,8622,0,0,0,0,0,0,0,2105,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0
LA,0,0,0,0,0,0,0,0,57,3311,0,13278,0,0,0,0,0,0,0,4398,0,0,0,0,0,0,0,0,0,0,0,0,0,4,0
MA,0,0,0,0,0,0,0,0,11,5817,0,26744,0,0,0,0,3,0,0,8455,3,0,0,0,0,0,0,0,0,0,0,0,0,3,0
MD,0,0,0,0,0,0,0,0,13,4316,0,18343,0,0,0,0,0,0,0,5952,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ME,0,0,0,0,0,0,0,0,6,686,0,4038,0,0,0,0,2,0,0,932,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0
MI,0,0,0,3,0,0,0,0,35,5894,0,28619,0,0,0,0,14,0,0,8482,14,0,0,0,0,0,0,0,0,0,0,0,0,7,0
MN,0,0,0,0,0,0,0,0,34,2918,0,18915,0,0,0,0,1,0,0,4356,1,0,0,0,0,0,0,0,0,0,0,0,0,10,0
MO,0,0,0,0,0,0,0,0,35,2181,0,15670,0,0,0,0,0,0,0,3195,0,0,0,0,0,0,0,0,0,0,0,0,0,23,0
MP,0,0,0,0,0,0,0,0,0,19,0,80,0,0,0,0,0,0,0,29,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
MS,0,0,0,0,0,0,0,0,19,1099,0,5221,0,0,0,0,1,0,0,1488,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
MT,0,0,0,0,0,0,0,0,10,476,0,2952,0,0,0,0,0,0,0,645,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
NC,0,0,0,0,0,0,0,0,27,4456,0,21847,0,0,0,0,11,0,0,6118,11,0,0,0,0,0,0,0,0,0,0,0,0,2,0
ND,0,0,0,0,0,0,0,0,10,409,0,3046,0,0,0,0,0,0,0,576,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
NE,0,0,0,0,0,0,0,0,19,586,0,5539,0,0,0,0,1,0,0,891,1,0,0,0,0,0,0,0,0,0,0,0,0,2,0
NH,0,0,0,0,0,0,0,0,3,794,0,4941,0,0,0,0,0,0,0,1145,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
NJ,0,0,0,1,0,0,0,0,27,8093,0,31569,0,0,0,0,3,0,0,12407,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0
NM,0,0,0,0,0,0,0,0,9,955,0,4266,0,0,0,0,4,0,0,1328,4,0,0,0,0,0,0,0,0,0,0,0,0,9,0
NV,0,0,0,2,0,0,0,0,9,2190,0,7937,0,0,0,0,0,0,0,2852,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0
NY,1,0,0,6,0,0,0,0,63,22135,0,72589,0,0,0,0,1,0,0,29617,1,0,0,0,0,0,0,0,0,0,0,0,0,7,1
OH,0,0,0,7,0,0,0,0,11,5766,0,31279,0,0,0,0,1,0,0,7971,1,0,0,0,0,0,0,0,0,0,0,0,0,13,0
OK,0,0,0,0,0,0,0,0,22,1455,0,9661,0,0,0,0,0,0,0,1967,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
OR,1,0,0,0,0,0,0,0,14,2472,0,12999,0,0,0,0,6,0,0,3296,6,0,0,0,0,0,0,0,0,0,0,0,0,1,0
PA,0,0,0,0,0,0,0,0,41,7506,0,37228,0,0,0,0,8,0,0,10892,8,0,0,0,0,0,0,0,0,0,0,0,0,10,0
PR,0,0,0,0,0,0,0,0,17,682,0,2853,0,0,0,0,2,0,0,874,2,0,0,0,0,0,0,0,0,0,0,0,0,1,0
RI,0,0,0,0,0,0,0,0,0,700,0,3662,0,0,0,0,0,0,0,1090,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
SC,0,0,0,0,0,0,0,0,5,1962,0,10207,0,0,0,0,0,0,0,2668,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
SD,0,0,0,0,0,0,0,0,2,235,0,2505,0,0,0,0,0,0,0,429,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
TN,0,0,0,0,0,0,0,0,27,2707,0,15130,0,0,0,0,3,0,0,3821,3,0,0,0,0,0,0,0,0,0,0,0,0,1,0
TX,0,0,0,4,0,0,0,0,30,15206,0,73005,0,0,0,0,4,0,0,19696,4,0,0,0,0,0,0,0,0,0,0,0,0,9,2
UT,0,0,0,1,0,0,0,0,2,1799,0,8852,0,0,0,0,0,0,0,2454,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0
VA,0,0,0,0,0,0,0,0,11,4685,0,22316,0,0,0,1,0,0,0,6187,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0
VI,0,0,0,0,0,0,0,0,1,80,0,284,0,0,0,0,1,0,0,109,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
VT,0,0,0,0,0,0,0,0,4,377,0,2220,0,0,0,0,0,0,0,705,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
WA,0,0,0,0,0,0,0,0,9,4949,0,22935,0,0,0,0,4,0,0,6289,4,0,0,0,0,0,0,0,0,0,0,0,0,5,0
WI,0,0,0,1,0,0,0,0,15,2295,0,16523,0,0,0,0,2,0,0,3110,2,0,0,0,0,0,0,0,0,0,0,0,0,6,0
WV,0,0,0,0,0,0,0,0,9,739,0,3175,0,0,0,0,1,0,0,893,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
WY,0,0,0,0,0,0,0,0,5,354,0,2031,0,0,0,0,0,0,0,507,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [66]:
pd.reset_option('all', silent=True) #disables display option

23

In [59]:
state_counts23 = path23_hpgf["BorrowerState"].value_counts()
print(state_counts23)

CA    129085
TX     76061
NY     73819
FL     60002
IL     40763
PA     38500
OH     32639
NJ     32515
MI     29791
MA     27179
GA     25787
WA     23619
VA     23224
NC     22796
MN     19720
CO     19669
MD     18955
WI     17346
IN     16594
MO     16339
TN     15864
AZ     15757
LA     13669
OR     13403
CT     12882
AL     10912
SC     10739
OK      9995
UT      9258
KY      9178
IA      8295
NV      8254
KS      8201
AR      5857
NE      5804
MS      5504
NH      5069
HI      4979
NM      4482
ID      4415
DC      4383
ME      4185
RI      3786
WV      3365
ND      3222
MT      3142
DE      2990
PR      2952
SD      2695
AK      2662
VT      2265
WY      2137
GU       443
VI       290
MP        82
AS        20
Name: BorrowerState, dtype: int64

In [60]:
cols = ["full_add","Lat","Long","FIPS_z"]
null23= path23_hpgf[cols].isnull()
null23.value_counts()

full_add  Lat    Long   FIPS_z
False     False  False  False     964612
                        True         781
          True   True   True         153
True      False  False  True           6
dtype: int64

In [61]:
path23_hpgf[path23_hpgf.columns[path23_hpgf.isnull().any()]].isnull().sum()

BorrowerName              4
BorrowerState            13
LoanStatusDate        16825
UndisbursedAmount        46
FranchiseName        930147
CD                       46
JobsReported              1
ForgivenessAmount     26515
full_add                  6
Lat                     153
Long                    153
FIPS_z                  940
dtype: int64

In [62]:
path23_hpgf.groupby('BorrowerState')[['full_add','Lat','Long','FIPS_z']].apply(lambda x: x.isna().sum())

               full_add  Lat  Long  FIPS_z
BorrowerState
AK                    0    5     5      11
AL                    0    8     8      31
AR                    0    2     2       6
AS                    0    0     0       0
AZ                    0    0     0      10
CA                    1    3     3      20
CO                    1    2     2       9
CT                    0    1     1       4
DC                    0    0     0       7
DE                    0    0     0       3
FL                    0   14    14      27
GA                    0    1     1      11
GU                    0    0     0       1
HI                    0    1     1       1
IA                    0    1     1      25
ID                    0    2     2       5
IL                    0    2     2      36
IN                    0   28    28      63
KS                    0    0     0      31
KY                    0    0     0      16
LA                    0    0     0      57
MA                    0    3     3      11
MD                    0    0     0      13
ME                    0    2     2       6
MI                    0   14    14      35
MN                    0    1     1      34
MO                    0    0     0      35
MP                    0    0     0       0
MS                    0    1     1      19
MT                    0    0     0      10
NC                    0   13    13      29
ND                    0    0     0      10
NE                    0    1     1      19
NH                    0    0     0       3
NJ                    0    4     4      28
NM                    0    4     4       9
NV                    0    0     0       9
NY                    1    1     1      63
OH                    0    1     1      11
OK                    0    1     1      23
OR                    0    6     6      14
PA                    0    9     9      42
PR                    0    2     2      17
RI                    0    0     0       0
SC                    1    1     1       6
SD                    0    0     0       2
TN                    0    4     4      28
TX                    2    5     5      31
UT                    0    0     0       2
VA                    0    2     2      15
VI                    0    1     1       1
VT                    0    0     0       3
WA                    0    4     4       9
WI                    0    2     2      15
WV                    0    1     1       9
WY                    0    0     0       5

In [64]:
pd.set_option('display.max_columns', None)
path23_hpgf[path23_hpgf.columns.difference(['BorrowerState'])].isnull().groupby(path23_hpgf.BorrowerState).sum().astype(int)

,BorrowerName,BusinessAgeDescription,BusinessType,CD,CurrentApprovalAmount,DateApprovedTS,Estimated_LenderPercent,Estimated_LenderProfit,FIPS_z,ForgivenessAmount,ForgivenessDateTS,FranchiseName,HASHcodePM,Industry,IndustrySubsector,JobsReported,Lat,LoanNumber,LoanStatus,LoanStatusDate,Long,LongName,NonProfit,OriginatingLender,OriginatingLenderCity,OriginatingLenderLocationID,OriginatingLenderState,ProcessingMethod,SBAOfficeCode,SBAOfficeLabel,ServicingLenderLocationID,ServicingLenderName,Term,UndisbursedAmount,Unnamed: 0,Unnamed: 0.1,full_add
BorrowerState,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
AK,1,0,0,0,0,0,0,0,11,37,0,2586,0,0,0,0,5,0,0,57,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
AL,0,0,0,2,0,0,0,0,31,153,0,10509,0,0,0,0,8,0,0,95,8,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
AR,0,0,0,0,0,0,0,0,6,62,0,5583,0,0,0,0,2,0,0,28,2,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0
AS,0,0,0,0,0,0,0,0,0,2,0,20,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
AZ,0,0,0,0,0,0,0,0,10,480,0,15095,0,0,0,0,0,0,0,237,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
CA,1,0,0,14,0,0,0,0,20,5069,0,124677,0,0,0,0,3,0,0,3254,3,0,0,0,0,0,0,0,0,0,0,0,0,5,0,0,1
CO,0,0,0,1,0,0,0,0,9,437,0,18938,0,0,0,0,2,0,0,257,2,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,1
CT,0,0,0,2,0,0,0,0,4,232,0,12481,0,0,0,0,1,0,0,157,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
DC,0,0,0,0,0,0,0,0,7,165,0,4355,0,0,0,0,0,0,0,158,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
DE,0,0,0,0,0,0,0,0,3,58,0,2888,0,0,0,0,0,0,0,52,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
FL,0,0,0,1,0,0,0,0,27,3700,0,58052,0,0,0,0,14,0,0,1728,14,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0
GA,0,0,0,0,0,0,0,0,11,1325,0,24614,0,0,0,0,1,0,0,593,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
GU,0,0,0,0,0,0,0,0,1,9,0,420,0,0,0,0,0,0,0,19,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
HI,0,0,0,0,0,0,0,0,1,78,0,4880,0,0,0,0,1,0,0,131,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
IA,0,0,0,0,0,0,0,0,25,48,0,7969,0,0,0,0,1,0,0,32,1,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0
ID,0,0,0,0,0,0,0,0,5,63,0,4224,0,0,0,0,2,0,0,41,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
IL,0,0,0,0,0,0,0,0,36,1043,0,39300,0,0,0,0,2,0,0,647,2,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0
IN,0,0,0,0,0,0,0,0,63,226,0,15873,0,0,0,0,28,0,0,117,28,0,0,0,0,0,0,0,0,0,0,0,0,7,0,0,0
KS,0,0,0,0,0,0,0,0,31,81,0,7779,0,0,0,0,0,0,0,56,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
KY,0,0,0,0,0,0,0,0,16,125,0,8621,0,0,0,0,0,0,0,101,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0
LA,0,0,0,0,0,0,0,0,57,266,0,13279,0,0,0,0,0,0,0,214,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0
MA,0,0,0,0,0,0,0,0,11,434,0,26452,0,0,0,0,3,0,0,423,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
MD,0,0,0,0,0,0,0,0,13,593,0,18319,0,0,0,0,0,0,0,386,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ME,0,0,0,0,0,0,0,0,6,44,0,4038,0,0,0,0,2,0,0,20,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
MI,0,0,0,0,0,0,0,0,35,562,0,28601,0,0,0,0,14,0,0,357,14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
MN,0,0,0,0,0,0,0,0,34,214,0,18905,0,0,0,0,1,0,0,171,1,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0
MO,0,0,0,0,0,0,0,0,35,209,0,15659,0,0,0,0,0,0,0,138,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
MP,0,0,0,0,0,0,0,0,0,3,0,80,0,0,0,0,0,0,0,7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
MS,0,0,0,0,0,0,0,0,19,136,0,5223,0,0,0,0,1,0,0,68,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
MT,0,0,0,0,0,0,0,0,10,38,0,2950,0,0,0,0,0,0,0,22,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
NC,0,0,0,0,0,0,0,0,29,419,0,21817,0,0,0,0,13,0,0,295,13,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ND,0,0,0,0,0,0,0,0,10,23,0,3046,0,0,0,0,0,0,0,28,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
NE,0,0,0,0,0,0,0,0,19,39,0,5539,0,0,0,0,1,0,0,29,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
NH,0,0,0,0,0,0,0,0,3,51,0,4932,0,0,0,0,0,0,0,40,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
NJ,0,0,0,1,0,0,0,0,28,944,0,31551,0,0,0,0,4,0,0,697,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
NM,0,0,0,0,0,0,0,0,9,83,0,4263,0,0,0,0,4,0,0,66,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
NV,0,0,0,2,0,0,0,0,9,394,0,7929,0,0,0,0,0,0,0,234,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
NY,1,0,0,6,0,0,0,0,63,2857,0,72295,0,0,0,0,1,0,0,1988,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
OH,0,0,0,3,0,0,0,0,11,545,0,31267,0,0,0,0,1,0,0,350,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
OK,0,0,0,0,0,0,0,0,23,122,0,9659,0,0,0,0,1,0,0,93,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
OR,1,0,0,0,0,0,0,0,14,208,0,12946,0,0,0,0,6,0,0,177,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
PA,0,0,0,0,0,0,0,0,42,629,0,37191,0,0,0,0,9,0,0,522,9,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
PR,0,0,0,0,0,0,0,0,17,21,0,2853,0,0,0,0,2,0,0,18,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
RI,0,0,0,0,0,0,0,0,0,42,0,3656,0,0,0,0,0,0,0,61,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
SC,0,0,0,0,0,0,0,0,6,243,0,10203,0,0,0,0,1,0,0,108,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
SD,0,0,0,0,0,0,0,0,2,28,0,2505,0,0,0,0,0,0,0,11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
TN,0,0,0,0,0,0,0,0,28,300,0,15125,0,0,0,0,4,0,0,178,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
TX,0,0,0,4,0,0,0,0,31,2104,0,72881,0,0,0,0,5,0,0,1235,5,0,0,0,0,0,0,0,0,0,0,0,0,4,0,0,2
UT,0,0,0,1,0,0,0,0,2,228,0,8815,0,0,0,0,0,0,0,162,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
VA,0,0,0,0,0,0,0,0,15,569,0,22274,0,0,0,1,2,0,0,381,2,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
VI,0,0,0,0,0,0,0,0,1,7,0,284,0,0,0,0,1,0,0,5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
VT,0,0,0,0,0,0,0,0,3,17,0,2215,0,0,0,0,0,0,0,17,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
WA,0,0,0,0,0,0,0,0,9,453,0,22799,0,0,0,0,4,0,0,338,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
WI,0,0,0,1,0,0,0,0,15,177,0,16515,0,0,0,0,2,0,0,142,2,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0
WV,0,0,0,0,0,0,0,0,9,66,0,3175,0,0,0,0,1,0,0,49,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
WY,0,0,0,0,0,0,0,0,5,54,0,2029,0,0,0,0,0,0,0,33,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
pd.reset_option('all', silent=True) #disables display option