In [1]:
import pandas as pd
import numpy as np
import os

<h3>Finalization NoteBooks

<h4>Main Label Pipeline Check

<h5>Raw Input File

In [2]:
csvpath_21=("../data/raw/>150K/public_150k_plus_211121_add.csv")
csvpath_23=("../data/raw/>150K/public_150k_plus_230630_add.csv")

In [3]:
size21= os.path.getsize(csvpath_21)/1024**2
size23= os.path.getsize(csvpath_23)/1024**2
print(size21)
print(size23)

433.59666538238525
445.5604133605957

In [4]:
ppp_df_21= pd.read_csv(csvpath_21) #drops Unnamed; alt: df = df.loc[:, ~df.columns.str.contains('^Unnamed')] OR df.loc[:, ~df.columns.str.match('Unnamed')]
ppp_df_23= pd.read_csv(csvpath_23)

In [5]:
print(ppp_df_21.shape[0])
print(ppp_df_23.shape[0])

968557
965552

In [6]:
print(ppp_df_21.columns)
print(ppp_df_23.columns)
print(len(ppp_df_21.columns))
print(len(ppp_df_23.columns))

Index(['Unnamed: 0', 'LoanNumber', 'DateApproved', 'SBAOfficeCode',
       'ProcessingMethod', 'BorrowerName', 'BorrowerAddress', 'BorrowerCity',
       'BorrowerState', 'BorrowerZip', 'LoanStatusDate', 'LoanStatus', 'Term',
       'SBAGuarantyPercentage', 'InitialApprovalAmount',
       'CurrentApprovalAmount', 'UndisbursedAmount', 'FranchiseName',
       'ServicingLenderLocationID', 'ServicingLenderName',
       'ServicingLenderAddress', 'ServicingLenderCity', 'ServicingLenderState',
       'ServicingLenderZip', 'RuralUrbanIndicator', 'HubzoneIndicator',
       'LMIIndicator', 'BusinessAgeDescription', 'ProjectCity',
       'ProjectCountyName', 'ProjectState', 'ProjectZip', 'CD', 'JobsReported',
       'NAICSCode', 'Race', 'Ethnicity', 'UTILITIES_PROCEED',
       'PAYROLL_PROCEED', 'MORTGAGE_INTEREST_PROCEED', 'RENT_PROCEED',
       'REFINANCE_EIDL_PROCEED', 'HEALTH_CARE_PROCEED',
       'DEBT_INTEREST_PROCEED', 'BusinessType', 'OriginatingLenderLocationID',
       'OriginatingLender', 'OriginatingLenderCity', 'OriginatingLenderState',
       'Gender', 'Veteran', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDate'],
      dtype='object')
Index(['Unnamed: 0', 'LoanNumber', 'DateApproved', 'SBAOfficeCode',
       'ProcessingMethod', 'BorrowerName', 'BorrowerAddress', 'BorrowerCity',
       'BorrowerState', 'BorrowerZip', 'LoanStatusDate', 'LoanStatus', 'Term',
       'SBAGuarantyPercentage', 'InitialApprovalAmount',
       'CurrentApprovalAmount', 'UndisbursedAmount', 'FranchiseName',
       'ServicingLenderLocationID', 'ServicingLenderName',
       'ServicingLenderAddress', 'ServicingLenderCity', 'ServicingLenderState',
       'ServicingLenderZip', 'RuralUrbanIndicator', 'HubzoneIndicator',
       'LMIIndicator', 'BusinessAgeDescription', 'ProjectCity',
       'ProjectCountyName', 'ProjectState', 'ProjectZip', 'CD', 'JobsReported',
       'NAICSCode', 'Race', 'Ethnicity', 'UTILITIES_PROCEED',
       'PAYROLL_PROCEED', 'MORTGAGE_INTEREST_PROCEED', 'RENT_PROCEED',
       'REFINANCE_EIDL_PROCEED', 'HEALTH_CARE_PROCEED',
       'DEBT_INTEREST_PROCEED', 'BusinessType', 'OriginatingLenderLocationID',
       'OriginatingLender', 'OriginatingLenderCity', 'OriginatingLenderState',
       'Gender', 'Veteran', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDate'],
      dtype='object')
54
54

In [7]:
set(ppp_df_21.columns).symmetric_difference(ppp_df_23.columns)

set()

In [8]:
pd.set_option('display.max_columns', None)
raw21cols= ppp_df_21.isnull().sum()
raw21_df =pd.DataFrame({'column':raw21cols.index, 'nulls_r':raw21cols.values})

dt21= ppp_df_21.dtypes
dt21_df =pd.DataFrame({'column':dt21.index, 'dtype_r':dt21.values})

raw21 = dt21_df.merge(raw21_df, on="column", how="left")
raw21

                         column  dtype_r  nulls_r
0                    Unnamed: 0    int64        0
1                    LoanNumber    int64        0
2                  DateApproved   object        0
3                 SBAOfficeCode    int64        0
4              ProcessingMethod   object        0
5                  BorrowerName   object        4
6               BorrowerAddress   object        6
7                  BorrowerCity   object        4
8                 BorrowerState   object        0
9                   BorrowerZip  float64       12
10               LoanStatusDate   object   281932
11                   LoanStatus   object        0
12                         Term    int64        0
13        SBAGuarantyPercentage    int64        0
14        InitialApprovalAmount  float64        0
15        CurrentApprovalAmount  float64        0
16            UndisbursedAmount  float64      219
17                FranchiseName   object   933151
18    ServicingLenderLocationID    int64        0
19          ServicingLenderName   object        0
20       ServicingLenderAddress   object        0
21          ServicingLenderCity   object        0
22         ServicingLenderState   object        0
23           ServicingLenderZip   object        0
24          RuralUrbanIndicator   object        0
25             HubzoneIndicator   object        0
26                 LMIIndicator   object        0
27       BusinessAgeDescription   object        1
28                  ProjectCity   object       13
29            ProjectCountyName   object       57
30                 ProjectState   object        9
31                   ProjectZip   object       14
32                           CD   object       46
33                 JobsReported  float64        1
34                    NAICSCode  float64     6632
35                         Race   object        0
36                    Ethnicity   object        0
37            UTILITIES_PROCEED  float64   629071
38              PAYROLL_PROCEED  float64     1824
39    MORTGAGE_INTEREST_PROCEED  float64   922101
40                 RENT_PROCEED  float64   868916
41       REFINANCE_EIDL_PROCEED  float64   945363
42          HEALTH_CARE_PROCEED  float64   910989
43        DEBT_INTEREST_PROCEED  float64   936594
44                 BusinessType   object      728
45  OriginatingLenderLocationID    int64        0
46            OriginatingLender   object        0
47        OriginatingLenderCity   object        0
48       OriginatingLenderState   object        0
49                       Gender   object        0
50                      Veteran   object        0
51                    NonProfit   object   910149
52            ForgivenessAmount  float64   207884
53              ForgivenessDate   object   207884

In [9]:
raw23cols= ppp_df_23.isnull().sum()
raw23_df =pd.DataFrame({'column':raw23cols.index, 'nulls_r':raw23cols.values})

dt23= ppp_df_23.dtypes
dt23_df =pd.DataFrame({'column':dt23.index, 'dtype_r':dt23.values})

raw23 = dt23_df.merge(raw23_df, on="column", how="left")
raw23

                         column  dtype_r  nulls_r
0                    Unnamed: 0    int64        0
1                    LoanNumber    int64        0
2                  DateApproved   object        0
3                 SBAOfficeCode    int64        0
4              ProcessingMethod   object        0
5                  BorrowerName   object        4
6               BorrowerAddress   object        0
7                  BorrowerCity   object        0
8                 BorrowerState   object        0
9                   BorrowerZip   object       13
10               LoanStatusDate   object    16825
11                   LoanStatus   object        0
12                         Term    int64        0
13        SBAGuarantyPercentage    int64        0
14        InitialApprovalAmount  float64        0
15        CurrentApprovalAmount  float64        0
16            UndisbursedAmount  float64       46
17                FranchiseName   object   930147
18    ServicingLenderLocationID    int64        0
19          ServicingLenderName   object        0
20       ServicingLenderAddress   object        0
21          ServicingLenderCity   object        0
22         ServicingLenderState   object        0
23           ServicingLenderZip   object        0
24          RuralUrbanIndicator   object        0
25             HubzoneIndicator   object        0
26                 LMIIndicator   object        0
27       BusinessAgeDescription   object        1
28                  ProjectCity   object       13
29            ProjectCountyName   object       57
30                 ProjectState   object        9
31                   ProjectZip   object       14
32                           CD   object       46
33                 JobsReported  float64        1
34                    NAICSCode  float64     6628
35                         Race   object        0
36                    Ethnicity   object        0
37            UTILITIES_PROCEED  float64   627203
38              PAYROLL_PROCEED  float64     1827
39    MORTGAGE_INTEREST_PROCEED  float64   920028
40                 RENT_PROCEED  float64   866328
41       REFINANCE_EIDL_PROCEED  float64   942704
42          HEALTH_CARE_PROCEED  float64   908126
43        DEBT_INTEREST_PROCEED  float64   933856
44                 BusinessType   object      720
45  OriginatingLenderLocationID    int64        0
46            OriginatingLender   object        0
47        OriginatingLenderCity   object        0
48       OriginatingLenderState   object        0
49                       Gender   object        0
50                      Veteran   object        0
51                    NonProfit   object   906202
52            ForgivenessAmount  float64    26515
53              ForgivenessDate   object    26515

In [10]:
state_counts21 = ppp_df_21["BorrowerState"].value_counts()
print(state_counts21)

BorrowerState
CA    130622
TX     76185
NY     74113
FL     60041
IL     40815
PA     38537
OH     32650
NJ     32533
MI     29809
MA     27471
GA     25832
WA     23755
VA     23266
NC     22826
CO     19742
MN     19730
MD     18979
WI     17354
IN     16601
MO     16350
TN     15869
AZ     15796
LA     13668
OR     13456
CT     12893
AL     10912
SC     10743
OK      9997
UT      9295
KY      9179
IA      8295
NV      8262
KS      8202
AR      5857
NE      5804
MS      5502
NH      5078
HI      4980
NM      4485
ID      4416
DC      4399
ME      4185
RI      3792
WV      3365
ND      3222
MT      3144
DE      2996
PR      2952
SD      2695
AK      2663
VT      2270
WY      2139
GU       443
VI       290
MP        82
AS        20
Name: count, dtype: int64

In [11]:
state_counts23 = ppp_df_23["BorrowerState"].value_counts()
print(state_counts23)

BorrowerState
CA               129086
TX                76061
NY                73819
FL                60003
IL                40763
PA                38500
OH                32639
NJ                32515
MI                29791
MA                27179
GA                25787
WA                23620
VA                23224
NC                22796
MN                19720
CO                19669
MD                18955
WI                17346
IN                16594
MO                16339
TN                15864
AZ                15757
LA                13669
OR                13403
CT                12882
AL                10912
SC                10741
OK                 9995
UT                 9258
KY                 9178
IA                 8295
NV                 8254
KS                 8201
AR                 5857
NE                 5804
MS                 5504
NH                 5069
HI                 4979
NM                 4482
ID                 4415
DC                 4383
ME                 4185
RI                 3786
WV                 3365
ND                 3222
MT                 3142
DE                 2990
PR                 2952
SD                 2695
AK                 2662
VT                 2265
WY                 2137
GU                  443
VI                  290
MP                   82
AS                   20
Not Available         8
Name: count, dtype: int64

<h5>Post Label Process Output File

In [12]:
csvpath_21_post = "../data/ppp_pipe.csv"
csvpath_23_post = "../data/ppp_pipe23.csv"

In [13]:
size21_post= os.path.getsize(csvpath_21_post)/1024**2
size23_post= os.path.getsize(csvpath_23_post)/1024**2
print(size21_post)
print(size23_post)

508.4468021392822
510.58546352386475

In [14]:
ppp_df_21_post = pd.read_csv(csvpath_21_post, index_col=0)
ppp_df_23_post = pd.read_csv(csvpath_23_post, index_col=0)

In [15]:
print(ppp_df_21_post.shape[0])
print(ppp_df_23_post.shape[0])

968557
965552

In [16]:
print(ppp_df_21_post.columns)
print(ppp_df_23_post.columns)
print(len(ppp_df_21_post.columns))
print(len(ppp_df_23_post.columns))

Index(['LoanNumber', 'DateApprovedTS', 'SBAOfficeCode', 'SBAOfficeLabel',
       'ProcessingMethod', 'BorrowerName', 'BorrowerState', 'LoanStatusDateTS',
       'LoanStatus', 'Term', 'CurrentApprovalAmount', 'UndisbursedAmount',
       'FranchiseName', 'ServicingLenderLocationID', 'ServicingLenderName',
       'ServicingLenderState', 'ServicingLenderFullAddress',
       'RuralUrbanIndicator', 'HubzoneIndicator', 'LMIIndicator', 'CD',
       'JobsReported', 'OriginatingLenderLocationID', 'OriginatingLender',
       'OriginatingLenderCity', 'OriginatingLenderState', 'BusinessType',
       'BusinessAgeDescription', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDateTS', 'Estimated_LenderPercent',
       'Estimated_LenderProfit', 'NA', '4DigitNAICS', 'NAICSCode', 'Industry',
       'IndustrySubsector', 'TRIIndustrySector', 'Loan_Range', 'job_Range',
       'LongName', 'full_add'],
      dtype='object')
Index(['LoanNumber', 'DateApprovedTS', 'SBAOfficeCode', 'SBAOfficeLabel',
       'ProcessingMethod', 'BorrowerName', 'BorrowerState', 'LoanStatusDateTS',
       'LoanStatus', 'Term', 'CurrentApprovalAmount', 'UndisbursedAmount',
       'FranchiseName', 'ServicingLenderLocationID', 'ServicingLenderName',
       'ServicingLenderState', 'ServicingLenderFullAddress',
       'RuralUrbanIndicator', 'HubzoneIndicator', 'LMIIndicator', 'CD',
       'JobsReported', 'OriginatingLenderLocationID', 'OriginatingLender',
       'OriginatingLenderCity', 'OriginatingLenderState', 'BusinessType',
       'BusinessAgeDescription', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDateTS', 'Estimated_LenderPercent',
       'Estimated_LenderProfit', 'NA', '4DigitNAICS', 'NAICSCode', 'Industry',
       'IndustrySubsector', 'TRIIndustrySector', 'Loan_Range', 'job_Range',
       'LongName', 'full_add'],
      dtype='object')
43
43

In [17]:
pd.set_option('display.max_columns', None)

pipe21cols= ppp_df_21_post.isnull().sum()
pipe_21df= pd.DataFrame({"column": pipe21cols.index, "nulls_p":pipe21cols.values})

dt21_pipe = ppp_df_21_post.dtypes
dt21_pipedf =pd.DataFrame({'column':dt21_pipe.index, 'dtype_p':dt21_pipe.values})

pipe21 = dt21_pipedf.merge(pipe_21df, on="column", how="left")
pipe21

                         column  dtype_p  nulls_p
0                    LoanNumber    int64        0
1                DateApprovedTS    int64        0
2                 SBAOfficeCode    int64        0
3                SBAOfficeLabel   object        0
4              ProcessingMethod   object        0
5                  BorrowerName   object        4
6                 BorrowerState   object        0
7              LoanStatusDateTS  float64   281932
8                    LoanStatus   object        0
9                          Term    int64        0
10        CurrentApprovalAmount  float64        0
11            UndisbursedAmount  float64      219
12                FranchiseName   object   933151
13    ServicingLenderLocationID    int64        0
14          ServicingLenderName   object        0
15         ServicingLenderState   object        0
16   ServicingLenderFullAddress   object        0
17          RuralUrbanIndicator   object        0
18             HubzoneIndicator   object        0
19                 LMIIndicator   object        0
20                           CD   object       46
21                 JobsReported  float64        0
22  OriginatingLenderLocationID    int64        0
23            OriginatingLender   object        0
24        OriginatingLenderCity   object        0
25       OriginatingLenderState   object        0
26                 BusinessType   object        0
27       BusinessAgeDescription   object        0
28                    NonProfit   object        0
29            ForgivenessAmount  float64   207884
30            ForgivenessDateTS  float64   207884
31      Estimated_LenderPercent   object        0
32       Estimated_LenderProfit  float64        0
33                           NA    int64        0
34                  4DigitNAICS    int64        0
35                    NAICSCode    int64        0
36                     Industry   object        0
37            IndustrySubsector   object        0
38            TRIIndustrySector   object    12182
39                   Loan_Range   object        0
40                    job_Range   object        0
41                     LongName   object        0
42                     full_add   object        6

In [18]:
pipe23cols= ppp_df_23_post.isnull().sum()
pipe_23df= pd.DataFrame({"column": pipe23cols.index, "nulls_p":pipe23cols.values})

dt23_pipe = ppp_df_23_post.dtypes
dt23_pipedf =pd.DataFrame({'column':dt23_pipe.index, 'dtype_p':dt23_pipe.values})

pipe23 = dt23_pipedf.merge(pipe_23df, on="column", how="left")
pipe23

                         column  dtype_p  nulls_p
0                    LoanNumber    int64        0
1                DateApprovedTS    int64        0
2                 SBAOfficeCode    int64        0
3                SBAOfficeLabel   object        0
4              ProcessingMethod   object        0
5                  BorrowerName   object        4
6                 BorrowerState   object        0
7              LoanStatusDateTS  float64    16825
8                    LoanStatus   object        0
9                          Term    int64        0
10        CurrentApprovalAmount  float64        0
11            UndisbursedAmount  float64       46
12                FranchiseName   object   930147
13    ServicingLenderLocationID    int64        0
14          ServicingLenderName   object        0
15         ServicingLenderState   object        0
16   ServicingLenderFullAddress   object        0
17          RuralUrbanIndicator   object        0
18             HubzoneIndicator   object        0
19                 LMIIndicator   object        0
20                           CD   object       46
21                 JobsReported  float64        0
22  OriginatingLenderLocationID    int64        0
23            OriginatingLender   object        0
24        OriginatingLenderCity   object        0
25       OriginatingLenderState   object        0
26                 BusinessType   object        0
27       BusinessAgeDescription   object        0
28                    NonProfit   object        0
29            ForgivenessAmount  float64    26515
30            ForgivenessDateTS  float64    26515
31      Estimated_LenderPercent   object        0
32       Estimated_LenderProfit  float64        0
33                           NA    int64        0
34                  4DigitNAICS    int64        0
35                    NAICSCode    int64        0
36                     Industry   object        0
37            IndustrySubsector   object        0
38            TRIIndustrySector   object    12162
39                   Loan_Range   object        0
40                    job_Range   object        0
41                     LongName   object        0
42                     full_add   object        0

<h4>Main Hashing PipeLine Check

In [19]:
csvpath_21_hash = "../data/ppp_hash.csv"
csvpath_23_hash = "../data/ppp_hash23.csv"
csvpath_21_hashSort = "../data/ppp_hashSort.csv"
csvpath_23_hashSort = "../data/ppp_hashSort23.csv"

In [20]:
size21_hash= os.path.getsize(csvpath_21_hash)/1024**2
size23_hash= os.path.getsize(csvpath_23_hash)/1024**2
size21_hashSort= os.path.getsize(csvpath_21_hashSort)/1024**2
size23_hashSort= os.path.getsize(csvpath_23_hashSort)/1024**2
print(size21_hash)
print(size23_hash)
print(size21_hashSort)
print(size23_hashSort)

146.95548343658447
146.49556636810303
108.19139385223389
107.85181713104248

In [21]:
ppp_df_21_hash = pd.read_csv(csvpath_21_hash,index_col=0) 
ppp_df_23_hash = pd.read_csv(csvpath_23_hash,index_col=0) 
ppp_df_21_hashSort = pd.read_csv(csvpath_21_hashSort,index_col=0) 
ppp_df_23_hashSort = pd.read_csv(csvpath_23_hashSort,index_col=0)

In [22]:
print(ppp_df_21_hash.shape[0])
print(ppp_df_23_hash.shape[0])
print(ppp_df_21_hashSort.shape[0])
print(ppp_df_23_hashSort.shape[0])

968557
965552
968557
965552

In [23]:
print(ppp_df_21_hash.columns)
print(len(ppp_df_21_hash.columns))

print(ppp_df_23_hash.columns)
print(len(ppp_df_23_hash.columns))

print(ppp_df_21_hashSort.columns)
print(len(ppp_df_21_hashSort.columns))

print(ppp_df_23_hashSort.columns)
print(len(ppp_df_23_hashSort.columns))

Index(['LoanNumber', 'INDSScode', 'INDcode', 'SScode', 'LRcode', 'JRcode',
       'BTcode', 'BAcode', 'PMcode', 'HASHcodePM', 'Industry',
       'IndustrySubsector'],
      dtype='object')
12
Index(['LoanNumber', 'INDSScode', 'INDcode', 'SScode', 'LRcode', 'JRcode',
       'BTcode', 'BAcode', 'PMcode', 'HASHcodePM', 'Industry',
       'IndustrySubsector'],
      dtype='object')
12
Index(['LoanNumber', 'HASHcodePM', 'Industry', 'IndustrySubsector'], dtype='object')
4
Index(['LoanNumber', 'HASHcodePM', 'Industry', 'IndustrySubsector'], dtype='object')
4

In [24]:
set(ppp_df_21_hash.columns).symmetric_difference(ppp_df_21_hashSort.columns)

{'BAcode',
 'BTcode',
 'INDSScode',
 'INDcode',
 'JRcode',
 'LRcode',
 'PMcode',
 'SScode'}

In [25]:
print(ppp_df_21_hash.isnull().sum())
print(ppp_df_23_hash.isnull().sum())
print(ppp_df_21_hashSort.isnull().sum())
print(ppp_df_23_hashSort.isnull().sum())

LoanNumber           0
INDSScode            0
INDcode              0
SScode               0
LRcode               0
JRcode               0
BTcode               0
BAcode               0
PMcode               0
HASHcodePM           0
Industry             0
IndustrySubsector    0
dtype: int64
LoanNumber           0
INDSScode            0
INDcode              0
SScode               0
LRcode               0
JRcode               0
BTcode               0
BAcode               0
PMcode               0
HASHcodePM           0
Industry             0
IndustrySubsector    0
dtype: int64
LoanNumber           0
HASHcodePM           0
Industry             0
IndustrySubsector    0
dtype: int64
LoanNumber           0
HASHcodePM           0
Industry             0
IndustrySubsector    0
dtype: int64

In [26]:
pd.set_option('display.max_rows', 70)
print(ppp_df_21_hash.dtypes)
print(ppp_df_23_hash.dtypes)
print(ppp_df_21_hashSort.dtypes)
print(ppp_df_23_hashSort.dtypes)

LoanNumber            int64
INDSScode            object
INDcode              object
SScode               object
LRcode               object
JRcode               object
BTcode               object
BAcode               object
PMcode               object
HASHcodePM           object
Industry             object
IndustrySubsector    object
dtype: object
LoanNumber            int64
INDSScode            object
INDcode              object
SScode               object
LRcode               object
JRcode               object
BTcode               object
BAcode               object
PMcode               object
HASHcodePM           object
Industry             object
IndustrySubsector    object
dtype: object
LoanNumber            int64
HASHcodePM           object
Industry             object
IndustrySubsector    object
dtype: object
LoanNumber            int64
HASHcodePM           object
Industry             object
IndustrySubsector    object
dtype: object

<h4>Main Concat PipeLine Check

In [27]:
csvpath_21_con = ("../data/pipe_hpgf.csv")
csvpath_23_con = ("../data/pipe_hpgf23.csv")

In [28]:
size21_con= os.path.getsize(csvpath_21_con)/1024**2
size23_con= os.path.getsize(csvpath_23_con)/1024**2
print(size21_con)
print(size23_con)

516.5325918197632
519.4832983016968

In [29]:
ppp_df_21_con = pd.read_csv(csvpath_21_con)
ppp_df_23_con = pd.read_csv(csvpath_23_con)
ppp_df_21_con = ppp_df_21_con.loc[:, ~ppp_df_21_con.columns.str.contains('^Unnamed')] 
ppp_df_23_con = ppp_df_23_con.loc[:, ~ppp_df_23_con.columns.str.contains('^Unnamed')]

In [30]:
print(ppp_df_21_con.shape[0])
print(ppp_df_23_con.shape[0])

968557
965552

In [31]:
print(ppp_df_21_con.columns)
print(len(ppp_df_21_con.columns))
print(ppp_df_23_con.columns)
print(len(ppp_df_23_con.columns))

Index(['LoanNumber', 'HASHcodePM', 'Industry', 'IndustrySubsector',
       'DateApprovedTS', 'SBAOfficeCode', 'SBAOfficeLabel', 'ProcessingMethod',
       'BorrowerName', 'BorrowerState', 'LoanStatusDateTS', 'LoanStatus',
       'Term', 'CurrentApprovalAmount', 'UndisbursedAmount', 'FranchiseName',
       'ServicingLenderLocationID', 'ServicingLenderName',
       'ServicingLenderState', 'ServicingLenderFullAddress', 'CD',
       'JobsReported', 'OriginatingLenderLocationID', 'OriginatingLender',
       'OriginatingLenderCity', 'OriginatingLenderState', 'BusinessType',
       'BusinessAgeDescription', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDateTS', 'Estimated_LenderPercent',
       'Estimated_LenderProfit', 'LongName', 'full_add', 'Lat', 'Long',
       'FIPS_z'],
      dtype='object')
38
Index(['LoanNumber', 'DateApprovedTS', 'SBAOfficeCode', 'SBAOfficeLabel',
       'ProcessingMethod', 'BorrowerName', 'BorrowerState', 'LoanStatusDateTS',
       'LoanStatus', 'Term', 'CurrentApprovalAmount', 'UndisbursedAmount',
       'FranchiseName', 'ServicingLenderLocationID', 'ServicingLenderName',
       'ServicingLenderState', 'ServicingLenderFullAddress', 'CD',
       'JobsReported', 'OriginatingLenderLocationID', 'OriginatingLender',
       'OriginatingLenderCity', 'OriginatingLenderState', 'BusinessType',
       'BusinessAgeDescription', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDateTS', 'Estimated_LenderPercent',
       'Estimated_LenderProfit', 'LongName', 'full_add', 'HASHcodePM',
       'Industry', 'IndustrySubsector', 'Lat', 'Long', 'FIPS_z'],
      dtype='object')
38

In [32]:
set(ppp_df_23_con.columns).symmetric_difference(ppp_df_21_con.columns)

set()

In [33]:
hpgf21cols= ppp_df_21_con.isnull().sum()
hpgf21colsdf= pd.DataFrame({"column": hpgf21cols.index, "nulls_h":hpgf21cols.values})

dt21_hpgf = ppp_df_21_con.dtypes
dt21_hpgfdf =pd.DataFrame({'column':dt21_hpgf.index, 'dtype_h':dt21_hpgf.values})

hpgf21_df = hpgf21colsdf.merge(dt21_hpgfdf, on="column", how="left")
hpgf21_df

                         column  nulls_h  dtype_h
0                    LoanNumber        0    int64
1                    HASHcodePM        0   object
2                      Industry        0   object
3             IndustrySubsector        0   object
4                DateApprovedTS        0    int64
5                 SBAOfficeCode        0    int64
6                SBAOfficeLabel        0   object
7              ProcessingMethod        0   object
8                  BorrowerName        4   object
9                 BorrowerState        0   object
10             LoanStatusDateTS   281932  float64
11                   LoanStatus        0   object
12                         Term        0    int64
13        CurrentApprovalAmount        0  float64
14            UndisbursedAmount      219  float64
15                FranchiseName   933151   object
16    ServicingLenderLocationID        0    int64
17          ServicingLenderName        0   object
18         ServicingLenderState        0   object
19   ServicingLenderFullAddress        0   object
20                           CD       46   object
21                 JobsReported        0  float64
22  OriginatingLenderLocationID        0    int64
23            OriginatingLender        0   object
24        OriginatingLenderCity        0   object
25       OriginatingLenderState        0   object
26                 BusinessType        0   object
27       BusinessAgeDescription        0   object
28                    NonProfit        0   object
29            ForgivenessAmount   207884  float64
30            ForgivenessDateTS   207884  float64
31      Estimated_LenderPercent        0   object
32       Estimated_LenderProfit        0  float64
33                     LongName        0   object
34                     full_add        6   object
35                          Lat      145  float64
36                         Long      145  float64
37                       FIPS_z      926  float64

In [34]:
hpgf23cols= ppp_df_23_con.isnull().sum()
hpgf23colsdf= pd.DataFrame({"column": hpgf23cols.index, "nulls_h":hpgf23cols.values})

dt23_hpgf = ppp_df_23_con.dtypes
dt23_hpgfdf =pd.DataFrame({'column':dt23_hpgf.index, 'dtype_h':dt23_hpgf.values})

hpgf23_df = hpgf23colsdf.merge(dt23_hpgfdf, on="column", how="left")
hpgf23_df

                         column  nulls_h  dtype_h
0                    LoanNumber        0    int64
1                DateApprovedTS        0    int64
2                 SBAOfficeCode        0    int64
3                SBAOfficeLabel        0   object
4              ProcessingMethod        0   object
5                  BorrowerName        4   object
6                 BorrowerState        0   object
7              LoanStatusDateTS    16825  float64
8                    LoanStatus        0   object
9                          Term        0    int64
10        CurrentApprovalAmount        0  float64
11            UndisbursedAmount       46  float64
12                FranchiseName   930147   object
13    ServicingLenderLocationID        0    int64
14          ServicingLenderName        0   object
15         ServicingLenderState        0   object
16   ServicingLenderFullAddress        0   object
17                           CD       46   object
18                 JobsReported        0  float64
19  OriginatingLenderLocationID        0    int64
20            OriginatingLender        0   object
21        OriginatingLenderCity        0   object
22       OriginatingLenderState        0   object
23                 BusinessType        0   object
24       BusinessAgeDescription        0   object
25                    NonProfit        0   object
26            ForgivenessAmount    26515  float64
27            ForgivenessDateTS    26515  float64
28      Estimated_LenderPercent        0   object
29       Estimated_LenderProfit        0  float64
30                     LongName        0   object
31                     full_add        0   object
32                   HASHcodePM        0   object
33                     Industry        0   object
34            IndustrySubsector        0   object
35                          Lat      613  float64
36                         Long      613  float64
37                       FIPS_z     1393  float64

In [35]:
pd.set_option('display.max_rows', None) #disables display option

Column Differences 2021 Raw, Pipe, Hash (removed, added, or changed)

Raw <-> Pipe

In [36]:
set(ppp_df_21.columns).symmetric_difference(ppp_df_21_post.columns)

{'4DigitNAICS',
 'BorrowerAddress',
 'BorrowerCity',
 'BorrowerZip',
 'DEBT_INTEREST_PROCEED',
 'DateApproved',
 'DateApprovedTS',
 'Estimated_LenderPercent',
 'Estimated_LenderProfit',
 'Ethnicity',
 'ForgivenessDate',
 'ForgivenessDateTS',
 'Gender',
 'HEALTH_CARE_PROCEED',
 'Industry',
 'IndustrySubsector',
 'InitialApprovalAmount',
 'LoanStatusDate',
 'LoanStatusDateTS',
 'Loan_Range',
 'LongName',
 'MORTGAGE_INTEREST_PROCEED',
 'NA',
 'PAYROLL_PROCEED',
 'ProjectCity',
 'ProjectCountyName',
 'ProjectState',
 'ProjectZip',
 'REFINANCE_EIDL_PROCEED',
 'RENT_PROCEED',
 'Race',
 'SBAGuarantyPercentage',
 'SBAOfficeLabel',
 'ServicingLenderAddress',
 'ServicingLenderCity',
 'ServicingLenderFullAddress',
 'ServicingLenderZip',
 'TRIIndustrySector',
 'UTILITIES_PROCEED',
 'Unnamed: 0',
 'Veteran',
 'full_add',
 'job_Range'}

Pipe <-> HPGF

In [37]:
set(ppp_df_21_post.columns).symmetric_difference(ppp_df_21_con.columns)

{'4DigitNAICS',
 'FIPS_z',
 'HASHcodePM',
 'HubzoneIndicator',
 'LMIIndicator',
 'Lat',
 'Loan_Range',
 'Long',
 'NA',
 'NAICSCode',
 'RuralUrbanIndicator',
 'TRIIndustrySector',
 'job_Range'}

Column Differences 2023 Raw, Pipe, Hash (removed, added, or changed)

Raw <-> Pipe

In [38]:
set(ppp_df_23.columns).symmetric_difference(ppp_df_23_post.columns)

{'4DigitNAICS',
 'BorrowerAddress',
 'BorrowerCity',
 'BorrowerZip',
 'DEBT_INTEREST_PROCEED',
 'DateApproved',
 'DateApprovedTS',
 'Estimated_LenderPercent',
 'Estimated_LenderProfit',
 'Ethnicity',
 'ForgivenessDate',
 'ForgivenessDateTS',
 'Gender',
 'HEALTH_CARE_PROCEED',
 'Industry',
 'IndustrySubsector',
 'InitialApprovalAmount',
 'LoanStatusDate',
 'LoanStatusDateTS',
 'Loan_Range',
 'LongName',
 'MORTGAGE_INTEREST_PROCEED',
 'NA',
 'PAYROLL_PROCEED',
 'ProjectCity',
 'ProjectCountyName',
 'ProjectState',
 'ProjectZip',
 'REFINANCE_EIDL_PROCEED',
 'RENT_PROCEED',
 'Race',
 'SBAGuarantyPercentage',
 'SBAOfficeLabel',
 'ServicingLenderAddress',
 'ServicingLenderCity',
 'ServicingLenderFullAddress',
 'ServicingLenderZip',
 'TRIIndustrySector',
 'UTILITIES_PROCEED',
 'Unnamed: 0',
 'Veteran',
 'full_add',
 'job_Range'}

Pipe <-> HPGF

In [39]:
set(ppp_df_23_post.columns).symmetric_difference(ppp_df_23_con.columns)

{'4DigitNAICS',
 'FIPS_z',
 'HASHcodePM',
 'HubzoneIndicator',
 'LMIIndicator',
 'Lat',
 'Loan_Range',
 'Long',
 'NA',
 'NAICSCode',
 'RuralUrbanIndicator',
 'TRIIndustrySector',
 'job_Range'}

Merge Process Null, Dtype Columns

In [40]:
merge21 = raw21.merge(pipe21, on='column', how='outer')
merge21_2 = merge21.merge(hpgf21_df, on='column', how='outer')
merge21_final= merge21_2[['column', 'dtype_r', 'dtype_p', 'dtype_h', 'nulls_r', 'nulls_p', 'nulls_h']]
merge21_final.to_csv("../data/process_data/dtypenulls21.csv")
merge21_final

,column,dtype_r,dtype_p,dtype_h,nulls_r,nulls_p,nulls_h
0,Unnamed: 0,int64,NaN,NaN,0.0,NaN,NaN
1,LoanNumber,int64,int64,int64,0.0,0.0,0.0
2,DateApproved,object,NaN,NaN,0.0,NaN,NaN
3,SBAOfficeCode,int64,int64,int64,0.0,0.0,0.0
4,ProcessingMethod,object,object,object,0.0,0.0,0.0
5,BorrowerName,object,object,object,4.0,4.0,4.0
6,BorrowerAddress,object,NaN,NaN,6.0,NaN,NaN
7,BorrowerCity,object,NaN,NaN,4.0,NaN,NaN
8,BorrowerState,object,object,object,0.0,0.0,0.0
9,BorrowerZip,float64,NaN,NaN,12.0,NaN,NaN
10,LoanStatusDate,object,NaN,NaN,281932.0,NaN,NaN
11,LoanStatus,object,object,object,0.0,0.0,0.0
12,Term,int64,int64,int64,0.0,0.0,0.0
13,SBAGuarantyPercentage,int64,NaN,NaN,0.0,NaN,NaN
14,InitialApprovalAmount,float64,NaN,NaN,0.0,NaN,NaN
15,CurrentApprovalAmount,float64,float64,float64,0.0,0.0,0.0
16,UndisbursedAmount,float64,float64,float64,219.0,219.0,219.0
17,FranchiseName,object,object,object,933151.0,933151.0,933151.0
18,ServicingLenderLocationID,int64,int64,int64,0.0,0.0,0.0
19,ServicingLenderName,object,object,object,0.0,0.0,0.0
20,ServicingLenderAddress,object,NaN,NaN,0.0,NaN,NaN
21,ServicingLenderCity,object,NaN,NaN,0.0,NaN,NaN
22,ServicingLenderState,object,object,object,0.0,0.0,0.0
23,ServicingLenderZip,object,NaN,NaN,0.0,NaN,NaN
24,RuralUrbanIndicator,object,object,NaN,0.0,0.0,NaN
25,HubzoneIndicator,object,object,NaN,0.0,0.0,NaN
26,LMIIndicator,object,object,NaN,0.0,0.0,NaN
27,BusinessAgeDescription,object,object,object,1.0,0.0,0.0
28,ProjectCity,object,NaN,NaN,13.0,NaN,NaN
29,ProjectCountyName,object,NaN,NaN,57.0,NaN,NaN
30,ProjectState,object,NaN,NaN,9.0,NaN,NaN
31,ProjectZip,object,NaN,NaN,14.0,NaN,NaN
32,CD,object,object,object,46.0,46.0,46.0
33,JobsReported,float64,float64,float64,1.0,0.0,0.0
34,NAICSCode,float64,int64,NaN,6632.0,0.0,NaN
35,Race,object,NaN,NaN,0.0,NaN,NaN
36,Ethnicity,object,NaN,NaN,0.0,NaN,NaN
37,UTILITIES_PROCEED,float64,NaN,NaN,629071.0,NaN,NaN
38,PAYROLL_PROCEED,float64,NaN,NaN,1824.0,NaN,NaN
39,MORTGAGE_INTEREST_PROCEED,float64,NaN,NaN,922101.0,NaN,NaN
40,RENT_PROCEED,float64,NaN,NaN,868916.0,NaN,NaN
41,REFINANCE_EIDL_PROCEED,float64,NaN,NaN,945363.0,NaN,NaN
42,HEALTH_CARE_PROCEED,float64,NaN,NaN,910989.0,NaN,NaN
43,DEBT_INTEREST_PROCEED,float64,NaN,NaN,936594.0,NaN,NaN
44,BusinessType,object,object,object,728.0,0.0,0.0
45,OriginatingLenderLocationID,int64,int64,int64,0.0,0.0,0.0
46,OriginatingLender,object,object,object,0.0,0.0,0.0
47,OriginatingLenderCity,object,object,object,0.0,0.0,0.0
48,OriginatingLenderState,object,object,object,0.0,0.0,0.0
49,Gender,object,NaN,NaN,0.0,NaN,NaN
50,Veteran,object,NaN,NaN,0.0,NaN,NaN
51,NonProfit,object,object,object,910149.0,0.0,0.0
52,ForgivenessAmount,float64,float64,float64,207884.0,207884.0,207884.0
53,ForgivenessDate,object,NaN,NaN,207884.0,NaN,NaN
54,DateApprovedTS,NaN,int64,int64,NaN,0.0,0.0
55,SBAOfficeLabel,NaN,object,object,NaN,0.0,0.0
56,LoanStatusDateTS,NaN,float64,float64,NaN,281932.0,281932.0
57,ServicingLenderFullAddress,NaN,object,object,NaN,0.0,0.0
58,ForgivenessDateTS,NaN,float64,float64,NaN,207884.0,207884.0
59,Estimated_LenderPercent,NaN,object,object,NaN,0.0,0.0
60,Estimated_LenderProfit,NaN,float64,float64,NaN,0.0,0.0
61,NA,NaN,int64,NaN,NaN,0.0,NaN
62,4DigitNAICS,NaN,int64,NaN,NaN,0.0,NaN
63,Industry,NaN,object,object,NaN,0.0,0.0
64,IndustrySubsector,NaN,object,object,NaN,0.0,0.0
65,TRIIndustrySector,NaN,object,NaN,NaN,12182.0,NaN
66,Loan_Range,NaN,object,NaN,NaN,0.0,NaN
67,job_Range,NaN,object,NaN,NaN,0.0,NaN
68,LongName,NaN,object,object,NaN,0.0,0.0
69,full_add,NaN,object,object,NaN,6.0,6.0
70,HASHcodePM,NaN,NaN,object,NaN,NaN,0.0
71,Lat,NaN,NaN,float64,NaN,NaN,145.0
72,Long,NaN,NaN,float64,NaN,NaN,145.0
73,FIPS_z,NaN,NaN,float64,NaN,NaN,926.0

In [41]:
merge23 = raw23.merge(pipe23, on='column', how='outer')
merge23_2 = merge23.merge(hpgf23_df, on='column', how='outer')
merge23_final= merge23_2[['column', 'dtype_r', 'dtype_p', 'dtype_h', 'nulls_r', 'nulls_p', 'nulls_h']]
merge23_final.to_csv("../data/process_data/dtypenulls23.csv")
merge23_final

,column,dtype_r,dtype_p,dtype_h,nulls_r,nulls_p,nulls_h
0,Unnamed: 0,int64,NaN,NaN,0.0,NaN,NaN
1,LoanNumber,int64,int64,int64,0.0,0.0,0.0
2,DateApproved,object,NaN,NaN,0.0,NaN,NaN
3,SBAOfficeCode,int64,int64,int64,0.0,0.0,0.0
4,ProcessingMethod,object,object,object,0.0,0.0,0.0
5,BorrowerName,object,object,object,4.0,4.0,4.0
6,BorrowerAddress,object,NaN,NaN,0.0,NaN,NaN
7,BorrowerCity,object,NaN,NaN,0.0,NaN,NaN
8,BorrowerState,object,object,object,0.0,0.0,0.0
9,BorrowerZip,object,NaN,NaN,13.0,NaN,NaN
10,LoanStatusDate,object,NaN,NaN,16825.0,NaN,NaN
11,LoanStatus,object,object,object,0.0,0.0,0.0
12,Term,int64,int64,int64,0.0,0.0,0.0
13,SBAGuarantyPercentage,int64,NaN,NaN,0.0,NaN,NaN
14,InitialApprovalAmount,float64,NaN,NaN,0.0,NaN,NaN
15,CurrentApprovalAmount,float64,float64,float64,0.0,0.0,0.0
16,UndisbursedAmount,float64,float64,float64,46.0,46.0,46.0
17,FranchiseName,object,object,object,930147.0,930147.0,930147.0
18,ServicingLenderLocationID,int64,int64,int64,0.0,0.0,0.0
19,ServicingLenderName,object,object,object,0.0,0.0,0.0
20,ServicingLenderAddress,object,NaN,NaN,0.0,NaN,NaN
21,ServicingLenderCity,object,NaN,NaN,0.0,NaN,NaN
22,ServicingLenderState,object,object,object,0.0,0.0,0.0
23,ServicingLenderZip,object,NaN,NaN,0.0,NaN,NaN
24,RuralUrbanIndicator,object,object,NaN,0.0,0.0,NaN
25,HubzoneIndicator,object,object,NaN,0.0,0.0,NaN
26,LMIIndicator,object,object,NaN,0.0,0.0,NaN
27,BusinessAgeDescription,object,object,object,1.0,0.0,0.0
28,ProjectCity,object,NaN,NaN,13.0,NaN,NaN
29,ProjectCountyName,object,NaN,NaN,57.0,NaN,NaN
30,ProjectState,object,NaN,NaN,9.0,NaN,NaN
31,ProjectZip,object,NaN,NaN,14.0,NaN,NaN
32,CD,object,object,object,46.0,46.0,46.0
33,JobsReported,float64,float64,float64,1.0,0.0,0.0
34,NAICSCode,float64,int64,NaN,6628.0,0.0,NaN
35,Race,object,NaN,NaN,0.0,NaN,NaN
36,Ethnicity,object,NaN,NaN,0.0,NaN,NaN
37,UTILITIES_PROCEED,float64,NaN,NaN,627203.0,NaN,NaN
38,PAYROLL_PROCEED,float64,NaN,NaN,1827.0,NaN,NaN
39,MORTGAGE_INTEREST_PROCEED,float64,NaN,NaN,920028.0,NaN,NaN
40,RENT_PROCEED,float64,NaN,NaN,866328.0,NaN,NaN
41,REFINANCE_EIDL_PROCEED,float64,NaN,NaN,942704.0,NaN,NaN
42,HEALTH_CARE_PROCEED,float64,NaN,NaN,908126.0,NaN,NaN
43,DEBT_INTEREST_PROCEED,float64,NaN,NaN,933856.0,NaN,NaN
44,BusinessType,object,object,object,720.0,0.0,0.0
45,OriginatingLenderLocationID,int64,int64,int64,0.0,0.0,0.0
46,OriginatingLender,object,object,object,0.0,0.0,0.0
47,OriginatingLenderCity,object,object,object,0.0,0.0,0.0
48,OriginatingLenderState,object,object,object,0.0,0.0,0.0
49,Gender,object,NaN,NaN,0.0,NaN,NaN
50,Veteran,object,NaN,NaN,0.0,NaN,NaN
51,NonProfit,object,object,object,906202.0,0.0,0.0
52,ForgivenessAmount,float64,float64,float64,26515.0,26515.0,26515.0
53,ForgivenessDate,object,NaN,NaN,26515.0,NaN,NaN
54,DateApprovedTS,NaN,int64,int64,NaN,0.0,0.0
55,SBAOfficeLabel,NaN,object,object,NaN,0.0,0.0
56,LoanStatusDateTS,NaN,float64,float64,NaN,16825.0,16825.0
57,ServicingLenderFullAddress,NaN,object,object,NaN,0.0,0.0
58,ForgivenessDateTS,NaN,float64,float64,NaN,26515.0,26515.0
59,Estimated_LenderPercent,NaN,object,object,NaN,0.0,0.0
60,Estimated_LenderProfit,NaN,float64,float64,NaN,0.0,0.0
61,NA,NaN,int64,NaN,NaN,0.0,NaN
62,4DigitNAICS,NaN,int64,NaN,NaN,0.0,NaN
63,Industry,NaN,object,object,NaN,0.0,0.0
64,IndustrySubsector,NaN,object,object,NaN,0.0,0.0
65,TRIIndustrySector,NaN,object,NaN,NaN,12162.0,NaN
66,Loan_Range,NaN,object,NaN,NaN,0.0,NaN
67,job_Range,NaN,object,NaN,NaN,0.0,NaN
68,LongName,NaN,object,object,NaN,0.0,0.0
69,full_add,NaN,object,object,NaN,0.0,0.0
70,HASHcodePM,NaN,NaN,object,NaN,NaN,0.0
71,Lat,NaN,NaN,float64,NaN,NaN,613.0
72,Long,NaN,NaN,float64,NaN,NaN,613.0
73,FIPS_z,NaN,NaN,float64,NaN,NaN,1393.0

<h3>Geoprocessing NoteBooks

<h4>Geocode Check

In [42]:
csvpath_geo = ("../data/state_data/geo/ppp_geo.csv")

In [43]:
size_geo= os.path.getsize(csvpath_geo)/1024**2
print(size_geo)

79.40129470825195

In [44]:
ppp_df_geo = pd.read_csv(csvpath_geo, index_col=0)

In [45]:
print(ppp_df_geo.shape[0])

968557

In [46]:
print(ppp_df_geo.columns)

Index(['LoanNumber', 'BorrowerState', 'full_add', 'Lat', 'Long', 'FIPS_z'], dtype='object')

In [47]:
print(ppp_df_geo.isnull().sum()) #note: has less null lat, long than geo_fips

LoanNumber            0
BorrowerState         0
full_add              6
Lat                  44
Long                 44
FIPS_z           876018
dtype: int64

In [48]:
print(ppp_df_geo.dtypes)

LoanNumber         int64
BorrowerState     object
full_add          object
Lat              float64
Long             float64
FIPS_z           float64
dtype: object

<h4>Selenium FIPS Check

In [49]:
csvpath_fips = ("../data/state_data/geo/ppp_geo_fips.csv") #merged with 23, does not include geoprocessng for row differences b/w 21/23

In [50]:
size_fips= os.path.getsize(csvpath_fips)/1024**2
print(size_fips)

93.31274318695068

In [51]:
ppp_df_fips = pd.read_csv(csvpath_fips, index_col=0)

In [52]:
print(ppp_df_fips.shape[0])

968557

In [53]:
print(ppp_df_fips.columns)

Index(['LoanNumber', 'BorrowerState', 'full_add', 'Lat', 'Long', 'FIPS_z'], dtype='object')

In [54]:
print(ppp_df_fips.isnull().sum())

LoanNumber         0
BorrowerState      0
full_add           6
Lat              145
Long             145
FIPS_z           926
dtype: int64

In [55]:
print(ppp_df_fips.dtypes)

LoanNumber         int64
BorrowerState     object
full_add          object
Lat              float64
Long             float64
FIPS_z           float64
dtype: object

<h4>State Process Checks

In [56]:
path21_hpgf =pd.read_csv("../data/pipe_hpgf.csv", index_col=0)
path23_hpgf =pd.read_csv("../data/pipe_hpgf23.csv")

In [57]:
set(path21_hpgf.columns).symmetric_difference(path23_hpgf.columns)

{'Unnamed: 0'}

21

In [58]:
state_counts21 = path21_hpgf["BorrowerState"].value_counts()
state_counts21

BorrowerState
CA    130622
TX     76185
NY     74113
FL     60041
IL     40815
PA     38537
OH     32650
NJ     32533
MI     29809
MA     27471
GA     25832
WA     23755
VA     23266
NC     22826
CO     19742
MN     19730
MD     18979
WI     17354
IN     16601
MO     16350
TN     15869
AZ     15796
LA     13668
OR     13456
CT     12893
AL     10912
SC     10743
OK      9997
UT      9295
KY      9179
IA      8295
NV      8262
KS      8202
AR      5857
NE      5804
MS      5502
NH      5078
HI      4980
NM      4485
ID      4416
DC      4399
ME      4185
RI      3792
WV      3365
ND      3222
MT      3144
DE      2996
PR      2952
SD      2695
AK      2663
VT      2270
WY      2139
GU       443
VI       290
MP        82
AS        20
Name: count, dtype: int64

In [59]:
cols = ["full_add","Lat","Long","FIPS_z"]
null21= path21_hpgf[cols].isnull()
null21_vc=null21.value_counts()
null21_vc

full_add  Lat    Long   FIPS_z
False     False  False  False     967631
                        True         781
          True   True   True         139
True      True   True   True           6
Name: count, dtype: int64

In [60]:
path21_hpgf_nullcoltotals= path21_hpgf[path21_hpgf.columns[path21_hpgf.isnull().any()]].isnull().sum()
path21_hpgf_nullcoltotals

BorrowerName              4
LoanStatusDateTS     281932
UndisbursedAmount       219
FranchiseName        933151
CD                       46
ForgivenessAmount    207884
ForgivenessDateTS    207884
full_add                  6
Lat                     145
Long                    145
FIPS_z                  926
dtype: int64

In [61]:
path21_hpgf_grp= path21_hpgf.groupby('BorrowerState')[['full_add','Lat','Long','FIPS_z']].apply(lambda x: x.isna().sum())
path21_hpgf_grp

               full_add  Lat  Long  FIPS_z
BorrowerState
AK                    0    5     5      11
AL                    0    8     8      31
AR                    0    2     2       6
AS                    0    0     0       0
AZ                    0    0     0      10
CA                    1    1     1      17
CO                    1    3     3       9
CT                    0    1     1       4
DC                    0    0     0       8
DE                    0    0     0       3
FL                    0   13    13      26
GA                    0    1     1      11
GU                    0    0     0       1
HI                    0    1     1       1
IA                    0    1     1      25
ID                    0    2     2       5
IL                    0    2     2      36
IN                    0   28    28      63
KS                    0    0     0      31
KY                    0    0     0      16
LA                    0    0     0      57
MA                    0    3     3      11
MD                    0    0     0      13
ME                    0    2     2       6
MI                    0   14    14      35
MN                    0    1     1      34
MO                    0    0     0      35
MP                    0    0     0       0
MS                    0    1     1      19
MT                    0    0     0      10
NC                    0   11    11      27
ND                    0    0     0      10
NE                    0    1     1      19
NH                    0    0     0       3
NJ                    0    3     3      27
NM                    0    4     4       9
NV                    0    0     0       9
NY                    1    2     2      63
OH                    0    1     1      11
OK                    0    0     0      22
OR                    0    6     6      14
PA                    0    8     8      41
PR                    0    2     2      17
RI                    0    0     0       0
SC                    1    1     1       5
SD                    0    0     0       2
TN                    0    3     3      27
TX                    2    6     6      30
UT                    0    0     0       2
VA                    0    0     0      11
VI                    0    1     1       1
VT                    0    0     0       4
WA                    0    4     4       9
WI                    0    2     2      15
WV                    0    1     1       9
WY                    0    0     0       5

In [62]:
pd.set_option('display.max_columns', None)
path21_hpgf_nullcnts= path21_hpgf[path21_hpgf.columns.difference(['BorrowerState'])].isnull().groupby(path21_hpgf.BorrowerState).sum().astype(int)
path21_hpgf_drop0= path21_hpgf_nullcnts.loc[:, path21_hpgf_nullcnts.any()] #drops columns if all values are False
path21_hpgf_drop0

,BorrowerName,CD,FIPS_z,ForgivenessAmount,ForgivenessDateTS,FranchiseName,Lat,LoanStatusDateTS,Long,UndisbursedAmount,full_add
BorrowerState,,,,,,,,,,,
AK,1,0,11,701,701,2587,5,911,5,0,0
AL,0,2,31,2024,2024,10509,8,3007,8,6,0
AR,0,0,6,797,797,5583,2,1073,2,2,0
AS,0,0,0,4,4,20,0,5,0,0,0
AZ,0,0,10,3335,3335,15134,0,4264,0,3,0
CA,1,14,17,36394,36394,126213,1,47425,1,28,1
CO,0,1,9,3602,3602,19011,3,4810,3,7,1
CT,0,2,4,2761,2761,12492,1,3577,1,1,0
DC,0,0,8,1325,1325,4371,0,1712,0,0,0
DE,0,0,3,686,686,2894,0,969,0,0,0
FL,0,1,26,15048,15048,58090,13,19325,13,21,0
GA,0,0,11,5352,5352,24659,1,7002,1,10,0
GU,0,0,1,102,102,420,0,146,0,0,0
HI,0,0,1,1102,1102,4881,1,1505,1,0,0
IA,0,0,25,810,810,7969,1,1361,1,4,0
ID,0,0,5,572,572,4225,2,902,2,0,0
IL,0,1,36,8231,8231,39352,2,11350,2,4,0
IN,0,0,63,2344,2344,15880,28,3220,28,8,0
KS,0,0,31,925,925,7780,0,1439,0,2,0
KY,0,0,16,1465,1465,8622,0,2105,0,2,0
LA,0,0,57,3311,3311,13278,0,4398,0,4,0
MA,0,0,11,5817,5817,26744,3,8455,3,3,0
MD,0,0,13,4316,4316,18343,0,5952,0,0,0
ME,0,0,6,686,686,4038,2,932,2,0,0
MI,0,3,35,5894,5894,28619,14,8482,14,7,0
MN,0,0,34,2918,2918,18915,1,4356,1,10,0
MO,0,0,35,2181,2181,15670,0,3195,0,23,0
MP,0,0,0,19,19,80,0,29,0,0,0
MS,0,0,19,1099,1099,5221,1,1488,1,0,0
MT,0,0,10,476,476,2952,0,645,0,0,0
NC,0,0,27,4456,4456,21847,11,6118,11,2,0
ND,0,0,10,409,409,3046,0,576,0,0,0
NE,0,0,19,586,586,5539,1,891,1,2,0
NH,0,0,3,794,794,4941,0,1145,0,0,0
NJ,0,1,27,8093,8093,31569,3,12407,3,0,0
NM,0,0,9,955,955,4266,4,1328,4,9,0
NV,0,2,9,2190,2190,7937,0,2852,0,2,0
NY,1,6,63,22135,22135,72589,2,29617,2,7,1
OH,0,7,11,5766,5766,31279,1,7971,1,13,0
OK,0,0,22,1455,1455,9661,0,1967,0,1,0
OR,1,0,14,2472,2472,12999,6,3296,6,1,0
PA,0,0,41,7506,7506,37228,8,10892,8,10,0
PR,0,0,17,682,682,2853,2,874,2,1,0
RI,0,0,0,700,700,3662,0,1090,0,0,0
SC,0,0,5,1962,1962,10207,1,2668,1,0,1
SD,0,0,2,235,235,2505,0,429,0,0,0
TN,0,0,27,2707,2707,15130,3,3821,3,1,0
TX,0,4,30,15206,15206,73005,6,19696,6,9,2
UT,0,1,2,1799,1799,8852,0,2454,0,2,0
VA,0,0,11,4685,4685,22316,0,6187,0,3,0
VI,0,0,1,80,80,284,1,109,1,0,0
VT,0,0,4,377,377,2220,0,705,0,0,0
WA,0,0,9,4949,4949,22935,4,6289,4,5,0
WI,0,1,15,2295,2295,16523,2,3110,2,6,0
WV,0,0,9,739,739,3175,1,893,1,0,0
WY,0,0,5,354,354,2031,0,507,0,0,0

In [63]:
pd.set_option('display.max_rows', None) #disables display option

23

In [64]:
state_counts23 = path23_hpgf["BorrowerState"].value_counts()
print(state_counts23)

BorrowerState
CA               129086
TX                76061
NY                73819
FL                60003
IL                40763
PA                38500
OH                32639
NJ                32515
MI                29791
MA                27179
GA                25787
WA                23620
VA                23224
NC                22796
MN                19720
CO                19669
MD                18955
WI                17346
IN                16594
MO                16339
TN                15864
AZ                15757
LA                13669
OR                13403
CT                12882
AL                10912
SC                10741
OK                 9995
UT                 9258
KY                 9178
IA                 8295
NV                 8254
KS                 8201
AR                 5857
NE                 5804
MS                 5504
NH                 5069
HI                 4979
NM                 4482
ID                 4415
DC                 4383
ME                 4185
RI                 3786
WV                 3365
ND                 3222
MT                 3142
DE                 2990
PR                 2952
SD                 2695
AK                 2662
VT                 2265
WY                 2137
GU                  443
VI                  290
MP                   82
AS                   20
Not Available         8
Name: count, dtype: int64

In [65]:
cols = ["full_add","Lat","Long","FIPS_z"]
null23= path23_hpgf[cols].isnull()
null23_vc=null23.value_counts()
null23_vc

full_add  Lat    Long   FIPS_z
False     False  False  False     964159
                        True         780
          True   True   True         613
Name: count, dtype: int64

In [66]:
path23_hpgf_nullcoltotals = path23_hpgf[path23_hpgf.columns[path23_hpgf.isnull().any()]].isnull().sum()
path23_hpgf_nullcoltotals

BorrowerName              4
LoanStatusDateTS      16825
UndisbursedAmount        46
FranchiseName        930147
CD                       46
ForgivenessAmount     26515
ForgivenessDateTS     26515
Lat                     613
Long                    613
FIPS_z                 1393
dtype: int64

In [67]:
path23_hpgf_grp= path23_hpgf.groupby('BorrowerState')[['full_add','Lat','Long','FIPS_z']].apply(lambda x: x.isna().sum())
path23_hpgf_grp

               full_add  Lat  Long  FIPS_z
BorrowerState
AK                    0    5     5      11
AL                    0   10    10      33
AR                    0    2     2       6
AS                    0    0     0       0
AZ                    0    6     6      16
CA                    0   98    98     114
CO                    0   12    12      18
CT                    0    3     3       6
DC                    0    1     1       8
DE                    0    0     0       3
FL                    0   59    59      72
GA                    0   16    16      26
GU                    0    0     0       1
HI                    0    5     5       5
IA                    0    2     2      26
ID                    0    4     4       7
IL                    0   14    14      48
IN                    0   30    30      65
KS                    0    0     0      31
KY                    0    1     1      17
LA                    0    6     6      63
MA                    0   17    17      25
MD                    0    7     7      20
ME                    0    2     2       6
MI                    0   24    24      45
MN                    0    1     1      34
MO                    0    7     7      42
MP                    0    0     0       0
MS                    0    5     5      23
MT                    0    0     0      10
NC                    0   17    17      33
ND                    0    0     0      10
NE                    0    2     2      20
NH                    0    0     0       3
NJ                    0   25    25      49
NM                    0    5     5      10
NV                    0   21    21      30
NY                    0   43    43     104
Not Available         0    8     8       8
OH                    0    5     5      15
OK                    0    4     4      26
OR                    0   11    11      19
PA                    0   18    18      51
PR                    0    3     3      18
RI                    0    0     0       0
SC                    0    2     2       6
SD                    0    1     1       3
TN                    0    5     5      29
TX                    0   40    40      64
UT                    0    1     1       3
VA                    0   32    32      44
VI                    0    1     1       1
VT                    0    0     0       3
WA                    0   25    25      30
WI                    0    6     6      19
WV                    0    1     1       9
WY                    0    0     0       5

In [68]:
pd.set_option('display.max_columns', None)
path23_hpgf_nullcnts= path23_hpgf[path23_hpgf.columns.difference(['BorrowerState'])].isnull().groupby(path23_hpgf.BorrowerState).sum().astype(int)
path23_hpgf_drop0= path23_hpgf_nullcnts.loc[:, path23_hpgf_nullcnts.any()] #drops columns if all values are False
path23_hpgf_drop0

,BorrowerName,CD,FIPS_z,ForgivenessAmount,ForgivenessDateTS,FranchiseName,Lat,LoanStatusDateTS,Long,UndisbursedAmount
BorrowerState,,,,,,,,,,
AK,1,0,11,37,37,2586,5,57,5,0
AL,0,2,33,153,153,10509,10,95,10,1
AR,0,0,6,62,62,5583,2,28,2,2
AS,0,0,0,2,2,20,0,2,0,0
AZ,0,0,16,480,480,15095,6,237,6,0
CA,1,14,114,5069,5069,124678,98,3254,98,5
CO,0,1,18,437,437,18938,12,257,12,2
CT,0,2,6,232,232,12481,3,157,3,0
DC,0,0,8,165,165,4355,1,158,1,1
DE,0,0,3,58,58,2888,0,52,0,0
FL,0,1,72,3700,3700,58053,59,1728,59,2
GA,0,0,26,1325,1325,24614,16,593,16,1
GU,0,0,1,9,9,420,0,19,0,0
HI,0,0,5,78,78,4880,5,131,5,0
IA,0,0,26,48,48,7969,2,32,2,3
ID,0,0,7,63,63,4224,4,41,4,0
IL,0,0,48,1043,1043,39300,14,647,14,2
IN,0,0,65,226,226,15873,30,117,30,7
KS,0,0,31,81,81,7779,0,56,0,0
KY,0,0,17,125,125,8621,1,101,1,2
LA,0,0,63,266,266,13279,6,214,6,3
MA,0,0,25,434,434,26452,17,423,17,0
MD,0,0,20,593,593,18319,7,386,7,0
ME,0,0,6,44,44,4038,2,20,2,0
MI,0,0,45,562,562,28601,24,357,24,0
MN,0,0,34,214,214,18905,1,171,1,2
MO,0,0,42,209,209,15659,7,138,7,1
MP,0,0,0,3,3,80,0,7,0,0
MS,0,0,23,136,136,5223,5,68,5,0
MT,0,0,10,38,38,2950,0,22,0,0
NC,0,0,33,419,419,21817,17,295,17,0
ND,0,0,10,23,23,3046,0,28,0,0
NE,0,0,20,39,39,5539,2,29,2,0
NH,0,0,3,51,51,4932,0,40,0,0
NJ,0,1,49,944,944,31551,25,697,25,0
NM,0,0,10,83,83,4263,5,66,5,0
NV,0,2,30,394,394,7929,21,234,21,0
NY,1,6,104,2857,2857,72295,43,1988,43,1
Not Available,0,8,8,0,0,8,8,0,8,0
OH,0,3,15,545,545,31267,5,350,5,0
OK,0,0,26,122,122,9659,4,93,4,1
OR,1,0,19,208,208,12946,11,177,11,0
PA,0,0,51,629,629,37191,18,522,18,1
PR,0,0,18,21,21,2853,3,18,3,0
RI,0,0,0,42,42,3656,0,61,0,0
SC,0,0,6,243,243,10205,2,108,2,0
SD,0,0,3,28,28,2505,1,11,1,0
TN,0,0,29,300,300,15125,5,178,5,0
TX,0,4,64,2104,2104,72881,40,1235,40,4
UT,0,1,3,228,228,8815,1,162,1,1
VA,0,0,44,569,569,22274,32,381,32,1
VI,0,0,1,7,7,284,1,5,1,0
VT,0,0,3,17,17,2215,0,17,0,0
WA,0,0,30,453,453,22800,25,338,25,0
WI,0,1,19,177,177,16515,6,142,6,3
WV,0,0,9,66,66,3175,1,49,1,0
WY,0,0,5,54,54,2029,0,33,0,0

In [69]:
state_countsdf21 = pd.DataFrame({'BorrowerState': state_counts21.index, 'count':state_counts21.values})
merge_21= state_countsdf21.merge(path21_hpgf_grp, on='BorrowerState', how='left')
merge_21

   BorrowerState   count  full_add  Lat  Long  FIPS_z
0             CA  130622         1    1     1      17
1             TX   76185         2    6     6      30
2             NY   74113         1    2     2      63
3             FL   60041         0   13    13      26
4             IL   40815         0    2     2      36
5             PA   38537         0    8     8      41
6             OH   32650         0    1     1      11
7             NJ   32533         0    3     3      27
8             MI   29809         0   14    14      35
9             MA   27471         0    3     3      11
10            GA   25832         0    1     1      11
11            WA   23755         0    4     4       9
12            VA   23266         0    0     0      11
13            NC   22826         0   11    11      27
14            CO   19742         1    3     3       9
15            MN   19730         0    1     1      34
16            MD   18979         0    0     0      13
17            WI   17354         0    2     2      15
18            IN   16601         0   28    28      63
19            MO   16350         0    0     0      35
20            TN   15869         0    3     3      27
21            AZ   15796         0    0     0      10
22            LA   13668         0    0     0      57
23            OR   13456         0    6     6      14
24            CT   12893         0    1     1       4
25            AL   10912         0    8     8      31
26            SC   10743         1    1     1       5
27            OK    9997         0    0     0      22
28            UT    9295         0    0     0       2
29            KY    9179         0    0     0      16
30            IA    8295         0    1     1      25
31            NV    8262         0    0     0       9
32            KS    8202         0    0     0      31
33            AR    5857         0    2     2       6
34            NE    5804         0    1     1      19
35            MS    5502         0    1     1      19
36            NH    5078         0    0     0       3
37            HI    4980         0    1     1       1
38            NM    4485         0    4     4       9
39            ID    4416         0    2     2       5
40            DC    4399         0    0     0       8
41            ME    4185         0    2     2       6
42            RI    3792         0    0     0       0
43            WV    3365         0    1     1       9
44            ND    3222         0    0     0      10
45            MT    3144         0    0     0      10
46            DE    2996         0    0     0       3
47            PR    2952         0    2     2      17
48            SD    2695         0    0     0       2
49            AK    2663         0    5     5      11
50            VT    2270         0    0     0       4
51            WY    2139         0    0     0       5
52            GU     443         0    0     0       1
53            VI     290         0    1     1       1
54            MP      82         0    0     0       0
55            AS      20         0    0     0       0

In [70]:
state_countsdf23 = pd.DataFrame({'BorrowerState': state_counts23.index, 'count':state_counts23.values})
merge_23= state_countsdf23.merge(path23_hpgf_grp, on="BorrowerState", how='left')
merge_23

    BorrowerState   count  full_add  Lat  Long  FIPS_z
0              CA  129086         0   98    98     114
1              TX   76061         0   40    40      64
2              NY   73819         0   43    43     104
3              FL   60003         0   59    59      72
4              IL   40763         0   14    14      48
5              PA   38500         0   18    18      51
6              OH   32639         0    5     5      15
7              NJ   32515         0   25    25      49
8              MI   29791         0   24    24      45
9              MA   27179         0   17    17      25
10             GA   25787         0   16    16      26
11             WA   23620         0   25    25      30
12             VA   23224         0   32    32      44
13             NC   22796         0   17    17      33
14             MN   19720         0    1     1      34
15             CO   19669         0   12    12      18
16             MD   18955         0    7     7      20
17             WI   17346         0    6     6      19
18             IN   16594         0   30    30      65
19             MO   16339         0    7     7      42
20             TN   15864         0    5     5      29
21             AZ   15757         0    6     6      16
22             LA   13669         0    6     6      63
23             OR   13403         0   11    11      19
24             CT   12882         0    3     3       6
25             AL   10912         0   10    10      33
26             SC   10741         0    2     2       6
27             OK    9995         0    4     4      26
28             UT    9258         0    1     1       3
29             KY    9178         0    1     1      17
30             IA    8295         0    2     2      26
31             NV    8254         0   21    21      30
32             KS    8201         0    0     0      31
33             AR    5857         0    2     2       6
34             NE    5804         0    2     2      20
35             MS    5504         0    5     5      23
36             NH    5069         0    0     0       3
37             HI    4979         0    5     5       5
38             NM    4482         0    5     5      10
39             ID    4415         0    4     4       7
40             DC    4383         0    1     1       8
41             ME    4185         0    2     2       6
42             RI    3786         0    0     0       0
43             WV    3365         0    1     1       9
44             ND    3222         0    0     0      10
45             MT    3142         0    0     0      10
46             DE    2990         0    0     0       3
47             PR    2952         0    3     3      18
48             SD    2695         0    1     1       3
49             AK    2662         0    5     5      11
50             VT    2265         0    0     0       3
51             WY    2137         0    0     0       5
52             GU     443         0    0     0       1
53             VI     290         0    1     1       1
54             MP      82         0    0     0       0
55             AS      20         0    0     0       0
56  Not Available       8         0    8     8       8

In [71]:
null21_vc.to_csv("../data/process_data/geo_tfnulls21vc.csv")
path21_hpgf_nullcoltotals.to_csv("../data/process_data/null_coltotals21.csv")
path21_hpgf_drop0.to_csv("../data/process_data/state_nulls21.csv")
merge_21.to_csv("../data/process_data/state_geonulls21.csv")

null23_vc.to_csv("../data/process_data/geo_tfnulls23vc.csv")
path23_hpgf_nullcoltotals.to_csv("../data/process_data/null_coltotals23.csv")
path23_hpgf_drop0.to_csv("../data/process_data/state_nulls23.csv")
merge_23.to_csv("../data/process_data/state_geonulls23.csv")

In [72]:
pd.set_option('display.max_rows', None) #disables display option