In [1]:
import pandas as pd
import numpy as np
import os

<h3>Finalization NoteBooks

<h4>Main Label Pipeline Check

<h5>Raw Input File

In [2]:
csvpath_21=("../data/raw/>150K/public_150k_plus_211121_add.csv")
csvpath_23=("../data/raw/>150K/public_150k_plus_230630_add.csv")

In [3]:
size21= os.path.getsize(csvpath_21)/1024**2
size23= os.path.getsize(csvpath_23)/1024**2
print(size21)
print(size23)

433.59666538238525
445.5604133605957

In [4]:
ppp_df_21= pd.read_csv(csvpath_21, index_col=0) #drops Unnamed; alt: df = df.loc[:, ~df.columns.str.contains('^Unnamed')] OR df.loc[:, ~df.columns.str.match('Unnamed')]
ppp_df_23= pd.read_csv(csvpath_23)

In [5]:
print(ppp_df_21.shape[0])
print(ppp_df_23.shape[0])

968557
965552

In [6]:
print(ppp_df_21.columns)
print(ppp_df_23.columns)
print(len(ppp_df_21.columns))
print(len(ppp_df_23.columns))

Index(['LoanNumber', 'DateApproved', 'SBAOfficeCode', 'ProcessingMethod',
       'BorrowerName', 'BorrowerAddress', 'BorrowerCity', 'BorrowerState',
       'BorrowerZip', 'LoanStatusDate', 'LoanStatus', 'Term',
       'SBAGuarantyPercentage', 'InitialApprovalAmount',
       'CurrentApprovalAmount', 'UndisbursedAmount', 'FranchiseName',
       'ServicingLenderLocationID', 'ServicingLenderName',
       'ServicingLenderAddress', 'ServicingLenderCity', 'ServicingLenderState',
       'ServicingLenderZip', 'RuralUrbanIndicator', 'HubzoneIndicator',
       'LMIIndicator', 'BusinessAgeDescription', 'ProjectCity',
       'ProjectCountyName', 'ProjectState', 'ProjectZip', 'CD', 'JobsReported',
       'NAICSCode', 'Race', 'Ethnicity', 'UTILITIES_PROCEED',
       'PAYROLL_PROCEED', 'MORTGAGE_INTEREST_PROCEED', 'RENT_PROCEED',
       'REFINANCE_EIDL_PROCEED', 'HEALTH_CARE_PROCEED',
       'DEBT_INTEREST_PROCEED', 'BusinessType', 'OriginatingLenderLocationID',
       'OriginatingLender', 'OriginatingLenderCity', 'OriginatingLenderState',
       'Gender', 'Veteran', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDate'],
      dtype='object')
Index(['Unnamed: 0', 'LoanNumber', 'DateApproved', 'SBAOfficeCode',
       'ProcessingMethod', 'BorrowerName', 'BorrowerAddress', 'BorrowerCity',
       'BorrowerState', 'BorrowerZip', 'LoanStatusDate', 'LoanStatus', 'Term',
       'SBAGuarantyPercentage', 'InitialApprovalAmount',
       'CurrentApprovalAmount', 'UndisbursedAmount', 'FranchiseName',
       'ServicingLenderLocationID', 'ServicingLenderName',
       'ServicingLenderAddress', 'ServicingLenderCity', 'ServicingLenderState',
       'ServicingLenderZip', 'RuralUrbanIndicator', 'HubzoneIndicator',
       'LMIIndicator', 'BusinessAgeDescription', 'ProjectCity',
       'ProjectCountyName', 'ProjectState', 'ProjectZip', 'CD', 'JobsReported',
       'NAICSCode', 'Race', 'Ethnicity', 'UTILITIES_PROCEED',
       'PAYROLL_PROCEED', 'MORTGAGE_INTEREST_PROCEED', 'RENT_PROCEED',
       'REFINANCE_EIDL_PROCEED', 'HEALTH_CARE_PROCEED',
       'DEBT_INTEREST_PROCEED', 'BusinessType', 'OriginatingLenderLocationID',
       'OriginatingLender', 'OriginatingLenderCity', 'OriginatingLenderState',
       'Gender', 'Veteran', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDate'],
      dtype='object')
53
54

In [7]:
set(ppp_df_21.columns).symmetric_difference(ppp_df_23.columns)

{'Unnamed: 0'}

In [8]:
pd.set_option('display.max_columns', None)
print(ppp_df_21.isnull().sum())

LoanNumber                          0
DateApproved                        0
SBAOfficeCode                       0
ProcessingMethod                    0
BorrowerName                        4
BorrowerAddress                     6
BorrowerCity                        4
BorrowerState                       0
BorrowerZip                        12
LoanStatusDate                 281932
LoanStatus                          0
Term                                0
SBAGuarantyPercentage               0
InitialApprovalAmount               0
CurrentApprovalAmount               0
UndisbursedAmount                 219
FranchiseName                  933151
ServicingLenderLocationID           0
ServicingLenderName                 0
ServicingLenderAddress              0
ServicingLenderCity                 0
ServicingLenderState                0
ServicingLenderZip                  0
RuralUrbanIndicator                 0
HubzoneIndicator                    0
LMIIndicator                        0
BusinessAgeDescription              1
ProjectCity                        13
ProjectCountyName                  57
ProjectState                        9
ProjectZip                         14
CD                                 46
JobsReported                        1
NAICSCode                        6632
Race                                0
Ethnicity                           0
UTILITIES_PROCEED              629071
PAYROLL_PROCEED                  1824
MORTGAGE_INTEREST_PROCEED      922101
RENT_PROCEED                   868916
REFINANCE_EIDL_PROCEED         945363
HEALTH_CARE_PROCEED            910989
DEBT_INTEREST_PROCEED          936594
BusinessType                      728
OriginatingLenderLocationID         0
OriginatingLender                   0
OriginatingLenderCity               0
OriginatingLenderState              0
Gender                              0
Veteran                             0
NonProfit                      910149
ForgivenessAmount              207884
ForgivenessDate                207884
dtype: int64

In [9]:
print(ppp_df_23.isnull().sum())

Unnamed: 0                          0
LoanNumber                          0
DateApproved                        0
SBAOfficeCode                       0
ProcessingMethod                    0
BorrowerName                        4
BorrowerAddress                     0
BorrowerCity                        0
BorrowerState                       0
BorrowerZip                        13
LoanStatusDate                  16825
LoanStatus                          0
Term                                0
SBAGuarantyPercentage               0
InitialApprovalAmount               0
CurrentApprovalAmount               0
UndisbursedAmount                  46
FranchiseName                  930147
ServicingLenderLocationID           0
ServicingLenderName                 0
ServicingLenderAddress              0
ServicingLenderCity                 0
ServicingLenderState                0
ServicingLenderZip                  0
RuralUrbanIndicator                 0
HubzoneIndicator                    0
LMIIndicator                        0
BusinessAgeDescription              1
ProjectCity                        13
ProjectCountyName                  57
ProjectState                        9
ProjectZip                         14
CD                                 46
JobsReported                        1
NAICSCode                        6628
Race                                0
Ethnicity                           0
UTILITIES_PROCEED              627203
PAYROLL_PROCEED                  1827
MORTGAGE_INTEREST_PROCEED      920028
RENT_PROCEED                   866328
REFINANCE_EIDL_PROCEED         942704
HEALTH_CARE_PROCEED            908126
DEBT_INTEREST_PROCEED          933856
BusinessType                      720
OriginatingLenderLocationID         0
OriginatingLender                   0
OriginatingLenderCity               0
OriginatingLenderState              0
Gender                              0
Veteran                             0
NonProfit                      906202
ForgivenessAmount               26515
ForgivenessDate                 26515
dtype: int64

In [10]:
print(ppp_df_21.dtypes)

LoanNumber                       int64
DateApproved                    object
SBAOfficeCode                    int64
ProcessingMethod                object
BorrowerName                    object
BorrowerAddress                 object
BorrowerCity                    object
BorrowerState                   object
BorrowerZip                    float64
LoanStatusDate                  object
LoanStatus                      object
Term                             int64
SBAGuarantyPercentage            int64
InitialApprovalAmount          float64
CurrentApprovalAmount          float64
UndisbursedAmount              float64
FranchiseName                   object
ServicingLenderLocationID        int64
ServicingLenderName             object
ServicingLenderAddress          object
ServicingLenderCity             object
ServicingLenderState            object
ServicingLenderZip              object
RuralUrbanIndicator             object
HubzoneIndicator                object
LMIIndicator                    object
BusinessAgeDescription          object
ProjectCity                     object
ProjectCountyName               object
ProjectState                    object
ProjectZip                      object
CD                              object
JobsReported                   float64
NAICSCode                      float64
Race                            object
Ethnicity                       object
UTILITIES_PROCEED              float64
PAYROLL_PROCEED                float64
MORTGAGE_INTEREST_PROCEED      float64
RENT_PROCEED                   float64
REFINANCE_EIDL_PROCEED         float64
HEALTH_CARE_PROCEED            float64
DEBT_INTEREST_PROCEED          float64
BusinessType                    object
OriginatingLenderLocationID      int64
OriginatingLender               object
OriginatingLenderCity           object
OriginatingLenderState          object
Gender                          object
Veteran                         object
NonProfit                       object
ForgivenessAmount              float64
ForgivenessDate                 object
dtype: object

In [11]:
print(ppp_df_23.dtypes)
pd.set_option('display.max_rows', None) #disables display option

Unnamed: 0                       int64
LoanNumber                       int64
DateApproved                    object
SBAOfficeCode                    int64
ProcessingMethod                object
BorrowerName                    object
BorrowerAddress                 object
BorrowerCity                    object
BorrowerState                   object
BorrowerZip                     object
LoanStatusDate                  object
LoanStatus                      object
Term                             int64
SBAGuarantyPercentage            int64
InitialApprovalAmount          float64
CurrentApprovalAmount          float64
UndisbursedAmount              float64
FranchiseName                   object
ServicingLenderLocationID        int64
ServicingLenderName             object
ServicingLenderAddress          object
ServicingLenderCity             object
ServicingLenderState            object
ServicingLenderZip              object
RuralUrbanIndicator             object
HubzoneIndicator                object
LMIIndicator                    object
BusinessAgeDescription          object
ProjectCity                     object
ProjectCountyName               object
ProjectState                    object
ProjectZip                      object
CD                              object
JobsReported                   float64
NAICSCode                      float64
Race                            object
Ethnicity                       object
UTILITIES_PROCEED              float64
PAYROLL_PROCEED                float64
MORTGAGE_INTEREST_PROCEED      float64
RENT_PROCEED                   float64
REFINANCE_EIDL_PROCEED         float64
HEALTH_CARE_PROCEED            float64
DEBT_INTEREST_PROCEED          float64
BusinessType                    object
OriginatingLenderLocationID      int64
OriginatingLender               object
OriginatingLenderCity           object
OriginatingLenderState          object
Gender                          object
Veteran                         object
NonProfit                       object
ForgivenessAmount              float64
ForgivenessDate                 object
dtype: object

In [12]:
state_counts21 = ppp_df_21["BorrowerState"].value_counts()
print(state_counts21)

BorrowerState
CA    130622
TX     76185
NY     74113
FL     60041
IL     40815
PA     38537
OH     32650
NJ     32533
MI     29809
MA     27471
GA     25832
WA     23755
VA     23266
NC     22826
CO     19742
MN     19730
MD     18979
WI     17354
IN     16601
MO     16350
TN     15869
AZ     15796
LA     13668
OR     13456
CT     12893
AL     10912
SC     10743
OK      9997
UT      9295
KY      9179
IA      8295
NV      8262
KS      8202
AR      5857
NE      5804
MS      5502
NH      5078
HI      4980
NM      4485
ID      4416
DC      4399
ME      4185
RI      3792
WV      3365
ND      3222
MT      3144
DE      2996
PR      2952
SD      2695
AK      2663
VT      2270
WY      2139
GU       443
VI       290
MP        82
AS        20
Name: count, dtype: int64

In [13]:
state_counts23 = ppp_df_23["BorrowerState"].value_counts()
print(state_counts23)

BorrowerState
CA               129086
TX                76061
NY                73819
FL                60003
IL                40763
PA                38500
OH                32639
NJ                32515
MI                29791
MA                27179
GA                25787
WA                23620
VA                23224
NC                22796
MN                19720
CO                19669
MD                18955
WI                17346
IN                16594
MO                16339
TN                15864
AZ                15757
LA                13669
OR                13403
CT                12882
AL                10912
SC                10741
OK                 9995
UT                 9258
KY                 9178
IA                 8295
NV                 8254
KS                 8201
AR                 5857
NE                 5804
MS                 5504
NH                 5069
HI                 4979
NM                 4482
ID                 4415
DC                 4383
ME                 4185
RI                 3786
WV                 3365
ND                 3222
MT                 3142
DE                 2990
PR                 2952
SD                 2695
AK                 2662
VT                 2265
WY                 2137
GU                  443
VI                  290
MP                   82
AS                   20
Not Available         8
Name: count, dtype: int64

<h5>Post Label Process Output File

In [2]:
csvpath_21_post = "../data/ppp_pipe.csv"
csvpath_23_post = "../data/ppp_pipe23.csv"

In [3]:
size21_post= os.path.getsize(csvpath_21_post)/1024**2
size23_post= os.path.getsize(csvpath_23_post)/1024**2
print(size21_post)
print(size23_post)

515.1162557601929
514.6995267868042

In [4]:
ppp_df_21_post = pd.read_csv(csvpath_21_post, index_col=0)
ppp_df_23_post = pd.read_csv(csvpath_23_post, index_col=0)

In [5]:
print(ppp_df_21_post.shape[0])
print(ppp_df_23_post.shape[0])

968557
965552

In [6]:
print(ppp_df_21_post.columns)
print(ppp_df_23_post.columns)
print(len(ppp_df_21_post.columns))
print(len(ppp_df_23_post.columns))

Index(['LoanNumber', 'DateApprovedTS', 'SBAOfficeCode', 'SBAOfficeLabel',
       'ProcessingMethod', 'BorrowerName', 'BorrowerState', 'LoanStatusDateTS',
       'LoanStatus', 'Term', 'CurrentApprovalAmount', 'UndisbursedAmount',
       'FranchiseName', 'ServicingLenderLocationID', 'ServicingLenderName',
       'ServicingLenderState', 'ServicingLenderFullAddress',
       'RuralUrbanIndicator', 'HubzoneIndicator', 'LMIIndicator', 'CD',
       'JobsReported', 'OriginatingLenderLocationID', 'OriginatingLender',
       'OriginatingLenderCity', 'OriginatingLenderState', 'BusinessType',
       'BusinessAgeDescription', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDateTS', 'Estimated_LenderPercent',
       'Estimated_LenderProfit', 'NA', '4DigitNAICS', 'NAICSCode', 'Industry',
       'IndustrySubsector', 'TRIIndustrySector', 'Loan_Range', 'job_Range',
       'LongName', 'full_add'],
      dtype='object')
Index(['LoanNumber', 'DateApprovedTS', 'SBAOfficeCode', 'SBAOfficeLabel',
       'ProcessingMethod', 'BorrowerName', 'BorrowerState', 'LoanStatusDateTS',
       'LoanStatus', 'Term', 'CurrentApprovalAmount', 'UndisbursedAmount',
       'FranchiseName', 'ServicingLenderLocationID', 'ServicingLenderName',
       'ServicingLenderState', 'ServicingLenderFullAddress',
       'RuralUrbanIndicator', 'HubzoneIndicator', 'LMIIndicator', 'CD',
       'JobsReported', 'OriginatingLenderLocationID', 'OriginatingLender',
       'OriginatingLenderCity', 'OriginatingLenderState', 'BusinessType',
       'BusinessAgeDescription', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDateTS', 'Estimated_LenderPercent',
       'Estimated_LenderProfit', 'NA', '4DigitNAICS', 'NAICSCode', 'Industry',
       'IndustrySubsector', 'TRIIndustrySector', 'Loan_Range', 'job_Range',
       'LongName', 'full_add'],
      dtype='object')
43
43

In [7]:
pd.set_option('display.max_columns', None)
print(ppp_df_21_post.isnull().sum())

LoanNumber                          0
DateApprovedTS                      0
SBAOfficeCode                       0
SBAOfficeLabel                      0
ProcessingMethod                    0
BorrowerName                        4
BorrowerState                       0
LoanStatusDateTS                    0
LoanStatus                          0
Term                                0
CurrentApprovalAmount               0
UndisbursedAmount                 219
FranchiseName                  933151
ServicingLenderLocationID           0
ServicingLenderName                 0
ServicingLenderState                0
ServicingLenderFullAddress          0
RuralUrbanIndicator                 0
HubzoneIndicator                    0
LMIIndicator                        0
CD                                 46
JobsReported                        1
OriginatingLenderLocationID         0
OriginatingLender                   0
OriginatingLenderCity               0
OriginatingLenderState              0
BusinessType                        0
BusinessAgeDescription              0
NonProfit                           0
ForgivenessAmount              207884
ForgivenessDateTS                   0
Estimated_LenderPercent             0
Estimated_LenderProfit              0
NA                                  0
4DigitNAICS                         0
NAICSCode                           0
Industry                            0
IndustrySubsector                   0
TRIIndustrySector               12182
Loan_Range                          0
job_Range                           0
LongName                            0
full_add                            6
dtype: int64

In [8]:
print(ppp_df_23_post.isnull().sum())

LoanNumber                          0
DateApprovedTS                      0
SBAOfficeCode                       0
SBAOfficeLabel                      0
ProcessingMethod                    0
BorrowerName                        4
BorrowerState                       0
LoanStatusDateTS                    0
LoanStatus                          0
Term                                0
CurrentApprovalAmount               0
UndisbursedAmount                  46
FranchiseName                  930147
ServicingLenderLocationID           0
ServicingLenderName                 0
ServicingLenderState                0
ServicingLenderFullAddress          0
RuralUrbanIndicator                 0
HubzoneIndicator                    0
LMIIndicator                        0
CD                                 46
JobsReported                        1
OriginatingLenderLocationID         0
OriginatingLender                   0
OriginatingLenderCity               0
OriginatingLenderState              0
BusinessType                        0
BusinessAgeDescription              0
NonProfit                           0
ForgivenessAmount               26515
ForgivenessDateTS                   0
Estimated_LenderPercent             0
Estimated_LenderProfit              0
NA                                  0
4DigitNAICS                         0
NAICSCode                           0
Industry                            0
IndustrySubsector                   0
TRIIndustrySector               12162
Loan_Range                          0
job_Range                           0
LongName                            0
full_add                            0
dtype: int64

In [9]:
print(ppp_df_21_post.dtypes)

LoanNumber                       int64
DateApprovedTS                   int64
SBAOfficeCode                    int64
SBAOfficeLabel                  object
ProcessingMethod                object
BorrowerName                    object
BorrowerState                   object
LoanStatusDateTS                 int64
LoanStatus                      object
Term                             int64
CurrentApprovalAmount          float64
UndisbursedAmount              float64
FranchiseName                   object
ServicingLenderLocationID        int64
ServicingLenderName             object
ServicingLenderState            object
ServicingLenderFullAddress      object
RuralUrbanIndicator             object
HubzoneIndicator                object
LMIIndicator                    object
CD                              object
JobsReported                   float64
OriginatingLenderLocationID      int64
OriginatingLender               object
OriginatingLenderCity           object
OriginatingLenderState          object
BusinessType                    object
BusinessAgeDescription          object
NonProfit                       object
ForgivenessAmount              float64
ForgivenessDateTS               object
Estimated_LenderPercent         object
Estimated_LenderProfit         float64
NA                               int64
4DigitNAICS                      int64
NAICSCode                        int64
Industry                        object
IndustrySubsector               object
TRIIndustrySector               object
Loan_Range                      object
job_Range                       object
LongName                        object
full_add                        object
dtype: object

In [10]:
print(ppp_df_23_post.dtypes)
pd.set_option('display.max_rows', None) #disables display option

LoanNumber                       int64
DateApprovedTS                   int64
SBAOfficeCode                    int64
SBAOfficeLabel                  object
ProcessingMethod                object
BorrowerName                    object
BorrowerState                   object
LoanStatusDateTS                 int64
LoanStatus                      object
Term                             int64
CurrentApprovalAmount          float64
UndisbursedAmount              float64
FranchiseName                   object
ServicingLenderLocationID        int64
ServicingLenderName             object
ServicingLenderState            object
ServicingLenderFullAddress      object
RuralUrbanIndicator             object
HubzoneIndicator                object
LMIIndicator                    object
CD                              object
JobsReported                   float64
OriginatingLenderLocationID      int64
OriginatingLender               object
OriginatingLenderCity           object
OriginatingLenderState          object
BusinessType                    object
BusinessAgeDescription          object
NonProfit                       object
ForgivenessAmount              float64
ForgivenessDateTS               object
Estimated_LenderPercent         object
Estimated_LenderProfit         float64
NA                               int64
4DigitNAICS                      int64
NAICSCode                        int64
Industry                        object
IndustrySubsector               object
TRIIndustrySector               object
Loan_Range                      object
job_Range                       object
LongName                        object
full_add                        object
dtype: object

<h4>Main Hashing PipeLine Check

In [11]:
csvpath_21_hash = "../data/ppp_hash.csv"
csvpath_23_hash = "../data/ppp_hash23.csv"
csvpath_21_hashSort = "../data/ppp_hashSort.csv"
csvpath_23_hashSort = "../data/ppp_hashSort23.csv"

In [12]:
size21_hash= os.path.getsize(csvpath_21_hash)/1024**2
size23_hash= os.path.getsize(csvpath_23_hash)/1024**2
size21_hashSort= os.path.getsize(csvpath_21_hashSort)/1024**2
size23_hashSort= os.path.getsize(csvpath_23_hashSort)/1024**2
print(size21_hash)
print(size23_hash)
print(size21_hashSort)
print(size23_hashSort)

146.95548343658447
146.49556636810303
108.19139385223389
107.85181713104248

In [13]:
ppp_df_21_hash = pd.read_csv(csvpath_21_hash,index_col=0) 
ppp_df_23_hash = pd.read_csv(csvpath_23_hash,index_col=0) 
ppp_df_21_hashSort = pd.read_csv(csvpath_21_hashSort,index_col=0) 
ppp_df_23_hashSort = pd.read_csv(csvpath_23_hashSort,index_col=0)

In [26]:
print(ppp_df_21_hash.shape[0])
print(ppp_df_23_hash.shape[0])
print(ppp_df_21_hashSort.shape[0])
print(ppp_df_23_hashSort.shape[0])

968557
965552
968557
965552

In [27]:
print(ppp_df_21_hash.columns)
print(len(ppp_df_21_hash.columns))

print(ppp_df_23_hash.columns)
print(len(ppp_df_23_hash.columns))

print(ppp_df_21_hashSort.columns)
print(len(ppp_df_21_hashSort.columns))

print(ppp_df_23_hashSort.columns)
print(len(ppp_df_23_hashSort.columns))

Index(['LoanNumber', 'INDSScode', 'INDcode', 'SScode', 'LRcode', 'JRcode',
       'BTcode', 'BAcode', 'PMcode', 'HASHcodePM', 'Industry',
       'IndustrySubsector'],
      dtype='object')
12
Index(['LoanNumber', 'INDSScode', 'INDcode', 'SScode', 'LRcode', 'JRcode',
       'BTcode', 'BAcode', 'PMcode', 'HASHcodePM', 'Industry',
       'IndustrySubsector'],
      dtype='object')
12
Index(['LoanNumber', 'HASHcodePM', 'Industry', 'IndustrySubsector'], dtype='object')
4
Index(['LoanNumber', 'HASHcodePM', 'Industry', 'IndustrySubsector'], dtype='object')
4

In [28]:
set(ppp_df_21_hash.columns).symmetric_difference(ppp_df_21_hashSort.columns)

{'BAcode',
 'BTcode',
 'INDSScode',
 'INDcode',
 'JRcode',
 'LRcode',
 'PMcode',
 'SScode'}

In [29]:
print(ppp_df_21_hash.isnull().sum())
print(ppp_df_23_hash.isnull().sum())
print(ppp_df_21_hashSort.isnull().sum())
print(ppp_df_23_hashSort.isnull().sum())

LoanNumber           0
INDSScode            0
INDcode              0
SScode               0
LRcode               0
JRcode               0
BTcode               0
BAcode               0
PMcode               0
HASHcodePM           0
Industry             0
IndustrySubsector    0
dtype: int64
LoanNumber           0
INDSScode            0
INDcode              0
SScode               0
LRcode               0
JRcode               0
BTcode               0
BAcode               0
PMcode               0
HASHcodePM           0
Industry             0
IndustrySubsector    0
dtype: int64
LoanNumber           0
HASHcodePM           0
Industry             0
IndustrySubsector    0
dtype: int64
LoanNumber           0
HASHcodePM           0
Industry             0
IndustrySubsector    0
dtype: int64

In [30]:
pd.set_option('display.max_rows', 70)
print(ppp_df_21_hash.dtypes)
print(ppp_df_23_hash.dtypes)
print(ppp_df_21_hashSort.dtypes)
print(ppp_df_23_hashSort.dtypes)

LoanNumber            int64
INDSScode            object
INDcode              object
SScode               object
LRcode               object
JRcode               object
BTcode               object
BAcode               object
PMcode               object
HASHcodePM           object
Industry             object
IndustrySubsector    object
dtype: object
LoanNumber            int64
INDSScode            object
INDcode              object
SScode               object
LRcode               object
JRcode               object
BTcode               object
BAcode               object
PMcode               object
HASHcodePM           object
Industry             object
IndustrySubsector    object
dtype: object
LoanNumber            int64
HASHcodePM           object
Industry             object
IndustrySubsector    object
dtype: object
LoanNumber            int64
HASHcodePM           object
Industry             object
IndustrySubsector    object
dtype: object

<h4>Main Concat PipeLine Check

In [14]:
csvpath_21_con = ("../data/pipe_hpgf.csv")
csvpath_23_con = ("../data/pipe_hpgf23.csv")

In [15]:
size21_con= os.path.getsize(csvpath_21_con)/1024**2
size23_con= os.path.getsize(csvpath_23_con)/1024**2
print(size21_con)
print(size23_con)

526.8014068603516
519.9967374801636

In [16]:
ppp_df_21_con = pd.read_csv(csvpath_21_con)
ppp_df_23_con = pd.read_csv(csvpath_23_con)
ppp_df_21_con = ppp_df_21_con.loc[:, ~ppp_df_21_con.columns.str.contains('^Unnamed')] 
ppp_df_23_con = ppp_df_23_con.loc[:, ~ppp_df_23_con.columns.str.contains('^Unnamed')]

In [17]:
print(ppp_df_21_con.shape[0])
print(ppp_df_23_con.shape[0])

968557
965552

In [18]:
print(ppp_df_21_con.columns)
print(len(ppp_df_21_con.columns))
print(ppp_df_23_con.columns)
print(len(ppp_df_23_con.columns))

Index(['LoanNumber', 'HASHcodePM', 'Industry', 'IndustrySubsector',
       'DateApprovedTS', 'SBAOfficeCode', 'SBAOfficeLabel', 'ProcessingMethod',
       'BorrowerName', 'BorrowerState', 'LoanStatusDateTS', 'LoanStatus',
       'Term', 'CurrentApprovalAmount', 'UndisbursedAmount', 'FranchiseName',
       'ServicingLenderLocationID', 'ServicingLenderName',
       'ServicingLenderState', 'ServicingLenderFullAddress', 'CD',
       'JobsReported', 'OriginatingLenderLocationID', 'OriginatingLender',
       'OriginatingLenderCity', 'OriginatingLenderState', 'BusinessType',
       'BusinessAgeDescription', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDateTS', 'Estimated_LenderPercent',
       'Estimated_LenderProfit', 'LongName', 'full_add', 'Lat', 'Long',
       'FIPS_z'],
      dtype='object')
38
Index(['LoanNumber', 'DateApprovedTS', 'SBAOfficeCode', 'SBAOfficeLabel',
       'ProcessingMethod', 'BorrowerName', 'BorrowerState', 'LoanStatusDateTS',
       'LoanStatus', 'Term', 'CurrentApprovalAmount', 'UndisbursedAmount',
       'FranchiseName', 'ServicingLenderLocationID', 'ServicingLenderName',
       'ServicingLenderState', 'ServicingLenderFullAddress', 'CD',
       'JobsReported', 'OriginatingLenderLocationID', 'OriginatingLender',
       'OriginatingLenderCity', 'OriginatingLenderState', 'BusinessType',
       'BusinessAgeDescription', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDateTS', 'Estimated_LenderPercent',
       'Estimated_LenderProfit', 'LongName', 'full_add', 'HASHcodePM',
       'Industry', 'IndustrySubsector', 'Lat', 'Long', 'FIPS_z'],
      dtype='object')
38

In [19]:
set(ppp_df_23_con.columns).symmetric_difference(ppp_df_21_con.columns)

set()

In [20]:
print(ppp_df_21_con.isnull().sum())

LoanNumber                          0
HASHcodePM                          0
Industry                            0
IndustrySubsector                   0
DateApprovedTS                      0
SBAOfficeCode                       0
SBAOfficeLabel                      0
ProcessingMethod                    0
BorrowerName                        4
BorrowerState                       0
LoanStatusDateTS                    0
LoanStatus                          0
Term                                0
CurrentApprovalAmount               0
UndisbursedAmount                 219
FranchiseName                  933151
ServicingLenderLocationID           0
ServicingLenderName                 0
ServicingLenderState                0
ServicingLenderFullAddress          0
CD                                 46
JobsReported                        1
OriginatingLenderLocationID         0
OriginatingLender                   0
OriginatingLenderCity               0
OriginatingLenderState              0
BusinessType                        0
BusinessAgeDescription              0
NonProfit                           0
ForgivenessAmount              207884
ForgivenessDateTS                   0
Estimated_LenderPercent             0
Estimated_LenderProfit              0
LongName                            0
full_add                            6
Lat                               145
Long                              145
FIPS_z                            926
dtype: int64

In [21]:
print(ppp_df_23_con.isnull().sum())

LoanNumber                          0
DateApprovedTS                      0
SBAOfficeCode                       0
SBAOfficeLabel                      0
ProcessingMethod                    0
BorrowerName                        4
BorrowerState                       0
LoanStatusDateTS                    0
LoanStatus                          0
Term                                0
CurrentApprovalAmount               0
UndisbursedAmount                  46
FranchiseName                  930147
ServicingLenderLocationID           0
ServicingLenderName                 0
ServicingLenderState                0
ServicingLenderFullAddress          0
CD                                 46
JobsReported                        1
OriginatingLenderLocationID         0
OriginatingLender                   0
OriginatingLenderCity               0
OriginatingLenderState              0
BusinessType                        0
BusinessAgeDescription              0
NonProfit                           0
ForgivenessAmount               26515
ForgivenessDateTS                   0
Estimated_LenderPercent             0
Estimated_LenderProfit              0
LongName                            0
full_add                            0
HASHcodePM                          0
Industry                            0
IndustrySubsector                   0
Lat                               613
Long                              613
FIPS_z                           1393
dtype: int64

In [22]:
pd.set_option('display.max_rows', None)
print(ppp_df_21_con.dtypes)

LoanNumber                       int64
HASHcodePM                      object
Industry                        object
IndustrySubsector               object
DateApprovedTS                   int64
SBAOfficeCode                    int64
SBAOfficeLabel                  object
ProcessingMethod                object
BorrowerName                    object
BorrowerState                   object
LoanStatusDateTS                 int64
LoanStatus                      object
Term                             int64
CurrentApprovalAmount          float64
UndisbursedAmount              float64
FranchiseName                   object
ServicingLenderLocationID        int64
ServicingLenderName             object
ServicingLenderState            object
ServicingLenderFullAddress      object
CD                              object
JobsReported                   float64
OriginatingLenderLocationID      int64
OriginatingLender               object
OriginatingLenderCity           object
OriginatingLenderState          object
BusinessType                    object
BusinessAgeDescription          object
NonProfit                       object
ForgivenessAmount              float64
ForgivenessDateTS               object
Estimated_LenderPercent         object
Estimated_LenderProfit         float64
LongName                        object
full_add                        object
Lat                            float64
Long                           float64
FIPS_z                         float64
dtype: object

In [23]:
print(ppp_df_23_con.dtypes)

LoanNumber                       int64
DateApprovedTS                   int64
SBAOfficeCode                    int64
SBAOfficeLabel                  object
ProcessingMethod                object
BorrowerName                    object
BorrowerState                   object
LoanStatusDateTS                 int64
LoanStatus                      object
Term                             int64
CurrentApprovalAmount          float64
UndisbursedAmount              float64
FranchiseName                   object
ServicingLenderLocationID        int64
ServicingLenderName             object
ServicingLenderState            object
ServicingLenderFullAddress      object
CD                              object
JobsReported                   float64
OriginatingLenderLocationID      int64
OriginatingLender               object
OriginatingLenderCity           object
OriginatingLenderState          object
BusinessType                    object
BusinessAgeDescription          object
NonProfit                       object
ForgivenessAmount              float64
ForgivenessDateTS               object
Estimated_LenderPercent         object
Estimated_LenderProfit         float64
LongName                        object
full_add                        object
HASHcodePM                      object
Industry                        object
IndustrySubsector               object
Lat                            float64
Long                           float64
FIPS_z                         float64
dtype: object

In [24]:
pd.set_option('display.max_rows', None) #disables display option

Column Differences 2021 Raw, Pipe, Hash (removed, added, or changed)

In [25]:
set(ppp_df_21.columns).symmetric_difference(ppp_df_21_post.columns)

NameError: name 'ppp_df_21' is not defined

In [26]:
set(ppp_df_21_post.columns).symmetric_difference(ppp_df_21_con.columns)

{'4DigitNAICS',
 'FIPS_z',
 'HASHcodePM',
 'HubzoneIndicator',
 'LMIIndicator',
 'Lat',
 'Loan_Range',
 'Long',
 'NA',
 'NAICSCode',
 'RuralUrbanIndicator',
 'TRIIndustrySector',
 'job_Range'}

Column Differences 2023 Raw, Pipe, Hash

In [27]:
set(ppp_df_23.columns).symmetric_difference(ppp_df_23_post.columns)

NameError: name 'ppp_df_23' is not defined

In [28]:
set(ppp_df_23_post.columns).symmetric_difference(ppp_df_23_con.columns)

{'4DigitNAICS',
 'FIPS_z',
 'HASHcodePM',
 'HubzoneIndicator',
 'LMIIndicator',
 'Lat',
 'Loan_Range',
 'Long',
 'NA',
 'NAICSCode',
 'RuralUrbanIndicator',
 'TRIIndustrySector',
 'job_Range'}

<h3>Geoprocessing NoteBooks

<h4>Geocode Check

In [42]:
csvpath_geo = ("../data/state_data/geo/ppp_geo.csv")

In [43]:
size_geo= os.path.getsize(csvpath_geo)/1024**2
print(size_geo)

79.40129470825195

In [44]:
ppp_df_geo = pd.read_csv(csvpath_geo, index_col=0)

In [45]:
print(ppp_df_geo.shape[0])

968557

In [46]:
print(ppp_df_geo.columns)

Index(['LoanNumber', 'BorrowerState', 'full_add', 'Lat', 'Long', 'FIPS_z'], dtype='object')

In [47]:
print(ppp_df_geo.isnull().sum()) #note: has less null lat, long than geo_fips

LoanNumber            0
BorrowerState         0
full_add              6
Lat                  44
Long                 44
FIPS_z           876018
dtype: int64

In [48]:
print(ppp_df_geo.dtypes)

LoanNumber         int64
BorrowerState     object
full_add          object
Lat              float64
Long             float64
FIPS_z           float64
dtype: object

<h4>Selenium FIPS Check

In [40]:
csvpath_fips = ("../data/state_data/geo/ppp_geo_fips.csv") #merged with 23, does not include geoprocessng for row differences b/w 21/23

In [41]:
size_fips= os.path.getsize(csvpath_fips)/1024**2
print(size_fips)

93.31274318695068

In [42]:
ppp_df_fips = pd.read_csv(csvpath_fips, index_col=0)

In [43]:
print(ppp_df_fips.shape[0])

968557

In [44]:
print(ppp_df_fips.columns)

Index(['LoanNumber', 'BorrowerState', 'full_add', 'Lat', 'Long', 'FIPS_z'], dtype='object')

In [45]:
print(ppp_df_fips.isnull().sum())

LoanNumber         0
BorrowerState      0
full_add           6
Lat              145
Long             145
FIPS_z           926
dtype: int64

In [46]:
print(ppp_df_fips.dtypes)

LoanNumber         int64
BorrowerState     object
full_add          object
Lat              float64
Long             float64
FIPS_z           float64
dtype: object

<h4>State Process Checks

In [29]:
path21_hpgf =pd.read_csv("../data/pipe_hpgf.csv", index_col=0)
path23_hpgf =pd.read_csv("../data/pipe_hpgf23.csv")

In [30]:
set(path21_hpgf.columns).symmetric_difference(path23_hpgf.columns)

set()

21

In [31]:
state_counts21 = path21_hpgf["BorrowerState"].value_counts()
state_counts21

BorrowerState
CA    130622
TX     76185
NY     74113
FL     60041
IL     40815
PA     38537
OH     32650
NJ     32533
MI     29809
MA     27471
GA     25832
WA     23755
VA     23266
NC     22826
CO     19742
MN     19730
MD     18979
WI     17354
IN     16601
MO     16350
TN     15869
AZ     15796
LA     13668
OR     13456
CT     12893
AL     10912
SC     10743
OK      9997
UT      9295
KY      9179
IA      8295
NV      8262
KS      8202
AR      5857
NE      5804
MS      5502
NH      5078
HI      4980
NM      4485
ID      4416
DC      4399
ME      4185
RI      3792
WV      3365
ND      3222
MT      3144
DE      2996
PR      2952
SD      2695
AK      2663
VT      2270
WY      2139
GU       443
VI       290
MP        82
AS        20
Name: count, dtype: int64

In [32]:
cols = ["full_add","Lat","Long","FIPS_z"]
null21= path21_hpgf[cols].isnull()
null21_vc=null21.value_counts()
null21_vc

full_add  Lat    Long   FIPS_z
False     False  False  False     967631
                        True         781
          True   True   True         139
True      True   True   True           6
Name: count, dtype: int64

In [33]:
path21_hpgf_nullcoltotals= path21_hpgf[path21_hpgf.columns[path21_hpgf.isnull().any()]].isnull().sum()
path21_hpgf_nullcoltotals

BorrowerName              4
UndisbursedAmount       219
FranchiseName        933151
CD                       46
JobsReported              1
ForgivenessAmount    207884
full_add                  6
Lat                     145
Long                    145
FIPS_z                  926
dtype: int64

In [34]:
path21_hpgf_grp= path21_hpgf.groupby('BorrowerState')[['full_add','Lat','Long','FIPS_z']].apply(lambda x: x.isna().sum())
path21_hpgf_grp

               full_add  Lat  Long  FIPS_z
BorrowerState
AK                    0    5     5      11
AL                    0    8     8      31
AR                    0    2     2       6
AS                    0    0     0       0
AZ                    0    0     0      10
CA                    1    1     1      17
CO                    1    3     3       9
CT                    0    1     1       4
DC                    0    0     0       8
DE                    0    0     0       3
FL                    0   13    13      26
GA                    0    1     1      11
GU                    0    0     0       1
HI                    0    1     1       1
IA                    0    1     1      25
ID                    0    2     2       5
IL                    0    2     2      36
IN                    0   28    28      63
KS                    0    0     0      31
KY                    0    0     0      16
LA                    0    0     0      57
MA                    0    3     3      11
MD                    0    0     0      13
ME                    0    2     2       6
MI                    0   14    14      35
MN                    0    1     1      34
MO                    0    0     0      35
MP                    0    0     0       0
MS                    0    1     1      19
MT                    0    0     0      10
NC                    0   11    11      27
ND                    0    0     0      10
NE                    0    1     1      19
NH                    0    0     0       3
NJ                    0    3     3      27
NM                    0    4     4       9
NV                    0    0     0       9
NY                    1    2     2      63
OH                    0    1     1      11
OK                    0    0     0      22
OR                    0    6     6      14
PA                    0    8     8      41
PR                    0    2     2      17
RI                    0    0     0       0
SC                    1    1     1       5
SD                    0    0     0       2
TN                    0    3     3      27
TX                    2    6     6      30
UT                    0    0     0       2
VA                    0    0     0      11
VI                    0    1     1       1
VT                    0    0     0       4
WA                    0    4     4       9
WI                    0    2     2      15
WV                    0    1     1       9
WY                    0    0     0       5

In [35]:
pd.set_option('display.max_columns', None)
path21_hpgf_nullcnts= path21_hpgf[path21_hpgf.columns.difference(['BorrowerState'])].isnull().groupby(path21_hpgf.BorrowerState).sum().astype(int)
path21_hpgf_drop0= path21_hpgf_nullcnts.loc[:, path21_hpgf_nullcnts.any()] #drops columns if all values are False
path21_hpgf_drop0

,BorrowerName,CD,FIPS_z,ForgivenessAmount,FranchiseName,JobsReported,Lat,Long,UndisbursedAmount,full_add
BorrowerState,,,,,,,,,,
AK,1,0,11,701,2587,0,5,5,0,0
AL,0,2,31,2024,10509,0,8,8,6,0
AR,0,0,6,797,5583,0,2,2,2,0
AS,0,0,0,4,20,0,0,0,0,0
AZ,0,0,10,3335,15134,0,0,0,3,0
CA,1,14,17,36394,126213,0,1,1,28,1
CO,0,1,9,3602,19011,0,3,3,7,1
CT,0,2,4,2761,12492,0,1,1,1,0
DC,0,0,8,1325,4371,0,0,0,0,0
DE,0,0,3,686,2894,0,0,0,0,0
FL,0,1,26,15048,58090,0,13,13,21,0
GA,0,0,11,5352,24659,0,1,1,10,0
GU,0,0,1,102,420,0,0,0,0,0
HI,0,0,1,1102,4881,0,1,1,0,0
IA,0,0,25,810,7969,0,1,1,4,0
ID,0,0,5,572,4225,0,2,2,0,0
IL,0,1,36,8231,39352,0,2,2,4,0
IN,0,0,63,2344,15880,0,28,28,8,0
KS,0,0,31,925,7780,0,0,0,2,0
KY,0,0,16,1465,8622,0,0,0,2,0
LA,0,0,57,3311,13278,0,0,0,4,0
MA,0,0,11,5817,26744,0,3,3,3,0
MD,0,0,13,4316,18343,0,0,0,0,0
ME,0,0,6,686,4038,0,2,2,0,0
MI,0,3,35,5894,28619,0,14,14,7,0
MN,0,0,34,2918,18915,0,1,1,10,0
MO,0,0,35,2181,15670,0,0,0,23,0
MP,0,0,0,19,80,0,0,0,0,0
MS,0,0,19,1099,5221,0,1,1,0,0
MT,0,0,10,476,2952,0,0,0,0,0
NC,0,0,27,4456,21847,0,11,11,2,0
ND,0,0,10,409,3046,0,0,0,0,0
NE,0,0,19,586,5539,0,1,1,2,0
NH,0,0,3,794,4941,0,0,0,0,0
NJ,0,1,27,8093,31569,0,3,3,0,0
NM,0,0,9,955,4266,0,4,4,9,0
NV,0,2,9,2190,7937,0,0,0,2,0
NY,1,6,63,22135,72589,0,2,2,7,1
OH,0,7,11,5766,31279,0,1,1,13,0
OK,0,0,22,1455,9661,0,0,0,1,0
OR,1,0,14,2472,12999,0,6,6,1,0
PA,0,0,41,7506,37228,0,8,8,10,0
PR,0,0,17,682,2853,0,2,2,1,0
RI,0,0,0,700,3662,0,0,0,0,0
SC,0,0,5,1962,10207,0,1,1,0,1
SD,0,0,2,235,2505,0,0,0,0,0
TN,0,0,27,2707,15130,0,3,3,1,0
TX,0,4,30,15206,73005,0,6,6,9,2
UT,0,1,2,1799,8852,0,0,0,2,0
VA,0,0,11,4685,22316,1,0,0,3,0
VI,0,0,1,80,284,0,1,1,0,0
VT,0,0,4,377,2220,0,0,0,0,0
WA,0,0,9,4949,22935,0,4,4,5,0
WI,0,1,15,2295,16523,0,2,2,6,0
WV,0,0,9,739,3175,0,1,1,0,0
WY,0,0,5,354,2031,0,0,0,0,0

In [36]:
pd.set_option('display.max_rows', None) #disables display option

23

In [37]:
state_counts23 = path23_hpgf["BorrowerState"].value_counts()
print(state_counts23)

BorrowerState
CA               129086
TX                76061
NY                73819
FL                60003
IL                40763
PA                38500
OH                32639
NJ                32515
MI                29791
MA                27179
GA                25787
WA                23620
VA                23224
NC                22796
MN                19720
CO                19669
MD                18955
WI                17346
IN                16594
MO                16339
TN                15864
AZ                15757
LA                13669
OR                13403
CT                12882
AL                10912
SC                10741
OK                 9995
UT                 9258
KY                 9178
IA                 8295
NV                 8254
KS                 8201
AR                 5857
NE                 5804
MS                 5504
NH                 5069
HI                 4979
NM                 4482
ID                 4415
DC                 4383
ME                 4185
RI                 3786
WV                 3365
ND                 3222
MT                 3142
DE                 2990
PR                 2952
SD                 2695
AK                 2662
VT                 2265
WY                 2137
GU                  443
VI                  290
MP                   82
AS                   20
Not Available         8
Name: count, dtype: int64

In [38]:
cols = ["full_add","Lat","Long","FIPS_z"]
null23= path23_hpgf[cols].isnull()
null23_vc=null23.value_counts()
null23_vc

full_add  Lat    Long   FIPS_z
False     False  False  False     964159
                        True         780
          True   True   True         613
Name: count, dtype: int64

In [39]:
path23_hpgf_nullcoltotals = path23_hpgf[path23_hpgf.columns[path23_hpgf.isnull().any()]].isnull().sum()
path23_hpgf_nullcoltotals

BorrowerName              4
UndisbursedAmount        46
FranchiseName        930147
CD                       46
JobsReported              1
ForgivenessAmount     26515
Lat                     613
Long                    613
FIPS_z                 1393
dtype: int64

In [40]:
path23_hpgf_grp= path23_hpgf.groupby('BorrowerState')[['full_add','Lat','Long','FIPS_z']].apply(lambda x: x.isna().sum())
path23_hpgf_grp

               full_add  Lat  Long  FIPS_z
BorrowerState
AK                    0    5     5      11
AL                    0   10    10      33
AR                    0    2     2       6
AS                    0    0     0       0
AZ                    0    6     6      16
CA                    0   98    98     114
CO                    0   12    12      18
CT                    0    3     3       6
DC                    0    1     1       8
DE                    0    0     0       3
FL                    0   59    59      72
GA                    0   16    16      26
GU                    0    0     0       1
HI                    0    5     5       5
IA                    0    2     2      26
ID                    0    4     4       7
IL                    0   14    14      48
IN                    0   30    30      65
KS                    0    0     0      31
KY                    0    1     1      17
LA                    0    6     6      63
MA                    0   17    17      25
MD                    0    7     7      20
ME                    0    2     2       6
MI                    0   24    24      45
MN                    0    1     1      34
MO                    0    7     7      42
MP                    0    0     0       0
MS                    0    5     5      23
MT                    0    0     0      10
NC                    0   17    17      33
ND                    0    0     0      10
NE                    0    2     2      20
NH                    0    0     0       3
NJ                    0   25    25      49
NM                    0    5     5      10
NV                    0   21    21      30
NY                    0   43    43     104
Not Available         0    8     8       8
OH                    0    5     5      15
OK                    0    4     4      26
OR                    0   11    11      19
PA                    0   18    18      51
PR                    0    3     3      18
RI                    0    0     0       0
SC                    0    2     2       6
SD                    0    1     1       3
TN                    0    5     5      29
TX                    0   40    40      64
UT                    0    1     1       3
VA                    0   32    32      44
VI                    0    1     1       1
VT                    0    0     0       3
WA                    0   25    25      30
WI                    0    6     6      19
WV                    0    1     1       9
WY                    0    0     0       5

In [41]:
pd.set_option('display.max_columns', None)
path23_hpgf_nullcnts= path23_hpgf[path23_hpgf.columns.difference(['BorrowerState'])].isnull().groupby(path23_hpgf.BorrowerState).sum().astype(int)
path23_hpgf_drop0= path23_hpgf_nullcnts.loc[:, path23_hpgf_nullcnts.any()] #drops columns if all values are False
path23_hpgf_drop0

,BorrowerName,CD,FIPS_z,ForgivenessAmount,FranchiseName,JobsReported,Lat,Long,UndisbursedAmount
BorrowerState,,,,,,,,,
AK,1,0,11,37,2586,0,5,5,0
AL,0,2,33,153,10509,0,10,10,1
AR,0,0,6,62,5583,0,2,2,2
AS,0,0,0,2,20,0,0,0,0
AZ,0,0,16,480,15095,0,6,6,0
CA,1,14,114,5069,124678,0,98,98,5
CO,0,1,18,437,18938,0,12,12,2
CT,0,2,6,232,12481,0,3,3,0
DC,0,0,8,165,4355,0,1,1,1
DE,0,0,3,58,2888,0,0,0,0
FL,0,1,72,3700,58053,0,59,59,2
GA,0,0,26,1325,24614,0,16,16,1
GU,0,0,1,9,420,0,0,0,0
HI,0,0,5,78,4880,0,5,5,0
IA,0,0,26,48,7969,0,2,2,3
ID,0,0,7,63,4224,0,4,4,0
IL,0,0,48,1043,39300,0,14,14,2
IN,0,0,65,226,15873,0,30,30,7
KS,0,0,31,81,7779,0,0,0,0
KY,0,0,17,125,8621,0,1,1,2
LA,0,0,63,266,13279,0,6,6,3
MA,0,0,25,434,26452,0,17,17,0
MD,0,0,20,593,18319,0,7,7,0
ME,0,0,6,44,4038,0,2,2,0
MI,0,0,45,562,28601,0,24,24,0
MN,0,0,34,214,18905,0,1,1,2
MO,0,0,42,209,15659,0,7,7,1
MP,0,0,0,3,80,0,0,0,0
MS,0,0,23,136,5223,0,5,5,0
MT,0,0,10,38,2950,0,0,0,0
NC,0,0,33,419,21817,0,17,17,0
ND,0,0,10,23,3046,0,0,0,0
NE,0,0,20,39,5539,0,2,2,0
NH,0,0,3,51,4932,0,0,0,0
NJ,0,1,49,944,31551,0,25,25,0
NM,0,0,10,83,4263,0,5,5,0
NV,0,2,30,394,7929,0,21,21,0
NY,1,6,104,2857,72295,0,43,43,1
Not Available,0,8,8,0,8,0,8,8,0
OH,0,3,15,545,31267,0,5,5,0
OK,0,0,26,122,9659,0,4,4,1
OR,1,0,19,208,12946,0,11,11,0
PA,0,0,51,629,37191,0,18,18,1
PR,0,0,18,21,2853,0,3,3,0
RI,0,0,0,42,3656,0,0,0,0
SC,0,0,6,243,10205,0,2,2,0
SD,0,0,3,28,2505,0,1,1,0
TN,0,0,29,300,15125,0,5,5,0
TX,0,4,64,2104,72881,0,40,40,4
UT,0,1,3,228,8815,0,1,1,1
VA,0,0,44,569,22274,1,32,32,1
VI,0,0,1,7,284,0,1,1,0
VT,0,0,3,17,2215,0,0,0,0
WA,0,0,30,453,22800,0,25,25,0
WI,0,1,19,177,16515,0,6,6,3
WV,0,0,9,66,3175,0,1,1,0
WY,0,0,5,54,2029,0,0,0,0

In [42]:
state_countsdf21 = pd.DataFrame({'BorrowerState': state_counts21.index, 'count':state_counts21.values})
merge_21= state_countsdf21.merge(path21_hpgf_grp, on='BorrowerState', how='left')
merge_21

   BorrowerState   count  full_add  Lat  Long  FIPS_z
0             CA  130622         1    1     1      17
1             TX   76185         2    6     6      30
2             NY   74113         1    2     2      63
3             FL   60041         0   13    13      26
4             IL   40815         0    2     2      36
5             PA   38537         0    8     8      41
6             OH   32650         0    1     1      11
7             NJ   32533         0    3     3      27
8             MI   29809         0   14    14      35
9             MA   27471         0    3     3      11
10            GA   25832         0    1     1      11
11            WA   23755         0    4     4       9
12            VA   23266         0    0     0      11
13            NC   22826         0   11    11      27
14            CO   19742         1    3     3       9
15            MN   19730         0    1     1      34
16            MD   18979         0    0     0      13
17            WI   17354         0    2     2      15
18            IN   16601         0   28    28      63
19            MO   16350         0    0     0      35
20            TN   15869         0    3     3      27
21            AZ   15796         0    0     0      10
22            LA   13668         0    0     0      57
23            OR   13456         0    6     6      14
24            CT   12893         0    1     1       4
25            AL   10912         0    8     8      31
26            SC   10743         1    1     1       5
27            OK    9997         0    0     0      22
28            UT    9295         0    0     0       2
29            KY    9179         0    0     0      16
30            IA    8295         0    1     1      25
31            NV    8262         0    0     0       9
32            KS    8202         0    0     0      31
33            AR    5857         0    2     2       6
34            NE    5804         0    1     1      19
35            MS    5502         0    1     1      19
36            NH    5078         0    0     0       3
37            HI    4980         0    1     1       1
38            NM    4485         0    4     4       9
39            ID    4416         0    2     2       5
40            DC    4399         0    0     0       8
41            ME    4185         0    2     2       6
42            RI    3792         0    0     0       0
43            WV    3365         0    1     1       9
44            ND    3222         0    0     0      10
45            MT    3144         0    0     0      10
46            DE    2996         0    0     0       3
47            PR    2952         0    2     2      17
48            SD    2695         0    0     0       2
49            AK    2663         0    5     5      11
50            VT    2270         0    0     0       4
51            WY    2139         0    0     0       5
52            GU     443         0    0     0       1
53            VI     290         0    1     1       1
54            MP      82         0    0     0       0
55            AS      20         0    0     0       0

In [43]:
state_countsdf23 = pd.DataFrame({'BorrowerState': state_counts23.index, 'count':state_counts23.values})
merge_23= state_countsdf23.merge(path23_hpgf_grp, on="BorrowerState", how='left')
merge_23

    BorrowerState   count  full_add  Lat  Long  FIPS_z
0              CA  129086         0   98    98     114
1              TX   76061         0   40    40      64
2              NY   73819         0   43    43     104
3              FL   60003         0   59    59      72
4              IL   40763         0   14    14      48
5              PA   38500         0   18    18      51
6              OH   32639         0    5     5      15
7              NJ   32515         0   25    25      49
8              MI   29791         0   24    24      45
9              MA   27179         0   17    17      25
10             GA   25787         0   16    16      26
11             WA   23620         0   25    25      30
12             VA   23224         0   32    32      44
13             NC   22796         0   17    17      33
14             MN   19720         0    1     1      34
15             CO   19669         0   12    12      18
16             MD   18955         0    7     7      20
17             WI   17346         0    6     6      19
18             IN   16594         0   30    30      65
19             MO   16339         0    7     7      42
20             TN   15864         0    5     5      29
21             AZ   15757         0    6     6      16
22             LA   13669         0    6     6      63
23             OR   13403         0   11    11      19
24             CT   12882         0    3     3       6
25             AL   10912         0   10    10      33
26             SC   10741         0    2     2       6
27             OK    9995         0    4     4      26
28             UT    9258         0    1     1       3
29             KY    9178         0    1     1      17
30             IA    8295         0    2     2      26
31             NV    8254         0   21    21      30
32             KS    8201         0    0     0      31
33             AR    5857         0    2     2       6
34             NE    5804         0    2     2      20
35             MS    5504         0    5     5      23
36             NH    5069         0    0     0       3
37             HI    4979         0    5     5       5
38             NM    4482         0    5     5      10
39             ID    4415         0    4     4       7
40             DC    4383         0    1     1       8
41             ME    4185         0    2     2       6
42             RI    3786         0    0     0       0
43             WV    3365         0    1     1       9
44             ND    3222         0    0     0      10
45             MT    3142         0    0     0      10
46             DE    2990         0    0     0       3
47             PR    2952         0    3     3      18
48             SD    2695         0    1     1       3
49             AK    2662         0    5     5      11
50             VT    2265         0    0     0       3
51             WY    2137         0    0     0       5
52             GU     443         0    0     0       1
53             VI     290         0    1     1       1
54             MP      82         0    0     0       0
55             AS      20         0    0     0       0
56  Not Available       8         0    8     8       8

In [44]:
null21_vc.to_csv("../data/process_data/geo_tfnulls21vc.csv")
path21_hpgf_nullcoltotals.to_csv("../data/process_data/null_coltotals21.csv")
path21_hpgf_drop0.to_csv("../data/process_data/state_nulls21.csv")
merge_21.to_csv("../data/process_data/state_geonulls21.csv")

null23_vc.to_csv("../data/process_data/geo_tfnulls23vc.csv")
path23_hpgf_nullcoltotals.to_csv("../data/process_data/null_coltotals23.csv")
path23_hpgf_drop0.to_csv("../data/process_data/state_nulls23.csv")
merge_23.to_csv("../data/process_data/state_geonulls23.csv")

In [63]:
pd.set_option('display.max_rows', None) #disables display option