In [1]:
import pandas as pd
import numpy as np
import os

<h3>Finalization NoteBooks

<h4>Main Label Pipeline Check

<h5>Raw Input File

In [2]:
csvpath_21=("../data/raw/>150K/public_150k_plus_211121_add.csv")
csvpath_23=("../data/raw/>150K/public_150k_plus_230630_add.csv")

In [3]:
size21= os.path.getsize(csvpath_21)/1024**2
size23= os.path.getsize(csvpath_23)/1024**2
print(size21)
print(size23)

433.59666538238525
445.5604133605957

In [4]:
ppp_df_21= pd.read_csv(csvpath_21,index_col=0) #drops Unnamed; alt: df = df.loc[:, ~df.columns.str.contains('^Unnamed')] OR df.loc[:, ~df.columns.str.match('Unnamed')]
ppp_df_23= pd.read_csv(csvpath_23,index_col=0)

In [5]:
print(ppp_df_21.shape[0])
print(ppp_df_23.shape[0])

968557
965552

In [6]:
print(ppp_df_21.columns)
print(ppp_df_23.columns)
print(len(ppp_df_21.columns))
print(len(ppp_df_23.columns))

Index(['LoanNumber', 'DateApproved', 'SBAOfficeCode', 'ProcessingMethod',
       'BorrowerName', 'BorrowerAddress', 'BorrowerCity', 'BorrowerState',
       'BorrowerZip', 'LoanStatusDate', 'LoanStatus', 'Term',
       'SBAGuarantyPercentage', 'InitialApprovalAmount',
       'CurrentApprovalAmount', 'UndisbursedAmount', 'FranchiseName',
       'ServicingLenderLocationID', 'ServicingLenderName',
       'ServicingLenderAddress', 'ServicingLenderCity', 'ServicingLenderState',
       'ServicingLenderZip', 'RuralUrbanIndicator', 'HubzoneIndicator',
       'LMIIndicator', 'BusinessAgeDescription', 'ProjectCity',
       'ProjectCountyName', 'ProjectState', 'ProjectZip', 'CD', 'JobsReported',
       'NAICSCode', 'Race', 'Ethnicity', 'UTILITIES_PROCEED',
       'PAYROLL_PROCEED', 'MORTGAGE_INTEREST_PROCEED', 'RENT_PROCEED',
       'REFINANCE_EIDL_PROCEED', 'HEALTH_CARE_PROCEED',
       'DEBT_INTEREST_PROCEED', 'BusinessType', 'OriginatingLenderLocationID',
       'OriginatingLender', 'OriginatingLenderCity', 'OriginatingLenderState',
       'Gender', 'Veteran', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDate'],
      dtype='object')
Index(['LoanNumber', 'DateApproved', 'SBAOfficeCode', 'ProcessingMethod',
       'BorrowerName', 'BorrowerAddress', 'BorrowerCity', 'BorrowerState',
       'BorrowerZip', 'LoanStatusDate', 'LoanStatus', 'Term',
       'SBAGuarantyPercentage', 'InitialApprovalAmount',
       'CurrentApprovalAmount', 'UndisbursedAmount', 'FranchiseName',
       'ServicingLenderLocationID', 'ServicingLenderName',
       'ServicingLenderAddress', 'ServicingLenderCity', 'ServicingLenderState',
       'ServicingLenderZip', 'RuralUrbanIndicator', 'HubzoneIndicator',
       'LMIIndicator', 'BusinessAgeDescription', 'ProjectCity',
       'ProjectCountyName', 'ProjectState', 'ProjectZip', 'CD', 'JobsReported',
       'NAICSCode', 'Race', 'Ethnicity', 'UTILITIES_PROCEED',
       'PAYROLL_PROCEED', 'MORTGAGE_INTEREST_PROCEED', 'RENT_PROCEED',
       'REFINANCE_EIDL_PROCEED', 'HEALTH_CARE_PROCEED',
       'DEBT_INTEREST_PROCEED', 'BusinessType', 'OriginatingLenderLocationID',
       'OriginatingLender', 'OriginatingLenderCity', 'OriginatingLenderState',
       'Gender', 'Veteran', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDate'],
      dtype='object')
53
53

In [7]:
set(ppp_df_21.columns).symmetric_difference(ppp_df_23.columns)

set()

In [8]:
pd.set_option('display.max_columns', None)
raw21cols= ppp_df_21.isnull().sum()
raw21_df =pd.DataFrame({'column':raw21cols.index, 'nulls_r':raw21cols.values})

dt21= ppp_df_21.dtypes
dt21_df =pd.DataFrame({'column':dt21.index, 'dtype_r':dt21.values})

raw21 = dt21_df.merge(raw21_df, on="column", how="left")
raw21

                         column  dtype_r  nulls_r
0                    LoanNumber    int64        0
1                  DateApproved   object        0
2                 SBAOfficeCode    int64        0
3              ProcessingMethod   object        0
4                  BorrowerName   object        4
5               BorrowerAddress   object        6
6                  BorrowerCity   object        4
7                 BorrowerState   object        0
8                   BorrowerZip  float64       12
9                LoanStatusDate   object   281932
10                   LoanStatus   object        0
11                         Term    int64        0
12        SBAGuarantyPercentage    int64        0
13        InitialApprovalAmount  float64        0
14        CurrentApprovalAmount  float64        0
15            UndisbursedAmount  float64      219
16                FranchiseName   object   933151
17    ServicingLenderLocationID    int64        0
18          ServicingLenderName   object        0
19       ServicingLenderAddress   object        0
20          ServicingLenderCity   object        0
21         ServicingLenderState   object        0
22           ServicingLenderZip   object        0
23          RuralUrbanIndicator   object        0
24             HubzoneIndicator   object        0
25                 LMIIndicator   object        0
26       BusinessAgeDescription   object        1
27                  ProjectCity   object       13
28            ProjectCountyName   object       57
29                 ProjectState   object        9
30                   ProjectZip   object       14
31                           CD   object       46
32                 JobsReported  float64        1
33                    NAICSCode  float64     6632
34                         Race   object        0
35                    Ethnicity   object        0
36            UTILITIES_PROCEED  float64   629071
37              PAYROLL_PROCEED  float64     1824
38    MORTGAGE_INTEREST_PROCEED  float64   922101
39                 RENT_PROCEED  float64   868916
40       REFINANCE_EIDL_PROCEED  float64   945363
41          HEALTH_CARE_PROCEED  float64   910989
42        DEBT_INTEREST_PROCEED  float64   936594
43                 BusinessType   object      728
44  OriginatingLenderLocationID    int64        0
45            OriginatingLender   object        0
46        OriginatingLenderCity   object        0
47       OriginatingLenderState   object        0
48                       Gender   object        0
49                      Veteran   object        0
50                    NonProfit   object   910149
51            ForgivenessAmount  float64   207884
52              ForgivenessDate   object   207884

In [9]:
raw23cols= ppp_df_23.isnull().sum()
raw23_df =pd.DataFrame({'column':raw23cols.index, 'nulls_r':raw23cols.values})

dt23= ppp_df_23.dtypes
dt23_df =pd.DataFrame({'column':dt23.index, 'dtype_r':dt23.values})

raw23 = dt23_df.merge(raw23_df, on="column", how="left")
raw23

                         column  dtype_r  nulls_r
0                    LoanNumber    int64        0
1                  DateApproved   object        0
2                 SBAOfficeCode    int64        0
3              ProcessingMethod   object        0
4                  BorrowerName   object        4
5               BorrowerAddress   object        0
6                  BorrowerCity   object        0
7                 BorrowerState   object        0
8                   BorrowerZip   object       13
9                LoanStatusDate   object    16825
10                   LoanStatus   object        0
11                         Term    int64        0
12        SBAGuarantyPercentage    int64        0
13        InitialApprovalAmount  float64        0
14        CurrentApprovalAmount  float64        0
15            UndisbursedAmount  float64       46
16                FranchiseName   object   930147
17    ServicingLenderLocationID    int64        0
18          ServicingLenderName   object        0
19       ServicingLenderAddress   object        0
20          ServicingLenderCity   object        0
21         ServicingLenderState   object        0
22           ServicingLenderZip   object        0
23          RuralUrbanIndicator   object        0
24             HubzoneIndicator   object        0
25                 LMIIndicator   object        0
26       BusinessAgeDescription   object        1
27                  ProjectCity   object       13
28            ProjectCountyName   object       57
29                 ProjectState   object        9
30                   ProjectZip   object       14
31                           CD   object       46
32                 JobsReported  float64        1
33                    NAICSCode  float64     6628
34                         Race   object        0
35                    Ethnicity   object        0
36            UTILITIES_PROCEED  float64   627203
37              PAYROLL_PROCEED  float64     1827
38    MORTGAGE_INTEREST_PROCEED  float64   920028
39                 RENT_PROCEED  float64   866328
40       REFINANCE_EIDL_PROCEED  float64   942704
41          HEALTH_CARE_PROCEED  float64   908126
42        DEBT_INTEREST_PROCEED  float64   933856
43                 BusinessType   object      720
44  OriginatingLenderLocationID    int64        0
45            OriginatingLender   object        0
46        OriginatingLenderCity   object        0
47       OriginatingLenderState   object        0
48                       Gender   object        0
49                      Veteran   object        0
50                    NonProfit   object   906202
51            ForgivenessAmount  float64    26515
52              ForgivenessDate   object    26515

In [10]:
state_counts21 = ppp_df_21["BorrowerState"].value_counts()
print(state_counts21)

BorrowerState
CA    130622
TX     76185
NY     74113
FL     60041
IL     40815
PA     38537
OH     32650
NJ     32533
MI     29809
MA     27471
GA     25832
WA     23755
VA     23266
NC     22826
CO     19742
MN     19730
MD     18979
WI     17354
IN     16601
MO     16350
TN     15869
AZ     15796
LA     13668
OR     13456
CT     12893
AL     10912
SC     10743
OK      9997
UT      9295
KY      9179
IA      8295
NV      8262
KS      8202
AR      5857
NE      5804
MS      5502
NH      5078
HI      4980
NM      4485
ID      4416
DC      4399
ME      4185
RI      3792
WV      3365
ND      3222
MT      3144
DE      2996
PR      2952
SD      2695
AK      2663
VT      2270
WY      2139
GU       443
VI       290
MP        82
AS        20
Name: count, dtype: int64

In [11]:
state_counts23 = ppp_df_23["BorrowerState"].value_counts()
print(state_counts23)

BorrowerState
CA               129086
TX                76061
NY                73819
FL                60003
IL                40763
PA                38500
OH                32639
NJ                32515
MI                29791
MA                27179
GA                25787
WA                23620
VA                23224
NC                22796
MN                19720
CO                19669
MD                18955
WI                17346
IN                16594
MO                16339
TN                15864
AZ                15757
LA                13669
OR                13403
CT                12882
AL                10912
SC                10741
OK                 9995
UT                 9258
KY                 9178
IA                 8295
NV                 8254
KS                 8201
AR                 5857
NE                 5804
MS                 5504
NH                 5069
HI                 4979
NM                 4482
ID                 4415
DC                 4383
ME                 4185
RI                 3786
WV                 3365
ND                 3222
MT                 3142
DE                 2990
PR                 2952
SD                 2695
AK                 2662
VT                 2265
WY                 2137
GU                  443
VI                  290
MP                   82
AS                   20
Not Available         8
Name: count, dtype: int64

<h5>Post Label Process Output File

In [12]:
csvpath_21_post = "../data/ppp_pipe.csv"
csvpath_23_post = "../data/ppp_pipe23.csv"

In [13]:
size21_post= os.path.getsize(csvpath_21_post)/1024**2
size23_post= os.path.getsize(csvpath_23_post)/1024**2
print(size21_post)
print(size23_post)

526.8962154388428
522.5953416824341

In [14]:
ppp_df_21_post = pd.read_csv(csvpath_21_post, index_col=0)
ppp_df_23_post = pd.read_csv(csvpath_23_post, index_col=0)

/var/folders/vy/qdp8xcfj4s3dd5c6d1xp_y3w0000gn/T/ipykernel_5831/4249215912.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  ppp_df_23_post = pd.read_csv(csvpath_23_post, index_col=0)

In [15]:
print(ppp_df_21_post.shape[0])
print(ppp_df_23_post.shape[0])

968557
965552

In [16]:
print(ppp_df_21_post.columns)
print(ppp_df_23_post.columns)
print(len(ppp_df_21_post.columns))
print(len(ppp_df_23_post.columns))

Index(['LoanNumber', 'DateApprovedTS', 'SBAOfficeCode', 'SBAOfficeLabel',
       'ProcessingMethod', 'BorrowerName', 'BorrowerState', 'LoanStatusDateTS',
       'LoanStatus', 'Term', 'CurrentApprovalAmount', 'UndisbursedAmount',
       'FranchiseName', 'ServicingLenderLocationID', 'ServicingLenderName',
       'ServicingLenderState', 'ServicingLenderFullAddress',
       'RuralUrbanIndicator', 'HubzoneIndicator', 'LMIIndicator', 'CD',
       'JobsReported', 'OriginatingLenderLocationID', 'OriginatingLender',
       'OriginatingLenderCity', 'OriginatingLenderState', 'BusinessType',
       'BusinessAgeDescription', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDateTS', 'Estimated_LenderPercent',
       'Estimated_LenderProfit', 'NA', '4DigitNAICS', 'NAICSCode', 'Industry',
       'IndustrySubsector', 'TRIIndustrySector', 'Loan_Range', 'job_Range',
       'LongName', 'full_add'],
      dtype='object')
Index(['LoanNumber', 'DateApprovedTS', 'SBAOfficeCode', 'SBAOfficeLabel',
       'ProcessingMethod', 'BorrowerName', 'BorrowerState', 'LoanStatusDateTS',
       'LoanStatus', 'Term', 'CurrentApprovalAmount', 'UndisbursedAmount',
       'FranchiseName', 'ServicingLenderLocationID', 'ServicingLenderName',
       'ServicingLenderState', 'ServicingLenderFullAddress',
       'RuralUrbanIndicator', 'HubzoneIndicator', 'LMIIndicator', 'CD',
       'JobsReported', 'OriginatingLenderLocationID', 'OriginatingLender',
       'OriginatingLenderCity', 'OriginatingLenderState', 'BusinessType',
       'BusinessAgeDescription', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDateTS', 'Estimated_LenderPercent',
       'Estimated_LenderProfit', 'NA', '4DigitNAICS', 'NAICSCode', 'Industry',
       'IndustrySubsector', 'TRIIndustrySector', 'Loan_Range', 'job_Range',
       'LongName', 'full_add'],
      dtype='object')
43
43

In [17]:
pd.set_option('display.max_columns', None)

pipe21cols= ppp_df_21_post.isnull().sum()
pipe_21df= pd.DataFrame({"column": pipe21cols.index, "nulls_p":pipe21cols.values})

dt21_pipe = ppp_df_21_post.dtypes
dt21_pipedf =pd.DataFrame({'column':dt21_pipe.index, 'dtype_p':dt21_pipe.values})

pipe21 = dt21_pipedf.merge(pipe_21df, on="column", how="left")
pipe21

                         column  dtype_p  nulls_p
0                    LoanNumber    int64        0
1                DateApprovedTS    int64        0
2                 SBAOfficeCode    int64        0
3                SBAOfficeLabel   object        0
4              ProcessingMethod   object        0
5                  BorrowerName   object        4
6                 BorrowerState   object        0
7              LoanStatusDateTS   object        0
8                    LoanStatus   object        0
9                          Term    int64        0
10        CurrentApprovalAmount  float64        0
11            UndisbursedAmount  float64      219
12                FranchiseName   object        0
13    ServicingLenderLocationID    int64        0
14          ServicingLenderName   object        0
15         ServicingLenderState   object        0
16   ServicingLenderFullAddress   object        0
17          RuralUrbanIndicator   object        0
18             HubzoneIndicator   object        0
19                 LMIIndicator   object        0
20                           CD   object       46
21                 JobsReported  float64        0
22  OriginatingLenderLocationID    int64        0
23            OriginatingLender   object        0
24        OriginatingLenderCity   object        0
25       OriginatingLenderState   object        0
26                 BusinessType   object        0
27       BusinessAgeDescription   object        0
28                    NonProfit   object        0
29            ForgivenessAmount  float64   207884
30            ForgivenessDateTS   object        0
31      Estimated_LenderPercent   object        0
32       Estimated_LenderProfit  float64        0
33                           NA    int64        0
34                  4DigitNAICS    int64        0
35                    NAICSCode    int64        0
36                     Industry   object        0
37            IndustrySubsector   object        0
38            TRIIndustrySector   object    12182
39                   Loan_Range   object        0
40                    job_Range   object        0
41                     LongName   object        0
42                     full_add   object        6

In [18]:
pipe23cols= ppp_df_23_post.isnull().sum()
pipe_23df= pd.DataFrame({"column": pipe23cols.index, "nulls_p":pipe23cols.values})

dt23_pipe = ppp_df_23_post.dtypes
dt23_pipedf =pd.DataFrame({'column':dt23_pipe.index, 'dtype_p':dt23_pipe.values})

pipe23 = dt23_pipedf.merge(pipe_23df, on="column", how="left")
pipe23

                         column  dtype_p  nulls_p
0                    LoanNumber    int64        0
1                DateApprovedTS    int64        0
2                 SBAOfficeCode    int64        0
3                SBAOfficeLabel   object        0
4              ProcessingMethod   object        0
5                  BorrowerName   object        4
6                 BorrowerState   object        0
7              LoanStatusDateTS   object        0
8                    LoanStatus   object        0
9                          Term    int64        0
10        CurrentApprovalAmount  float64        0
11            UndisbursedAmount   object        0
12                FranchiseName   object        0
13    ServicingLenderLocationID    int64        0
14          ServicingLenderName   object        0
15         ServicingLenderState   object        0
16   ServicingLenderFullAddress   object        0
17          RuralUrbanIndicator   object        0
18             HubzoneIndicator   object        0
19                 LMIIndicator   object        0
20                           CD   object       46
21                 JobsReported  float64        0
22  OriginatingLenderLocationID    int64        0
23            OriginatingLender   object        0
24        OriginatingLenderCity   object        0
25       OriginatingLenderState   object        0
26                 BusinessType   object        0
27       BusinessAgeDescription   object        0
28                    NonProfit   object        0
29            ForgivenessAmount   object        0
30            ForgivenessDateTS   object        0
31      Estimated_LenderPercent   object        0
32       Estimated_LenderProfit  float64        0
33                           NA    int64        0
34                  4DigitNAICS    int64        0
35                    NAICSCode    int64        0
36                     Industry   object        0
37            IndustrySubsector   object        0
38            TRIIndustrySector   object    12162
39                   Loan_Range   object        0
40                    job_Range   object        0
41                     LongName   object        0
42                     full_add   object        0

<h4>Main Hashing PipeLine Check

In [19]:
csvpath_21_hash = "../data/ppp_hash.csv"
csvpath_23_hash = "../data/ppp_hash23.csv"
csvpath_21_hashSort = "../data/ppp_hashSort.csv"
csvpath_23_hashSort = "../data/ppp_hashSort23.csv"

In [20]:
size21_hash= os.path.getsize(csvpath_21_hash)/1024**2
size23_hash= os.path.getsize(csvpath_23_hash)/1024**2
size21_hashSort= os.path.getsize(csvpath_21_hashSort)/1024**2
size23_hashSort= os.path.getsize(csvpath_23_hashSort)/1024**2
print(size21_hash)
print(size23_hash)
print(size21_hashSort)
print(size23_hashSort)

147.00177478790283
146.541823387146
108.20682430267334
107.86723613739014

In [21]:
ppp_df_21_hash = pd.read_csv(csvpath_21_hash,index_col=0) 
ppp_df_23_hash = pd.read_csv(csvpath_23_hash,index_col=0) 
ppp_df_21_hashSort = pd.read_csv(csvpath_21_hashSort,index_col=0) 
ppp_df_23_hashSort = pd.read_csv(csvpath_23_hashSort,index_col=0)

In [22]:
print(ppp_df_21_hash.shape[0])
print(ppp_df_23_hash.shape[0])
print(ppp_df_21_hashSort.shape[0])
print(ppp_df_23_hashSort.shape[0])

968557
965552
968557
965552

In [23]:
print(ppp_df_21_hash.columns)
print(len(ppp_df_21_hash.columns))

print(ppp_df_23_hash.columns)
print(len(ppp_df_23_hash.columns))

print(ppp_df_21_hashSort.columns)
print(len(ppp_df_21_hashSort.columns))

print(ppp_df_23_hashSort.columns)
print(len(ppp_df_23_hashSort.columns))

Index(['LoanNumber', 'INDSScode', 'INDcode', 'SScode', 'LRcode', 'JRcode',
       'BTcode', 'BAcode', 'PMcode', 'HASHcodePM', 'Industry',
       'IndustrySubsector'],
      dtype='object')
12
Index(['LoanNumber', 'INDSScode', 'INDcode', 'SScode', 'LRcode', 'JRcode',
       'BTcode', 'BAcode', 'PMcode', 'HASHcodePM', 'Industry',
       'IndustrySubsector'],
      dtype='object')
12
Index(['LoanNumber', 'HASHcodePM', 'Industry', 'IndustrySubsector'], dtype='object')
4
Index(['LoanNumber', 'HASHcodePM', 'Industry', 'IndustrySubsector'], dtype='object')
4

In [24]:
set(ppp_df_21_hash.columns).symmetric_difference(ppp_df_21_hashSort.columns)

{'BAcode',
 'BTcode',
 'INDSScode',
 'INDcode',
 'JRcode',
 'LRcode',
 'PMcode',
 'SScode'}

In [25]:
print(ppp_df_21_hash.isnull().sum())
print(ppp_df_23_hash.isnull().sum())
print(ppp_df_21_hashSort.isnull().sum())
print(ppp_df_23_hashSort.isnull().sum())

LoanNumber           0
INDSScode            0
INDcode              0
SScode               0
LRcode               0
JRcode               0
BTcode               0
BAcode               0
PMcode               0
HASHcodePM           0
Industry             0
IndustrySubsector    0
dtype: int64
LoanNumber           0
INDSScode            0
INDcode              0
SScode               0
LRcode               0
JRcode               0
BTcode               0
BAcode               0
PMcode               0
HASHcodePM           0
Industry             0
IndustrySubsector    0
dtype: int64
LoanNumber           0
HASHcodePM           0
Industry             0
IndustrySubsector    0
dtype: int64
LoanNumber           0
HASHcodePM           0
Industry             0
IndustrySubsector    0
dtype: int64

In [26]:
pd.set_option('display.max_rows', 70)
print(ppp_df_21_hash.dtypes)
print(ppp_df_23_hash.dtypes)
print(ppp_df_21_hashSort.dtypes)
print(ppp_df_23_hashSort.dtypes)

LoanNumber            int64
INDSScode            object
INDcode              object
SScode               object
LRcode               object
JRcode               object
BTcode               object
BAcode               object
PMcode               object
HASHcodePM           object
Industry             object
IndustrySubsector    object
dtype: object
LoanNumber            int64
INDSScode            object
INDcode              object
SScode               object
LRcode               object
JRcode               object
BTcode               object
BAcode               object
PMcode               object
HASHcodePM           object
Industry             object
IndustrySubsector    object
dtype: object
LoanNumber            int64
HASHcodePM           object
Industry             object
IndustrySubsector    object
dtype: object
LoanNumber            int64
HASHcodePM           object
Industry             object
IndustrySubsector    object
dtype: object

<h4>Main Concat PipeLine Check

In [27]:
csvpath_21_con = ("../data/pipe_hpgf.csv")
csvpath_23_con = ("../data/pipe_hpgf23.csv")

In [28]:
size21_con= os.path.getsize(csvpath_21_con)/1024**2
size23_con= os.path.getsize(csvpath_23_con)/1024**2
print(size21_con)
print(size23_con)

531.6261157989502
528.5240259170532

In [29]:
ppp_df_21_con = pd.read_csv(csvpath_21_con)
ppp_df_23_con = pd.read_csv(csvpath_23_con)
ppp_df_21_con = ppp_df_21_con.loc[:, ~ppp_df_21_con.columns.str.contains('^Unnamed')] 
ppp_df_23_con = ppp_df_23_con.loc[:, ~ppp_df_23_con.columns.str.contains('^Unnamed')]

/var/folders/vy/qdp8xcfj4s3dd5c6d1xp_y3w0000gn/T/ipykernel_5831/2022957148.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  ppp_df_23_con = pd.read_csv(csvpath_23_con)

In [30]:
print(ppp_df_21_con.shape[0])
print(ppp_df_23_con.shape[0])

968557
965552

In [31]:
print(ppp_df_21_con.columns)
print(len(ppp_df_21_con.columns))
print(ppp_df_23_con.columns)
print(len(ppp_df_23_con.columns))

Index(['LoanNumber', 'HASHcodePM', 'Industry', 'IndustrySubsector',
       'DateApprovedTS', 'SBAOfficeCode', 'SBAOfficeLabel', 'ProcessingMethod',
       'BorrowerName', 'BorrowerState', 'LoanStatusDateTS', 'LoanStatus',
       'Term', 'CurrentApprovalAmount', 'UndisbursedAmount', 'FranchiseName',
       'ServicingLenderLocationID', 'ServicingLenderName',
       'ServicingLenderState', 'ServicingLenderFullAddress', 'CD',
       'JobsReported', 'OriginatingLenderLocationID', 'OriginatingLender',
       'OriginatingLenderCity', 'OriginatingLenderState', 'BusinessType',
       'BusinessAgeDescription', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDateTS', 'Estimated_LenderPercent',
       'Estimated_LenderProfit', 'LongName', 'full_add', 'Lat', 'Long',
       'FIPS_z'],
      dtype='object')
38
Index(['LoanNumber', 'DateApprovedTS', 'SBAOfficeCode', 'SBAOfficeLabel',
       'ProcessingMethod', 'BorrowerName', 'BorrowerState', 'LoanStatusDateTS',
       'LoanStatus', 'Term', 'CurrentApprovalAmount', 'UndisbursedAmount',
       'FranchiseName', 'ServicingLenderLocationID', 'ServicingLenderName',
       'ServicingLenderState', 'ServicingLenderFullAddress', 'CD',
       'JobsReported', 'OriginatingLenderLocationID', 'OriginatingLender',
       'OriginatingLenderCity', 'OriginatingLenderState', 'BusinessType',
       'BusinessAgeDescription', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDateTS', 'Estimated_LenderPercent',
       'Estimated_LenderProfit', 'LongName', 'full_add', 'HASHcodePM',
       'Industry', 'IndustrySubsector', 'Lat', 'Long', 'FIPS_z'],
      dtype='object')
38

In [32]:
set(ppp_df_23_con.columns).symmetric_difference(ppp_df_21_con.columns)

set()

In [33]:
hpgf21cols= ppp_df_21_con.isnull().sum()
hpgf21colsdf= pd.DataFrame({"column": hpgf21cols.index, "nulls_h":hpgf21cols.values})

dt21_hpgf = ppp_df_21_con.dtypes
dt21_hpgfdf =pd.DataFrame({'column':dt21_hpgf.index, 'dtype_h':dt21_hpgf.values})

hpgf21_df = hpgf21colsdf.merge(dt21_hpgfdf, on="column", how="left")
hpgf21_df

                         column  nulls_h  dtype_h
0                    LoanNumber        0    int64
1                    HASHcodePM        0   object
2                      Industry        0   object
3             IndustrySubsector        0   object
4                DateApprovedTS        0    int64
5                 SBAOfficeCode        0    int64
6                SBAOfficeLabel        0   object
7              ProcessingMethod        0   object
8                  BorrowerName        4   object
9                 BorrowerState        0   object
10             LoanStatusDateTS        0   object
11                   LoanStatus        0   object
12                         Term        0    int64
13        CurrentApprovalAmount        0  float64
14            UndisbursedAmount      219  float64
15                FranchiseName        0   object
16    ServicingLenderLocationID        0    int64
17          ServicingLenderName        0   object
18         ServicingLenderState        0   object
19   ServicingLenderFullAddress        0   object
20                           CD       46   object
21                 JobsReported        0  float64
22  OriginatingLenderLocationID        0    int64
23            OriginatingLender        0   object
24        OriginatingLenderCity        0   object
25       OriginatingLenderState        0   object
26                 BusinessType        0   object
27       BusinessAgeDescription        0   object
28                    NonProfit        0   object
29            ForgivenessAmount   207884  float64
30            ForgivenessDateTS        0   object
31      Estimated_LenderPercent        0   object
32       Estimated_LenderProfit        0  float64
33                     LongName        0   object
34                     full_add        6   object
35                          Lat      145  float64
36                         Long      145  float64
37                       FIPS_z      926  float64

In [34]:
hpgf23cols= ppp_df_23_con.isnull().sum()
hpgf23colsdf= pd.DataFrame({"column": hpgf23cols.index, "nulls_h":hpgf23cols.values})

dt23_hpgf = ppp_df_23_con.dtypes
dt23_hpgfdf =pd.DataFrame({'column':dt23_hpgf.index, 'dtype_h':dt23_hpgf.values})

hpgf23_df = hpgf23colsdf.merge(dt23_hpgfdf, on="column", how="left")
hpgf23_df

                         column  nulls_h  dtype_h
0                    LoanNumber        0    int64
1                DateApprovedTS        0    int64
2                 SBAOfficeCode        0    int64
3                SBAOfficeLabel        0   object
4              ProcessingMethod        0   object
5                  BorrowerName        4   object
6                 BorrowerState        0   object
7              LoanStatusDateTS        0   object
8                    LoanStatus        0   object
9                          Term        0    int64
10        CurrentApprovalAmount        0  float64
11            UndisbursedAmount        0   object
12                FranchiseName        0   object
13    ServicingLenderLocationID        0    int64
14          ServicingLenderName        0   object
15         ServicingLenderState        0   object
16   ServicingLenderFullAddress        0   object
17                           CD       46   object
18                 JobsReported        0  float64
19  OriginatingLenderLocationID        0    int64
20            OriginatingLender        0   object
21        OriginatingLenderCity        0   object
22       OriginatingLenderState        0   object
23                 BusinessType        0   object
24       BusinessAgeDescription        0   object
25                    NonProfit        0   object
26            ForgivenessAmount        0   object
27            ForgivenessDateTS        0   object
28      Estimated_LenderPercent        0   object
29       Estimated_LenderProfit        0  float64
30                     LongName        0   object
31                     full_add        0   object
32                   HASHcodePM        0   object
33                     Industry        0   object
34            IndustrySubsector        0   object
35                          Lat        0  float64
36                         Long        0  float64
37                       FIPS_z     1249  float64

In [35]:
pd.set_option('display.max_rows', None) #disables display option

Column Differences 2021 Raw, Pipe, Hash (removed, added, or changed)

Raw <-> Pipe

In [36]:
set(ppp_df_21.columns).symmetric_difference(ppp_df_21_post.columns)

{'4DigitNAICS',
 'BorrowerAddress',
 'BorrowerCity',
 'BorrowerZip',
 'DEBT_INTEREST_PROCEED',
 'DateApproved',
 'DateApprovedTS',
 'Estimated_LenderPercent',
 'Estimated_LenderProfit',
 'Ethnicity',
 'ForgivenessDate',
 'ForgivenessDateTS',
 'Gender',
 'HEALTH_CARE_PROCEED',
 'Industry',
 'IndustrySubsector',
 'InitialApprovalAmount',
 'LoanStatusDate',
 'LoanStatusDateTS',
 'Loan_Range',
 'LongName',
 'MORTGAGE_INTEREST_PROCEED',
 'NA',
 'PAYROLL_PROCEED',
 'ProjectCity',
 'ProjectCountyName',
 'ProjectState',
 'ProjectZip',
 'REFINANCE_EIDL_PROCEED',
 'RENT_PROCEED',
 'Race',
 'SBAGuarantyPercentage',
 'SBAOfficeLabel',
 'ServicingLenderAddress',
 'ServicingLenderCity',
 'ServicingLenderFullAddress',
 'ServicingLenderZip',
 'TRIIndustrySector',
 'UTILITIES_PROCEED',
 'Veteran',
 'full_add',
 'job_Range'}

Pipe <-> HPGF

In [37]:
set(ppp_df_21_post.columns).symmetric_difference(ppp_df_21_con.columns)

{'4DigitNAICS',
 'FIPS_z',
 'HASHcodePM',
 'HubzoneIndicator',
 'LMIIndicator',
 'Lat',
 'Loan_Range',
 'Long',
 'NA',
 'NAICSCode',
 'RuralUrbanIndicator',
 'TRIIndustrySector',
 'job_Range'}

Column Differences 2023 Raw, Pipe, Hash (removed, added, or changed)

Raw <-> Pipe

In [38]:
set(ppp_df_23.columns).symmetric_difference(ppp_df_23_post.columns)

{'4DigitNAICS',
 'BorrowerAddress',
 'BorrowerCity',
 'BorrowerZip',
 'DEBT_INTEREST_PROCEED',
 'DateApproved',
 'DateApprovedTS',
 'Estimated_LenderPercent',
 'Estimated_LenderProfit',
 'Ethnicity',
 'ForgivenessDate',
 'ForgivenessDateTS',
 'Gender',
 'HEALTH_CARE_PROCEED',
 'Industry',
 'IndustrySubsector',
 'InitialApprovalAmount',
 'LoanStatusDate',
 'LoanStatusDateTS',
 'Loan_Range',
 'LongName',
 'MORTGAGE_INTEREST_PROCEED',
 'NA',
 'PAYROLL_PROCEED',
 'ProjectCity',
 'ProjectCountyName',
 'ProjectState',
 'ProjectZip',
 'REFINANCE_EIDL_PROCEED',
 'RENT_PROCEED',
 'Race',
 'SBAGuarantyPercentage',
 'SBAOfficeLabel',
 'ServicingLenderAddress',
 'ServicingLenderCity',
 'ServicingLenderFullAddress',
 'ServicingLenderZip',
 'TRIIndustrySector',
 'UTILITIES_PROCEED',
 'Veteran',
 'full_add',
 'job_Range'}

Pipe <-> HPGF

In [39]:
set(ppp_df_23_post.columns).symmetric_difference(ppp_df_23_con.columns)

{'4DigitNAICS',
 'FIPS_z',
 'HASHcodePM',
 'HubzoneIndicator',
 'LMIIndicator',
 'Lat',
 'Loan_Range',
 'Long',
 'NA',
 'NAICSCode',
 'RuralUrbanIndicator',
 'TRIIndustrySector',
 'job_Range'}

Merge Process Null, Dtype Columns

In [40]:
merge21 = raw21.merge(pipe21, on='column', how='outer')
merge21_2 = merge21.merge(hpgf21_df, on='column', how='outer')
merge21_final= merge21_2[['column', 'dtype_r', 'dtype_p', 'dtype_h', 'nulls_r', 'nulls_p', 'nulls_h']]
merge21_final.to_csv("../data/process_data/dtypenulls21.csv")
merge21_final

,column,dtype_r,dtype_p,dtype_h,nulls_r,nulls_p,nulls_h
0,LoanNumber,int64,int64,int64,0.0,0.0,0.0
1,DateApproved,object,NaN,NaN,0.0,NaN,NaN
2,SBAOfficeCode,int64,int64,int64,0.0,0.0,0.0
3,ProcessingMethod,object,object,object,0.0,0.0,0.0
4,BorrowerName,object,object,object,4.0,4.0,4.0
5,BorrowerAddress,object,NaN,NaN,6.0,NaN,NaN
6,BorrowerCity,object,NaN,NaN,4.0,NaN,NaN
7,BorrowerState,object,object,object,0.0,0.0,0.0
8,BorrowerZip,float64,NaN,NaN,12.0,NaN,NaN
9,LoanStatusDate,object,NaN,NaN,281932.0,NaN,NaN
10,LoanStatus,object,object,object,0.0,0.0,0.0
11,Term,int64,int64,int64,0.0,0.0,0.0
12,SBAGuarantyPercentage,int64,NaN,NaN,0.0,NaN,NaN
13,InitialApprovalAmount,float64,NaN,NaN,0.0,NaN,NaN
14,CurrentApprovalAmount,float64,float64,float64,0.0,0.0,0.0
15,UndisbursedAmount,float64,float64,float64,219.0,219.0,219.0
16,FranchiseName,object,object,object,933151.0,0.0,0.0
17,ServicingLenderLocationID,int64,int64,int64,0.0,0.0,0.0
18,ServicingLenderName,object,object,object,0.0,0.0,0.0
19,ServicingLenderAddress,object,NaN,NaN,0.0,NaN,NaN
20,ServicingLenderCity,object,NaN,NaN,0.0,NaN,NaN
21,ServicingLenderState,object,object,object,0.0,0.0,0.0
22,ServicingLenderZip,object,NaN,NaN,0.0,NaN,NaN
23,RuralUrbanIndicator,object,object,NaN,0.0,0.0,NaN
24,HubzoneIndicator,object,object,NaN,0.0,0.0,NaN
25,LMIIndicator,object,object,NaN,0.0,0.0,NaN
26,BusinessAgeDescription,object,object,object,1.0,0.0,0.0
27,ProjectCity,object,NaN,NaN,13.0,NaN,NaN
28,ProjectCountyName,object,NaN,NaN,57.0,NaN,NaN
29,ProjectState,object,NaN,NaN,9.0,NaN,NaN
30,ProjectZip,object,NaN,NaN,14.0,NaN,NaN
31,CD,object,object,object,46.0,46.0,46.0
32,JobsReported,float64,float64,float64,1.0,0.0,0.0
33,NAICSCode,float64,int64,NaN,6632.0,0.0,NaN
34,Race,object,NaN,NaN,0.0,NaN,NaN
35,Ethnicity,object,NaN,NaN,0.0,NaN,NaN
36,UTILITIES_PROCEED,float64,NaN,NaN,629071.0,NaN,NaN
37,PAYROLL_PROCEED,float64,NaN,NaN,1824.0,NaN,NaN
38,MORTGAGE_INTEREST_PROCEED,float64,NaN,NaN,922101.0,NaN,NaN
39,RENT_PROCEED,float64,NaN,NaN,868916.0,NaN,NaN
40,REFINANCE_EIDL_PROCEED,float64,NaN,NaN,945363.0,NaN,NaN
41,HEALTH_CARE_PROCEED,float64,NaN,NaN,910989.0,NaN,NaN
42,DEBT_INTEREST_PROCEED,float64,NaN,NaN,936594.0,NaN,NaN
43,BusinessType,object,object,object,728.0,0.0,0.0
44,OriginatingLenderLocationID,int64,int64,int64,0.0,0.0,0.0
45,OriginatingLender,object,object,object,0.0,0.0,0.0
46,OriginatingLenderCity,object,object,object,0.0,0.0,0.0
47,OriginatingLenderState,object,object,object,0.0,0.0,0.0
48,Gender,object,NaN,NaN,0.0,NaN,NaN
49,Veteran,object,NaN,NaN,0.0,NaN,NaN
50,NonProfit,object,object,object,910149.0,0.0,0.0
51,ForgivenessAmount,float64,float64,float64,207884.0,207884.0,207884.0
52,ForgivenessDate,object,NaN,NaN,207884.0,NaN,NaN
53,DateApprovedTS,NaN,int64,int64,NaN,0.0,0.0
54,SBAOfficeLabel,NaN,object,object,NaN,0.0,0.0
55,LoanStatusDateTS,NaN,object,object,NaN,0.0,0.0
56,ServicingLenderFullAddress,NaN,object,object,NaN,0.0,0.0
57,ForgivenessDateTS,NaN,object,object,NaN,0.0,0.0
58,Estimated_LenderPercent,NaN,object,object,NaN,0.0,0.0
59,Estimated_LenderProfit,NaN,float64,float64,NaN,0.0,0.0
60,NA,NaN,int64,NaN,NaN,0.0,NaN
61,4DigitNAICS,NaN,int64,NaN,NaN,0.0,NaN
62,Industry,NaN,object,object,NaN,0.0,0.0
63,IndustrySubsector,NaN,object,object,NaN,0.0,0.0
64,TRIIndustrySector,NaN,object,NaN,NaN,12182.0,NaN
65,Loan_Range,NaN,object,NaN,NaN,0.0,NaN
66,job_Range,NaN,object,NaN,NaN,0.0,NaN
67,LongName,NaN,object,object,NaN,0.0,0.0
68,full_add,NaN,object,object,NaN,6.0,6.0
69,HASHcodePM,NaN,NaN,object,NaN,NaN,0.0
70,Lat,NaN,NaN,float64,NaN,NaN,145.0
71,Long,NaN,NaN,float64,NaN,NaN,145.0
72,FIPS_z,NaN,NaN,float64,NaN,NaN,926.0

In [41]:
merge23 = raw23.merge(pipe23, on='column', how='outer')
merge23_2 = merge23.merge(hpgf23_df, on='column', how='outer')
merge23_final= merge23_2[['column', 'dtype_r', 'dtype_p', 'dtype_h', 'nulls_r', 'nulls_p', 'nulls_h']]
merge23_final.to_csv("../data/process_data/dtypenulls23_update.csv")
merge23_final

,column,dtype_r,dtype_p,dtype_h,nulls_r,nulls_p,nulls_h
0,LoanNumber,int64,int64,int64,0.0,0.0,0.0
1,DateApproved,object,NaN,NaN,0.0,NaN,NaN
2,SBAOfficeCode,int64,int64,int64,0.0,0.0,0.0
3,ProcessingMethod,object,object,object,0.0,0.0,0.0
4,BorrowerName,object,object,object,4.0,4.0,4.0
5,BorrowerAddress,object,NaN,NaN,0.0,NaN,NaN
6,BorrowerCity,object,NaN,NaN,0.0,NaN,NaN
7,BorrowerState,object,object,object,0.0,0.0,0.0
8,BorrowerZip,object,NaN,NaN,13.0,NaN,NaN
9,LoanStatusDate,object,NaN,NaN,16825.0,NaN,NaN
10,LoanStatus,object,object,object,0.0,0.0,0.0
11,Term,int64,int64,int64,0.0,0.0,0.0
12,SBAGuarantyPercentage,int64,NaN,NaN,0.0,NaN,NaN
13,InitialApprovalAmount,float64,NaN,NaN,0.0,NaN,NaN
14,CurrentApprovalAmount,float64,float64,float64,0.0,0.0,0.0
15,UndisbursedAmount,float64,object,object,46.0,0.0,0.0
16,FranchiseName,object,object,object,930147.0,0.0,0.0
17,ServicingLenderLocationID,int64,int64,int64,0.0,0.0,0.0
18,ServicingLenderName,object,object,object,0.0,0.0,0.0
19,ServicingLenderAddress,object,NaN,NaN,0.0,NaN,NaN
20,ServicingLenderCity,object,NaN,NaN,0.0,NaN,NaN
21,ServicingLenderState,object,object,object,0.0,0.0,0.0
22,ServicingLenderZip,object,NaN,NaN,0.0,NaN,NaN
23,RuralUrbanIndicator,object,object,NaN,0.0,0.0,NaN
24,HubzoneIndicator,object,object,NaN,0.0,0.0,NaN
25,LMIIndicator,object,object,NaN,0.0,0.0,NaN
26,BusinessAgeDescription,object,object,object,1.0,0.0,0.0
27,ProjectCity,object,NaN,NaN,13.0,NaN,NaN
28,ProjectCountyName,object,NaN,NaN,57.0,NaN,NaN
29,ProjectState,object,NaN,NaN,9.0,NaN,NaN
30,ProjectZip,object,NaN,NaN,14.0,NaN,NaN
31,CD,object,object,object,46.0,46.0,46.0
32,JobsReported,float64,float64,float64,1.0,0.0,0.0
33,NAICSCode,float64,int64,NaN,6628.0,0.0,NaN
34,Race,object,NaN,NaN,0.0,NaN,NaN
35,Ethnicity,object,NaN,NaN,0.0,NaN,NaN
36,UTILITIES_PROCEED,float64,NaN,NaN,627203.0,NaN,NaN
37,PAYROLL_PROCEED,float64,NaN,NaN,1827.0,NaN,NaN
38,MORTGAGE_INTEREST_PROCEED,float64,NaN,NaN,920028.0,NaN,NaN
39,RENT_PROCEED,float64,NaN,NaN,866328.0,NaN,NaN
40,REFINANCE_EIDL_PROCEED,float64,NaN,NaN,942704.0,NaN,NaN
41,HEALTH_CARE_PROCEED,float64,NaN,NaN,908126.0,NaN,NaN
42,DEBT_INTEREST_PROCEED,float64,NaN,NaN,933856.0,NaN,NaN
43,BusinessType,object,object,object,720.0,0.0,0.0
44,OriginatingLenderLocationID,int64,int64,int64,0.0,0.0,0.0
45,OriginatingLender,object,object,object,0.0,0.0,0.0
46,OriginatingLenderCity,object,object,object,0.0,0.0,0.0
47,OriginatingLenderState,object,object,object,0.0,0.0,0.0
48,Gender,object,NaN,NaN,0.0,NaN,NaN
49,Veteran,object,NaN,NaN,0.0,NaN,NaN
50,NonProfit,object,object,object,906202.0,0.0,0.0
51,ForgivenessAmount,float64,object,object,26515.0,0.0,0.0
52,ForgivenessDate,object,NaN,NaN,26515.0,NaN,NaN
53,DateApprovedTS,NaN,int64,int64,NaN,0.0,0.0
54,SBAOfficeLabel,NaN,object,object,NaN,0.0,0.0
55,LoanStatusDateTS,NaN,object,object,NaN,0.0,0.0
56,ServicingLenderFullAddress,NaN,object,object,NaN,0.0,0.0
57,ForgivenessDateTS,NaN,object,object,NaN,0.0,0.0
58,Estimated_LenderPercent,NaN,object,object,NaN,0.0,0.0
59,Estimated_LenderProfit,NaN,float64,float64,NaN,0.0,0.0
60,NA,NaN,int64,NaN,NaN,0.0,NaN
61,4DigitNAICS,NaN,int64,NaN,NaN,0.0,NaN
62,Industry,NaN,object,object,NaN,0.0,0.0
63,IndustrySubsector,NaN,object,object,NaN,0.0,0.0
64,TRIIndustrySector,NaN,object,NaN,NaN,12162.0,NaN
65,Loan_Range,NaN,object,NaN,NaN,0.0,NaN
66,job_Range,NaN,object,NaN,NaN,0.0,NaN
67,LongName,NaN,object,object,NaN,0.0,0.0
68,full_add,NaN,object,object,NaN,0.0,0.0
69,HASHcodePM,NaN,NaN,object,NaN,NaN,0.0
70,Lat,NaN,NaN,float64,NaN,NaN,0.0
71,Long,NaN,NaN,float64,NaN,NaN,0.0
72,FIPS_z,NaN,NaN,float64,NaN,NaN,1249.0

<h3>Geoprocessing NoteBooks

<h4>Geocode Check

In [42]:
csvpath_geo = ("../data/state_data/geo/ppp_geo.csv")

In [43]:
size_geo= os.path.getsize(csvpath_geo)/1024**2
print(size_geo)

79.40129470825195

In [44]:
ppp_df_geo = pd.read_csv(csvpath_geo, index_col=0)

In [45]:
print(ppp_df_geo.shape[0])

968557

In [46]:
print(ppp_df_geo.columns)

Index(['LoanNumber', 'BorrowerState', 'full_add', 'Lat', 'Long', 'FIPS_z'], dtype='object')

In [47]:
print(ppp_df_geo.isnull().sum()) #note: has less null lat, long than geo_fips

LoanNumber            0
BorrowerState         0
full_add              6
Lat                  44
Long                 44
FIPS_z           876018
dtype: int64

In [48]:
print(ppp_df_geo.dtypes)

LoanNumber         int64
BorrowerState     object
full_add          object
Lat              float64
Long             float64
FIPS_z           float64
dtype: object

<h4>Selenium FIPS Check

In [49]:
csvpath_fips = ("../data/state_data/geo/ppp_geo_fips.csv") #merged with 23, does not include geoprocessng for row differences b/w 21/23
csvpath_fips23 = ("../data/state_data/geo/ppp_geo_fips23.csv")

In [50]:
size_fips= os.path.getsize(csvpath_fips)/1024**2
size_fips23= os.path.getsize(csvpath_fips23)/1024**2
print(size_fips)
print(size_fips23)

93.31274318695068
93.00460243225098

In [51]:
ppp_df_fips = pd.read_csv(csvpath_fips, index_col=0)
ppp_df_fips23 = pd.read_csv(csvpath_fips23, index_col=0)

In [52]:
print(ppp_df_fips.shape[0])
print(ppp_df_fips23.shape[0])

968557
965552

In [53]:
print(ppp_df_fips.columns)
print(ppp_df_fips23.columns)

Index(['LoanNumber', 'BorrowerState', 'full_add', 'Lat', 'Long', 'FIPS_z'], dtype='object')
Index(['LoanNumber', 'BorrowerState', 'full_add', 'Lat', 'Long', 'FIPS_z'], dtype='object')

In [54]:
print(ppp_df_fips.isnull().sum())
print(ppp_df_fips23.isnull().sum())

LoanNumber         0
BorrowerState      0
full_add           6
Lat              145
Long             145
FIPS_z           926
dtype: int64
LoanNumber          0
BorrowerState       0
full_add            0
Lat                 0
Long                0
FIPS_z           1249
dtype: int64

In [55]:
print(ppp_df_fips.dtypes)
print(ppp_df_fips23.dtypes)

LoanNumber         int64
BorrowerState     object
full_add          object
Lat              float64
Long             float64
FIPS_z           float64
dtype: object
LoanNumber         int64
BorrowerState     object
full_add          object
Lat              float64
Long             float64
FIPS_z           float64
dtype: object

<h4>State Process Checks

In [56]:
path21_hpgf =pd.read_csv("../data/pipe_hpgf.csv", index_col=0)
path23_hpgf =pd.read_csv("../data/pipe_hpgf23.csv", index_col=0)

/var/folders/vy/qdp8xcfj4s3dd5c6d1xp_y3w0000gn/T/ipykernel_5831/3307090360.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  path23_hpgf =pd.read_csv("../data/pipe_hpgf23.csv", index_col=0)

In [57]:
set(path21_hpgf.columns).symmetric_difference(path23_hpgf.columns)

set()

21

In [58]:
state_counts21 = path21_hpgf["BorrowerState"].value_counts()
state_counts21

BorrowerState
CA    130622
TX     76185
NY     74113
FL     60041
IL     40815
PA     38537
OH     32650
NJ     32533
MI     29809
MA     27471
GA     25832
WA     23755
VA     23266
NC     22826
CO     19742
MN     19730
MD     18979
WI     17354
IN     16601
MO     16350
TN     15869
AZ     15796
LA     13668
OR     13456
CT     12893
AL     10912
SC     10743
OK      9997
UT      9295
KY      9179
IA      8295
NV      8262
KS      8202
AR      5857
NE      5804
MS      5502
NH      5078
HI      4980
NM      4485
ID      4416
DC      4399
ME      4185
RI      3792
WV      3365
ND      3222
MT      3144
DE      2996
PR      2952
SD      2695
AK      2663
VT      2270
WY      2139
GU       443
VI       290
MP        82
AS        20
Name: count, dtype: int64

In [59]:
cols = ["full_add","Lat","Long","FIPS_z"]
null21= path21_hpgf[cols].isnull()
null21_vc=null21.value_counts()
null21_vc

full_add  Lat    Long   FIPS_z
False     False  False  False     967631
                        True         781
          True   True   True         139
True      True   True   True           6
Name: count, dtype: int64

In [60]:
path21_hpgf_nullcol= path21_hpgf[path21_hpgf.columns[path21_hpgf.isnull().any()]].isnull().sum()
path21col_df = pd.DataFrame({'column': path21_hpgf_nullcol.index, 'count':path21_hpgf_nullcol.values})
path21col_df = path21col_df.sort_values(["column"], ascending=True)
path21col_df

              column   count
0       BorrowerName       4
2                 CD      46
7             FIPS_z     926
3  ForgivenessAmount  207884
5                Lat     145
6               Long     145
1  UndisbursedAmount     219
4           full_add       6

In [61]:
na = path21_hpgf[path21_hpgf == 'Not Available'].count()
na0 =na[na!=0]
na0_df= pd.DataFrame({'column': na0.index, 'count':na0.values})
na0_df=na0_df.sort_values(["column"], ascending=True)
na0_df

                   column   count
5  BusinessAgeDescription   51056
4            BusinessType     728
6       ForgivenessDateTS  207884
3           FranchiseName  933151
0                Industry    8090
1       IndustrySubsector    8090
2        LoanStatusDateTS  281932
7                LongName    8090

In [62]:
frames21 = [path21col_df,na0_df]
result21 = pd.concat(frames21)
result21

                   column   count
0            BorrowerName       4
2                      CD      46
7                  FIPS_z     926
3       ForgivenessAmount  207884
5                     Lat     145
6                    Long     145
1       UndisbursedAmount     219
4                full_add       6
5  BusinessAgeDescription   51056
4            BusinessType     728
6       ForgivenessDateTS  207884
3           FranchiseName  933151
0                Industry    8090
1       IndustrySubsector    8090
2        LoanStatusDateTS  281932
7                LongName    8090

In [63]:
path21_hpgf_grp= path21_hpgf.groupby('BorrowerState')[['full_add','Lat','Long','FIPS_z']].apply(lambda x: x.isna().sum())
path21_hpgf_grp

               full_add  Lat  Long  FIPS_z
BorrowerState
AK                    0    5     5      11
AL                    0    8     8      31
AR                    0    2     2       6
AS                    0    0     0       0
AZ                    0    0     0      10
CA                    1    1     1      17
CO                    1    3     3       9
CT                    0    1     1       4
DC                    0    0     0       8
DE                    0    0     0       3
FL                    0   13    13      26
GA                    0    1     1      11
GU                    0    0     0       1
HI                    0    1     1       1
IA                    0    1     1      25
ID                    0    2     2       5
IL                    0    2     2      36
IN                    0   28    28      63
KS                    0    0     0      31
KY                    0    0     0      16
LA                    0    0     0      57
MA                    0    3     3      11
MD                    0    0     0      13
ME                    0    2     2       6
MI                    0   14    14      35
MN                    0    1     1      34
MO                    0    0     0      35
MP                    0    0     0       0
MS                    0    1     1      19
MT                    0    0     0      10
NC                    0   11    11      27
ND                    0    0     0      10
NE                    0    1     1      19
NH                    0    0     0       3
NJ                    0    3     3      27
NM                    0    4     4       9
NV                    0    0     0       9
NY                    1    2     2      63
OH                    0    1     1      11
OK                    0    0     0      22
OR                    0    6     6      14
PA                    0    8     8      41
PR                    0    2     2      17
RI                    0    0     0       0
SC                    1    1     1       5
SD                    0    0     0       2
TN                    0    3     3      27
TX                    2    6     6      30
UT                    0    0     0       2
VA                    0    0     0      11
VI                    0    1     1       1
VT                    0    0     0       4
WA                    0    4     4       9
WI                    0    2     2      15
WV                    0    1     1       9
WY                    0    0     0       5

In [64]:
pd.set_option('display.max_columns', None)
path21_hpgf_nullcnts= path21_hpgf[path21_hpgf.columns.difference(['BorrowerState'])].isnull().groupby(path21_hpgf.BorrowerState).sum().astype(int)
path21_hpgf_drop0= path21_hpgf_nullcnts.loc[:, path21_hpgf_nullcnts.any()] #drops columns if all values are False
path21_hpgf_drop0

,BorrowerName,CD,FIPS_z,ForgivenessAmount,Lat,Long,UndisbursedAmount,full_add
BorrowerState,,,,,,,,
AK,1,0,11,701,5,5,0,0
AL,0,2,31,2024,8,8,6,0
AR,0,0,6,797,2,2,2,0
AS,0,0,0,4,0,0,0,0
AZ,0,0,10,3335,0,0,3,0
CA,1,14,17,36394,1,1,28,1
CO,0,1,9,3602,3,3,7,1
CT,0,2,4,2761,1,1,1,0
DC,0,0,8,1325,0,0,0,0
DE,0,0,3,686,0,0,0,0
FL,0,1,26,15048,13,13,21,0
GA,0,0,11,5352,1,1,10,0
GU,0,0,1,102,0,0,0,0
HI,0,0,1,1102,1,1,0,0
IA,0,0,25,810,1,1,4,0
ID,0,0,5,572,2,2,0,0
IL,0,1,36,8231,2,2,4,0
IN,0,0,63,2344,28,28,8,0
KS,0,0,31,925,0,0,2,0
KY,0,0,16,1465,0,0,2,0
LA,0,0,57,3311,0,0,4,0
MA,0,0,11,5817,3,3,3,0
MD,0,0,13,4316,0,0,0,0
ME,0,0,6,686,2,2,0,0
MI,0,3,35,5894,14,14,7,0
MN,0,0,34,2918,1,1,10,0
MO,0,0,35,2181,0,0,23,0
MP,0,0,0,19,0,0,0,0
MS,0,0,19,1099,1,1,0,0
MT,0,0,10,476,0,0,0,0
NC,0,0,27,4456,11,11,2,0
ND,0,0,10,409,0,0,0,0
NE,0,0,19,586,1,1,2,0
NH,0,0,3,794,0,0,0,0
NJ,0,1,27,8093,3,3,0,0
NM,0,0,9,955,4,4,9,0
NV,0,2,9,2190,0,0,2,0
NY,1,6,63,22135,2,2,7,1
OH,0,7,11,5766,1,1,13,0
OK,0,0,22,1455,0,0,1,0
OR,1,0,14,2472,6,6,1,0
PA,0,0,41,7506,8,8,10,0
PR,0,0,17,682,2,2,1,0
RI,0,0,0,700,0,0,0,0
SC,0,0,5,1962,1,1,0,1
SD,0,0,2,235,0,0,0,0
TN,0,0,27,2707,3,3,1,0
TX,0,4,30,15206,6,6,9,2
UT,0,1,2,1799,0,0,2,0
VA,0,0,11,4685,0,0,3,0
VI,0,0,1,80,1,1,0,0
VT,0,0,4,377,0,0,0,0
WA,0,0,9,4949,4,4,5,0
WI,0,1,15,2295,2,2,6,0
WV,0,0,9,739,1,1,0,0
WY,0,0,5,354,0,0,0,0

In [65]:
pd.set_option('display.max_rows', None) #disables display option

23

In [66]:
state_counts23 = path23_hpgf["BorrowerState"].value_counts()
print(state_counts23)

BorrowerState
CA               129086
TX                76061
NY                73819
FL                60003
IL                40763
PA                38500
OH                32639
NJ                32515
MI                29791
MA                27179
GA                25787
WA                23620
VA                23224
NC                22796
MN                19720
CO                19669
MD                18955
WI                17346
IN                16594
MO                16339
TN                15864
AZ                15757
LA                13669
OR                13403
CT                12882
AL                10912
SC                10741
OK                 9995
UT                 9258
KY                 9178
IA                 8295
NV                 8254
KS                 8201
AR                 5857
NE                 5804
MS                 5504
NH                 5069
HI                 4979
NM                 4482
ID                 4415
DC                 4383
ME                 4185
RI                 3786
WV                 3365
ND                 3222
MT                 3142
DE                 2990
PR                 2952
SD                 2695
AK                 2662
VT                 2265
WY                 2137
GU                  443
VI                  290
MP                   82
AS                   20
Not Available         8
Name: count, dtype: int64

In [67]:
cols = ["full_add","Lat","Long","FIPS_z"]
null23= path23_hpgf[cols].isnull()
null23_vc=null23.value_counts()
null23_vc

full_add  Lat    Long   FIPS_z
False     False  False  False     964303
                        True        1249
Name: count, dtype: int64

In [68]:
path23_hpgf_nullcol = path23_hpgf[path23_hpgf.columns[path23_hpgf.isnull().any()]].isnull().sum()
path23col_df = pd.DataFrame({'column': path23_hpgf_nullcol.index, 'count':path23_hpgf_nullcol.values})
path23col_df = path23col_df.sort_values(["column"], ascending=True)
path23col_df

         column  count
0  BorrowerName      4
1            CD     46
2        FIPS_z   1249

In [69]:
na23 = path23_hpgf[path23_hpgf == 'Not Available'].count()
na023 =na23[na23!=0]
na023_df = pd.DataFrame({'column': na023.index, 'count':na023.values})
na023_df=na023_df.sort_values(["column"], ascending=True)
na023_df

                    column   count
0            BorrowerState       8
5   BusinessAgeDescription   51052
4             BusinessType     720
6        ForgivenessAmount   26515
7        ForgivenessDateTS   26515
3            FranchiseName  930147
9                 Industry    8084
10       IndustrySubsector    8084
1         LoanStatusDateTS   16825
8                 LongName    8084
2        UndisbursedAmount      46

In [70]:
frames23 = [path23col_df,na023_df]
result23 = pd.concat(frames23)
result23

                    column   count
0             BorrowerName       4
1                       CD      46
2                   FIPS_z    1249
0            BorrowerState       8
5   BusinessAgeDescription   51052
4             BusinessType     720
6        ForgivenessAmount   26515
7        ForgivenessDateTS   26515
3            FranchiseName  930147
9                 Industry    8084
10       IndustrySubsector    8084
1         LoanStatusDateTS   16825
8                 LongName    8084
2        UndisbursedAmount      46

In [71]:
path23_hpgf_grp= path23_hpgf.groupby('BorrowerState')[['full_add','Lat','Long','FIPS_z']].apply(lambda x: x.isna().sum())
path23_hpgf_grp

               full_add  Lat  Long  FIPS_z
BorrowerState
AK                    0    0     0      11
AL                    0    0     0      33
AR                    0    0     0       6
AS                    0    0     0       0
AZ                    0    0     0      16
CA                    0    0     0      13
CO                    0    0     0      18
CT                    0    0     0       6
DC                    0    0     0       8
DE                    0    0     0       3
FL                    0    0     0      72
GA                    0    0     0      26
GU                    0    0     0       1
HI                    0    0     0       5
IA                    0    0     0      26
ID                    0    0     0       7
IL                    0    0     0      48
IN                    0    0     0      65
KS                    0    0     0      31
KY                    0    0     0      17
LA                    0    0     0      63
MA                    0    0     0      25
MD                    0    0     0      20
ME                    0    0     0       6
MI                    0    0     0      45
MN                    0    0     0      34
MO                    0    0     0      42
MP                    0    0     0       0
MS                    0    0     0      23
MT                    0    0     0      10
NC                    0    0     0      33
ND                    0    0     0      10
NE                    0    0     0      20
NH                    0    0     0       3
NJ                    0    0     0      49
NM                    0    0     0      10
NV                    0    0     0      30
NY                    0    0     0      61
Not Available         0    0     0       8
OH                    0    0     0      15
OK                    0    0     0      26
OR                    0    0     0      19
PA                    0    0     0      51
PR                    0    0     0      18
RI                    0    0     0       0
SC                    0    0     0       6
SD                    0    0     0       3
TN                    0    0     0      29
TX                    0    0     0      64
UT                    0    0     0       3
VA                    0    0     0      44
VI                    0    0     0       1
VT                    0    0     0       3
WA                    0    0     0      30
WI                    0    0     0      19
WV                    0    0     0       9
WY                    0    0     0       5

In [72]:
pd.set_option('display.max_columns', None)
path23_hpgf_nullcnts= path23_hpgf[path23_hpgf.columns.difference(['BorrowerState'])].isnull().groupby(path23_hpgf.BorrowerState).sum().astype(int)
path23_hpgf_drop0= path23_hpgf_nullcnts.loc[:, path23_hpgf_nullcnts.any()] #drops columns if all values are False
path23_hpgf_drop0

               BorrowerName  CD  FIPS_z
BorrowerState
AK                        1   0      11
AL                        0   2      33
AR                        0   0       6
AS                        0   0       0
AZ                        0   0      16
CA                        1  14      13
CO                        0   1      18
CT                        0   2       6
DC                        0   0       8
DE                        0   0       3
FL                        0   1      72
GA                        0   0      26
GU                        0   0       1
HI                        0   0       5
IA                        0   0      26
ID                        0   0       7
IL                        0   0      48
IN                        0   0      65
KS                        0   0      31
KY                        0   0      17
LA                        0   0      63
MA                        0   0      25
MD                        0   0      20
ME                        0   0       6
MI                        0   0      45
MN                        0   0      34
MO                        0   0      42
MP                        0   0       0
MS                        0   0      23
MT                        0   0      10
NC                        0   0      33
ND                        0   0      10
NE                        0   0      20
NH                        0   0       3
NJ                        0   1      49
NM                        0   0      10
NV                        0   2      30
NY                        1   6      61
Not Available             0   8       8
OH                        0   3      15
OK                        0   0      26
OR                        1   0      19
PA                        0   0      51
PR                        0   0      18
RI                        0   0       0
SC                        0   0       6
SD                        0   0       3
TN                        0   0      29
TX                        0   4      64
UT                        0   1       3
VA                        0   0      44
VI                        0   0       1
VT                        0   0       3
WA                        0   0      30
WI                        0   1      19
WV                        0   0       9
WY                        0   0       5

In [73]:
state_countsdf21 = pd.DataFrame({'BorrowerState': state_counts21.index, 'count':state_counts21.values})
merge_21= state_countsdf21.merge(path21_hpgf_grp, on='BorrowerState', how='left')
merge_21 = merge21.sort_values(["BorrowerState"], ascending=True)

   BorrowerState   count  full_add  Lat  Long  FIPS_z
0             CA  130622         1    1     1      17
1             TX   76185         2    6     6      30
2             NY   74113         1    2     2      63
3             FL   60041         0   13    13      26
4             IL   40815         0    2     2      36
5             PA   38537         0    8     8      41
6             OH   32650         0    1     1      11
7             NJ   32533         0    3     3      27
8             MI   29809         0   14    14      35
9             MA   27471         0    3     3      11
10            GA   25832         0    1     1      11
11            WA   23755         0    4     4       9
12            VA   23266         0    0     0      11
13            NC   22826         0   11    11      27
14            CO   19742         1    3     3       9
15            MN   19730         0    1     1      34
16            MD   18979         0    0     0      13
17            WI   17354         0    2     2      15
18            IN   16601         0   28    28      63
19            MO   16350         0    0     0      35
20            TN   15869         0    3     3      27
21            AZ   15796         0    0     0      10
22            LA   13668         0    0     0      57
23            OR   13456         0    6     6      14
24            CT   12893         0    1     1       4
25            AL   10912         0    8     8      31
26            SC   10743         1    1     1       5
27            OK    9997         0    0     0      22
28            UT    9295         0    0     0       2
29            KY    9179         0    0     0      16
30            IA    8295         0    1     1      25
31            NV    8262         0    0     0       9
32            KS    8202         0    0     0      31
33            AR    5857         0    2     2       6
34            NE    5804         0    1     1      19
35            MS    5502         0    1     1      19
36            NH    5078         0    0     0       3
37            HI    4980         0    1     1       1
38            NM    4485         0    4     4       9
39            ID    4416         0    2     2       5
40            DC    4399         0    0     0       8
41            ME    4185         0    2     2       6
42            RI    3792         0    0     0       0
43            WV    3365         0    1     1       9
44            ND    3222         0    0     0      10
45            MT    3144         0    0     0      10
46            DE    2996         0    0     0       3
47            PR    2952         0    2     2      17
48            SD    2695         0    0     0       2
49            AK    2663         0    5     5      11
50            VT    2270         0    0     0       4
51            WY    2139         0    0     0       5
52            GU     443         0    0     0       1
53            VI     290         0    1     1       1
54            MP      82         0    0     0       0
55            AS      20         0    0     0       0

In [74]:
state_countsdf23 = pd.DataFrame({'BorrowerState': state_counts23.index, 'count':state_counts23.values})
merge_23= state_countsdf23.merge(path23_hpgf_grp, on="BorrowerState", how='left')
merge_23 = merge23.sort_values(["BorrowerState"], ascending=True)
merge_23

    BorrowerState   count  full_add  Lat  Long  FIPS_z
0              CA  129086         0    0     0      13
1              TX   76061         0    0     0      64
2              NY   73819         0    0     0      61
3              FL   60003         0    0     0      72
4              IL   40763         0    0     0      48
5              PA   38500         0    0     0      51
6              OH   32639         0    0     0      15
7              NJ   32515         0    0     0      49
8              MI   29791         0    0     0      45
9              MA   27179         0    0     0      25
10             GA   25787         0    0     0      26
11             WA   23620         0    0     0      30
12             VA   23224         0    0     0      44
13             NC   22796         0    0     0      33
14             MN   19720         0    0     0      34
15             CO   19669         0    0     0      18
16             MD   18955         0    0     0      20
17             WI   17346         0    0     0      19
18             IN   16594         0    0     0      65
19             MO   16339         0    0     0      42
20             TN   15864         0    0     0      29
21             AZ   15757         0    0     0      16
22             LA   13669         0    0     0      63
23             OR   13403         0    0     0      19
24             CT   12882         0    0     0       6
25             AL   10912         0    0     0      33
26             SC   10741         0    0     0       6
27             OK    9995         0    0     0      26
28             UT    9258         0    0     0       3
29             KY    9178         0    0     0      17
30             IA    8295         0    0     0      26
31             NV    8254         0    0     0      30
32             KS    8201         0    0     0      31
33             AR    5857         0    0     0       6
34             NE    5804         0    0     0      20
35             MS    5504         0    0     0      23
36             NH    5069         0    0     0       3
37             HI    4979         0    0     0       5
38             NM    4482         0    0     0      10
39             ID    4415         0    0     0       7
40             DC    4383         0    0     0       8
41             ME    4185         0    0     0       6
42             RI    3786         0    0     0       0
43             WV    3365         0    0     0       9
44             ND    3222         0    0     0      10
45             MT    3142         0    0     0      10
46             DE    2990         0    0     0       3
47             PR    2952         0    0     0      18
48             SD    2695         0    0     0       3
49             AK    2662         0    0     0      11
50             VT    2265         0    0     0       3
51             WY    2137         0    0     0       5
52             GU     443         0    0     0       1
53             VI     290         0    0     0       1
54             MP      82         0    0     0       0
55             AS      20         0    0     0       0
56  Not Available       8         0    0     0       8

In [75]:
null21_vc.to_csv("../data/process_data/geo_tfnulls21vc.csv")
result21.to_csv("../data/process_data/null_notavail21.csv")
path21_hpgf_drop0.to_csv("../data/process_data/state_nulls21.csv")
merge_21.to_csv("../data/process_data/state_geonulls21.csv")

null23_vc.to_csv("../data/process_data/geo_tfnulls23vc.csv")
result23.to_csv("../data/process_data/null_notavail23.csv")
path23_hpgf_drop0.to_csv("../data/process_data/state_nulls23.csv")
merge_23.to_csv("../data/process_data/state_geonulls23.csv")

In [76]:
pd.set_option('display.max_rows', None) #disables display option