In [1]:
import pandas as pd
import numpy as np

In [2]:
print (pd.__version__)

2.0.3

In [3]:
csvpath_21=("../data/raw/>150K/public_150k_plus_211121_add.csv")
csvpath_23=("../data/raw/>150K/public_150k_plus_230630.csv")

In [4]:
ppp_df_21= pd.read_csv(csvpath_21, index_col=0) #drops Unnamed; alt: df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
ppp_df_23= pd.read_csv(csvpath_23)

In [5]:
print(ppp_df_21.shape[0])
print(ppp_df_23.shape[0])

968557
965552

In [6]:
ppp_df_21.head()

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,9547507704,5/1/20,464,PPP,"SUMTER COATINGS, INC.",2410 Highway 15 South,Sumter,SC,29150.0,12/18/20,...,Corporation,19248,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN,773553.37,11/20/20
1,9777677704,5/1/20,464,PPP,"PLEASANT PLACES, INC.",7684 Southrail Road,North Charleston,SC,29420.0,9/28/21,...,Sole Proprietorship,19248,Synovus Bank,COLUMBUS,GA,Male Owned,Non-Veteran,NaN,746336.24,8/12/21
2,5791407702,5/1/20,1013,PPP,BOYER CHILDREN'S CLINIC,1850 BOYER AVE E,SEATTLE,WA,98112.0,3/17/21,...,Non-Profit Organization,9551,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,Y,696677.49,2/10/21
3,6223567700,5/1/20,920,PPP,KIRTLEY CONSTRUCTION INC,1661 MARTIN RANCH RD,SAN BERNARDINO,CA,92407.0,10/16/21,...,Corporation,9551,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,NaN,395264.11,9/10/21
4,9662437702,5/1/20,101,PPP,AERO BOX LLC,20101 Cornillie Dr,Roseville,MI,NaN,8/17/21,...,NaN,57328,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,370819.35,4/8/21

Convert Dates to match 2023 update format

In [7]:
ppp_df_21['DateApproved'] = pd.to_datetime(ppp_df_21['DateApproved'].str.zfill(6), format='%m/%d/%y')
ppp_df_21['LoanStatusDate'] =pd.to_datetime(ppp_df_21['LoanStatusDate'].str.zfill(6), format='%m/%d/%y')
ppp_df_21['ForgivenessDate'] =pd.to_datetime(ppp_df_21['ForgivenessDate'].str.zfill(6), format='%m/%d/%y')

In [8]:
ppp_df_21['DateApproved'] = ppp_df_21['DateApproved'].dt.strftime('%m/%d/%Y').astype(str)
ppp_df_21['LoanStatusDate'] = ppp_df_21['LoanStatusDate'].dt.strftime('%m/%d/%Y').astype(str)
ppp_df_21['ForgivenessDate'] = ppp_df_21['ForgivenessDate'].dt.strftime('%m/%d/%Y').astype(str)

Convert ZipCode formats

In [9]:
ppp_df_21['BorrowerZip']=ppp_df_21['BorrowerZip'].astype(str).str[:5]
ppp_df_21['ServicingLenderZip']=ppp_df_21['ServicingLenderZip'].astype(str).str[:5]
ppp_df_21['ProjectZip']=ppp_df_21['ProjectZip'].astype(str).str[:5]

ppp_df_23['BorrowerZip']=ppp_df_23['BorrowerZip'].astype(str).str[:5]
ppp_df_23['ServicingLenderZip']=ppp_df_23['ServicingLenderZip'].astype(str).str[:5]
ppp_df_23['ProjectZip']=ppp_df_23['ProjectZip'].astype(str).str[:5]

In [10]:
ppp_df_21.head()

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,9547507704,05/01/2020,464,PPP,"SUMTER COATINGS, INC.",2410 Highway 15 South,Sumter,SC,29150,12/18/2020,...,Corporation,19248,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN,773553.37,11/20/2020
1,9777677704,05/01/2020,464,PPP,"PLEASANT PLACES, INC.",7684 Southrail Road,North Charleston,SC,29420,09/28/2021,...,Sole Proprietorship,19248,Synovus Bank,COLUMBUS,GA,Male Owned,Non-Veteran,NaN,746336.24,08/12/2021
2,5791407702,05/01/2020,1013,PPP,BOYER CHILDREN'S CLINIC,1850 BOYER AVE E,SEATTLE,WA,98112,03/17/2021,...,Non-Profit Organization,9551,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,Y,696677.49,02/10/2021
3,6223567700,05/01/2020,920,PPP,KIRTLEY CONSTRUCTION INC,1661 MARTIN RANCH RD,SAN BERNARDINO,CA,92407,10/16/2021,...,Corporation,9551,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,NaN,395264.11,09/10/2021
4,9662437702,05/01/2020,101,PPP,AERO BOX LLC,20101 Cornillie Dr,Roseville,MI,nan,08/17/2021,...,NaN,57328,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,370819.35,04/08/2021

In [11]:
ppp_df_23.head()

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,9547507704,05/01/2020,464,PPP,"SUMTER COATINGS, INC.",2410 Highway 15 South,Sumter,NaN,29150,12/18/2020,...,Corporation,19248,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN,773553.37,11/20/2020
1,9777677704,05/01/2020,464,PPP,"PLEASANT PLACES, INC.",7684 Southrail Road,North Charleston,NaN,29420,09/28/2021,...,Sole Proprietorship,19248,Synovus Bank,COLUMBUS,GA,Male Owned,Non-Veteran,NaN,746336.24,08/12/2021
2,5791407702,05/01/2020,1013,PPP,BOYER CHILDREN'S CLINIC,1850 BOYER AVE E,SEATTLE,NaN,98112,03/17/2021,...,Non-Profit Organization,9551,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,Y,696677.49,02/10/2021
3,6223567700,05/01/2020,920,PPP,KIRTLEY CONSTRUCTION INC,1661 MARTIN RANCH RD,SAN BERNARDINO,NaN,92407,10/16/2021,...,Corporation,9551,"Bank of America, National Association",CHARLOTTE,NC,Male Owned,Non-Veteran,NaN,395264.11,09/10/2021
4,9662437702,05/01/2020,101,PPP,AERO BOX LLC,NaN,NaN,NaN,nan,08/17/2021,...,NaN,57328,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,370819.35,04/08/2021

In [12]:
ppp_df_23.columns

Index(['LoanNumber', 'DateApproved', 'SBAOfficeCode', 'ProcessingMethod',
       'BorrowerName', 'BorrowerAddress', 'BorrowerCity', 'BorrowerState',
       'BorrowerZip', 'LoanStatusDate', 'LoanStatus', 'Term',
       'SBAGuarantyPercentage', 'InitialApprovalAmount',
       'CurrentApprovalAmount', 'UndisbursedAmount', 'FranchiseName',
       'ServicingLenderLocationID', 'ServicingLenderName',
       'ServicingLenderAddress', 'ServicingLenderCity', 'ServicingLenderState',
       'ServicingLenderZip', 'RuralUrbanIndicator', 'HubzoneIndicator',
       'LMIIndicator', 'BusinessAgeDescription', 'ProjectCity',
       'ProjectCountyName', 'ProjectState', 'ProjectZip', 'CD', 'JobsReported',
       'NAICSCode', 'Race', 'Ethnicity', 'UTILITIES_PROCEED',
       'PAYROLL_PROCEED', 'MORTGAGE_INTEREST_PROCEED', 'RENT_PROCEED',
       'REFINANCE_EIDL_PROCEED', 'HEALTH_CARE_PROCEED',
       'DEBT_INTEREST_PROCEED', 'BusinessType', 'OriginatingLenderLocationID',
       'OriginatingLender', 'OriginatingLenderCity', 'OriginatingLenderState',
       'Gender', 'Veteran', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDate'],
      dtype='object')

In [14]:
ppp_df_21['BorrowerZip']= ppp_df_21['BorrowerZip'].astype(object)

Compare LoanNumber Columns

21 968557 <br>
23 965552 <br>
3005

In [15]:
ppp_df_21['LoanNumber'].isin(ppp_df_23['LoanNumber']).value_counts()
#3019 PPP Loans from 2021 not included in 2023 Updated PPP Loan Data

LoanNumber
True     965538
False      3019
Name: count, dtype: int64

In [16]:
ppp_df_23['LoanNumber'].isin(ppp_df_21['LoanNumber']).value_counts()

LoanNumber
True     965538
False        14
Name: count, dtype: int64

Dtypes

In [ ]:
ppp_df_21.dtypes.to_csv("../data/process_data/update_comps/21dtypes_raw.csv")
ppp_df_23.dtypes.to_csv("../data/process_data/update_comps/23dtypes_raw.csv")

SUM Null Raw 2023

In [17]:
print(ppp_df_23.isnull().sum())
df_null_sum = ppp_df_23.isnull().sum()
#df_null_sum.to_csv("../data/process_data/update_comps/23rawnull.csv")

LoanNumber                          0
DateApproved                        0
SBAOfficeCode                       0
ProcessingMethod                    0
BorrowerName                        4
BorrowerAddress                    14
BorrowerCity                       12
BorrowerState                      13
BorrowerZip                         0
LoanStatusDate                  16825
LoanStatus                          0
Term                                0
SBAGuarantyPercentage               0
InitialApprovalAmount               0
CurrentApprovalAmount               0
UndisbursedAmount                  46
FranchiseName                  930147
ServicingLenderLocationID           0
ServicingLenderName                 0
ServicingLenderAddress              0
ServicingLenderCity                 0
ServicingLenderState                0
ServicingLenderZip                  0
RuralUrbanIndicator                 0
HubzoneIndicator                    0
LMIIndicator                        0
BusinessAgeDescription              1
ProjectCity                        13
ProjectCountyName                  57
ProjectState                        9
ProjectZip                          0
CD                                 46
JobsReported                        1
NAICSCode                        6628
Race                                0
Ethnicity                           0
UTILITIES_PROCEED              627203
PAYROLL_PROCEED                  1827
MORTGAGE_INTEREST_PROCEED      920028
RENT_PROCEED                   866328
REFINANCE_EIDL_PROCEED         942704
HEALTH_CARE_PROCEED            908126
DEBT_INTEREST_PROCEED          933856
BusinessType                      720
OriginatingLenderLocationID         0
OriginatingLender                   0
OriginatingLenderCity               0
OriginatingLenderState              0
Gender                              0
Veteran                             0
NonProfit                      906202
ForgivenessAmount               26515
ForgivenessDate                 26515
dtype: int64

<h5>Added/Removed Columns based on LoanNumber 2021, 2023 comp

Columns in 2023 not in 2021

In [18]:
df_1notin2 = ppp_df_23[~(ppp_df_23['LoanNumber'].isin(ppp_df_21['LoanNumber']))].reset_index(drop=True)
df_1notin2

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,2259667209,04/15/2020,954,PPP,"WESTCOTT ENTERPRISES, INC.",2800 National City Blvd,NATIONAL CITY,CA,91950,06/16/2022,...,Corporation,48270,"JPMorgan Chase Bank, National Association",COLUMBUS,OH,Unanswered,Unanswered,NaN,529753.95,04/22/2022
1,4946287704,05/03/2020,912,PPP,"OUTBOARD JET TRUROL BEARINGS, INC.",2035 EDISON AVE.,SAN LEANDRO,CA,94552,04/12/2022,...,Corporation,12096,"Wells Fargo Bank, National Association",SIOUX FALLS,SD,Unanswered,Unanswered,NaN,241559.36,06/29/2022
2,8600637300,05/01/2020,914,PPP,ELITE PLACEMENT GROUP,9150 Wilshire blvd 270,Beverly hills,CA,90212,01/20/2022,...,Corporation,121536,Customers Bank,Malvern,PA,Unanswered,Unanswered,NaN,NaN,NaN
3,1340588502,02/18/2021,455,PPS,TLC MEDICAL GROUP INC,Northwest Lake Whitney Place N/A,Port St. Lucie,FL,34986,08/17/2022,...,Corporation,123118,"Transportation Alliance Bank, Inc. d/b/a TAB Bank",OGDEN,UT,Unanswered,Unanswered,NaN,195515.30,07/01/2022
4,3349098503,02/23/2021,671,PPS,ROBERT DAUGHERTY,5960 Fairview Rd Ste 500,CHARLOTTE,NC,28210,09/17/2022,...,Limited Liability Company(LLC),529471,Itria Ventures LLC,New York,NY,Unanswered,Unanswered,NaN,249415.07,08/10/2022
5,3766767704,05/03/2020,460,PPP,"EASTERN ENVIRONMENTAL, INC.",24480 U.S. 17,Hampstead,NC,28443,12/10/2022,...,Subchapter S Corporation,223542,Celtic Bank Corporation,SALT LAKE CITY,UT,Unanswered,Unanswered,NaN,205038.89,10/31/2022
6,1441598504,02/18/2021,299,PPS,VANITY HAIR SALON,9 Midland Ave,Montclair,NJ,07042,03/25/2022,...,Limited Liability Company(LLC),121536,Customers Bank,Malvern,PA,Unanswered,Unanswered,NaN,151842.79,02/25/2022
7,5949377010,04/06/2020,680,PPP,"MID-AMERICA FEEDS, INC.",101 E Sequoyah St,TALALA,OK,74080,03/15/2022,...,Corporation,4282,Arvest Bank,FAYETTEVILLE,AR,Unanswered,Unanswered,NaN,490734.83,01/31/2022
8,9158508500,03/12/2021,303,PPS,"THE WORKS AT WYOMISSING, LLC",1109 Bern Rd None,Wyomissing,PA,19610,08/23/2022,...,Limited Liability Company(LLC),121536,Customers Bank,Malvern,PA,Male Owned,Non-Veteran,NaN,447173.81,08/02/2022
9,2264257100,04/10/2020,464,PPP,NAMAN WAVERLY LLC,PO BOX 4540,FLORENCE,SC,29502,03/19/2022,...,Limited Liability Company(LLC),225134,Truist Bank,CHARLOTTE,NC,Unanswered,Unanswered,NaN,247867.20,01/19/2022
10,7443588905,05/07/2021,474,PPS,SAMI ABU-ZAHRA,415B SE Broad St,Murfreesboro,TN,37130,NaN,...,Sole Proprietorship,67422,First Horizon Bank,MEMPHIS,TN,Unanswered,Unanswered,NaN,NaN,NaN
11,9924618803,04/24/2021,671,PPS,HYPERSTAR PROPERTIES LLC,8302 Champion Forest Cir N/A,Spring,TX,77379,11/11/2022,...,Limited Liability Company(LLC),124336,"Blue Ridge Bank, National Association",MARTINSVILLE,VA,Male Owned,Non-Veteran,NaN,162870.22,10/19/2022
12,6592778009,06/30/2020,304,PPP,"TAMARACH TECHNOLOGIES, INC",2481 TRANSOM PL,WOODBRIDGE,VA,22191,04/15/2022,...,Corporation,93956,Navy FCU,VIENNA,VA,Male Owned,Veteran,NaN,202279.62,05/03/2022
13,7191168410,02/11/2021,353,PPS,ALLGREEN LANDSCAPE COMPANY,313 Park Ave Ste G3,Falls Church,VA,22046,07/09/2022,...,Corporation,123130,"MVB Bank, Inc.",FAIRMONT,WV,Male Owned,Veteran,NaN,188577.81,06/07/2022

Columns in 2021 not in 2023

In [19]:
df_2notin1 = ppp_df_21[~(ppp_df_21['LoanNumber'].isin(ppp_df_23['LoanNumber']))].reset_index(drop=True)
df_2notin1

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,1566008800,04/10/2021,1084,PPP,ARNOLD BHIKHAI,3228 Riverview Dr,Fairbanks,AK,99709,nan,...,Sole Proprietorship,530223,American Lending Center,Long Beach,CA,Male Owned,Unanswered,NaN,NaN,nan
1,3477777101,04/11/2020,988,PPP,"ELEVATE SERVICES, INC.",1711 W. Greentree Dr. Ste 108,Tempe,AZ,85284,06/22/2021,...,Corporation,14569,Silicon Valley Bank,SANTA CLARA,CA,Unanswered,Unanswered,NaN,4530472.06,06/14/2021
2,1533147205,04/15/2020,988,PPP,INTEGRATE.COM INC,111 W Monroe St 19th FL,Phoenix,AZ,85003,07/22/2021,...,Corporation,14569,Silicon Valley Bank,SANTA CLARA,CA,Unanswered,Unanswered,NaN,3742141.13,06/23/2021
3,1198017203,04/15/2020,988,PPP,ENCHOICE INC,"1400 E Southern Avenue, Suite 800",Tempe,AZ,85282,06/22/2021,...,Corporation,14569,Silicon Valley Bank,SANTA CLARA,CA,Unanswered,Unanswered,NaN,2421042.45,06/11/2021
4,3467347402,05/07/2020,988,PPP,BEST CERAMIC KNIFES INC,1816 W VERMONT AVE,PHOENIX,AZ,85015,nan,...,Corporation,12096,"Wells Fargo Bank, National Association",SIOUX FALLS,SD,Unanswered,Unanswered,NaN,NaN,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3014,7276078700,04/06/2021,563,PPS,HEALTHMYNE INC.,918 Deming Way Fl 3,Madison,WI,53717,nan,...,Corporation,14569,Silicon Valley Bank,SANTA CLARA,CA,Male Owned,Unanswered,NaN,NaN,nan
3015,7110957109,04/14/2020,563,PPP,"PROCUREMENT PARTNERS, LLC","17035 W Wisconsin Ave,100",Wauwatosa,WI,53005,06/02/2021,...,Sole Proprietorship,499141,"Readycap Lending, LLC",BERKELEY HEIGHTS,NJ,Male Owned,Non-Veteran,NaN,NaN,nan
3016,6067308402,02/10/2021,563,PPS,SIMPLEMACHINES INC.,455 Science Dr Ste 250,Madison,WI,53711,nan,...,Corporation,14569,Silicon Valley Bank,SANTA CLARA,CA,Unanswered,Unanswered,NaN,277171.85,06/15/2021
3017,4934147101,04/13/2020,563,PPP,BAG BORROW OR STEAL INC,2114 Eagle Drive,Middleton,WI,53562,02/24/2021,...,Corporation,14569,Silicon Valley Bank,SANTA CLARA,CA,Unanswered,Unanswered,NaN,236189.71,02/11/2021
3018,1443407207,04/15/2020,897,PPP,PROJECT ONE NUTRITION INC,4225 Hunters Road,Wilson,WY,83014,08/21/2021,...,Corporation,14569,Silicon Valley Bank,SANTA CLARA,CA,Unanswered,Unanswered,NaN,174861.56,08/09/2021

<h5>Drop Column Differences

Drop Columns in 2021 not included in 2023<br>
Original 2021 DataFrame -3019 removed columns

In [20]:
dropadded_21 = ppp_df_21[~(ppp_df_21['LoanNumber'].isin(df_2notin1['LoanNumber']))].reset_index(drop=True)
dropadded_21 # Drop Columns not in 23 968557 - 3019 = 965538

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,9547507704,05/01/2020,464,PPP,"SUMTER COATINGS, INC.",2410 Highway 15 South,Sumter,SC,29150,12/18/2020,...,Corporation,19248,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN,773553.37,11/20/2020
1,9777677704,05/01/2020,464,PPP,"PLEASANT PLACES, INC.",7684 Southrail Road,North Charleston,SC,29420,09/28/2021,...,Sole Proprietorship,19248,Synovus Bank,COLUMBUS,GA,Male Owned,Non-Veteran,NaN,746336.24,08/12/2021
2,5791407702,05/01/2020,1013,PPP,BOYER CHILDREN'S CLINIC,1850 BOYER AVE E,SEATTLE,WA,98112,03/17/2021,...,Non-Profit Organization,9551,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,Y,696677.49,02/10/2021
3,6223567700,05/01/2020,920,PPP,KIRTLEY CONSTRUCTION INC,1661 MARTIN RANCH RD,SAN BERNARDINO,CA,92407,10/16/2021,...,Corporation,9551,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,NaN,395264.11,09/10/2021
4,9662437702,05/01/2020,101,PPP,AERO BOX LLC,20101 Cornillie Dr,Roseville,MI,nan,08/17/2021,...,NaN,57328,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,370819.35,04/08/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965533,4395967002,04/03/2020,897,PPP,"ROY E PAULSON, JR., P.C.",102 N. Kenwood,CASPER,WY,82601,01/13/2021,...,Corporation,42366,Platte Valley Bank,TORRINGTON,WY,Male Owned,Non-Veteran,NaN,151037.50,12/09/2020
965534,6985647108,04/14/2020,897,PPP,"SWEETWATER COUNTY CHILD DEVELOPMENTAL CENTER, ...",1715 HITCHING POST DR,GREEN RIVER,WY,82935,12/08/2020,...,Non-Profit Childcare Center,122813,NebraskaLand Bank,NORTH PLATTE,NE,Unanswered,Unanswered,Y,150789.04,11/03/2020
965535,7996438405,02/12/2021,897,PPS,ELECTRICAL SYSTEMS OF WYOMING INC,1105 Adon Rd,Rozet,WY,82727,09/15/2021,...,Subchapter S Corporation,77189,First National Bank of Gillette,GILLETTE,WY,Female Owned,Unanswered,NaN,150743.84,08/17/2021
965536,9054647103,04/15/2020,897,PPP,EDEN LIFE CARE,30 N. Gould Street Suite 4000,SHERIDAN,WY,82801,nan,...,Corporation,25901,Small Business Bank,LENEXA,KS,Unanswered,Unanswered,NaN,NaN,nan
965537,9184687004,04/09/2020,897,PPP,S & S JOHNSON ENTERPRISES INC,7342 Granite Loop Rd,TETON VILLAGE,WY,83025,10/22/2021,...,Subchapter S Corporation,77193,Bank of Jackson Hole,JACKSON,WY,Unanswered,Unanswered,NaN,152162.50,09/22/2021

Drop Columns in 2023 not included in 2021<br>
Original 2023 DataFrame -14 added columns

In [21]:
dropadded_23 = ppp_df_23[~(ppp_df_23['LoanNumber'].isin(df_1notin2['LoanNumber']))].reset_index(drop=True)
dropadded_23 # Drop Columns not in 21 965552 - 14 = 965538

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,9547507704,05/01/2020,464,PPP,"SUMTER COATINGS, INC.",2410 Highway 15 South,Sumter,NaN,29150,12/18/2020,...,Corporation,19248,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN,773553.37,11/20/2020
1,9777677704,05/01/2020,464,PPP,"PLEASANT PLACES, INC.",7684 Southrail Road,North Charleston,NaN,29420,09/28/2021,...,Sole Proprietorship,19248,Synovus Bank,COLUMBUS,GA,Male Owned,Non-Veteran,NaN,746336.24,08/12/2021
2,5791407702,05/01/2020,1013,PPP,BOYER CHILDREN'S CLINIC,1850 BOYER AVE E,SEATTLE,NaN,98112,03/17/2021,...,Non-Profit Organization,9551,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,Y,696677.49,02/10/2021
3,6223567700,05/01/2020,920,PPP,KIRTLEY CONSTRUCTION INC,1661 MARTIN RANCH RD,SAN BERNARDINO,NaN,92407,10/16/2021,...,Corporation,9551,"Bank of America, National Association",CHARLOTTE,NC,Male Owned,Non-Veteran,NaN,395264.11,09/10/2021
4,9662437702,05/01/2020,101,PPP,AERO BOX LLC,NaN,NaN,NaN,nan,08/17/2021,...,NaN,57328,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,370819.35,04/08/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965533,4395967002,04/03/2020,897,PPP,"ROY E PAULSON, JR., P.C.",102 N. Kenwood,CASPER,WY,82601,01/13/2021,...,Corporation,42366,Platte Valley Bank,TORRINGTON,WY,Male Owned,Non-Veteran,NaN,151037.50,12/09/2020
965534,6985647108,04/14/2020,897,PPP,"SWEETWATER COUNTY CHILD DEVELOPMENTAL CENTER, ...",1715 HITCHING POST DR,GREEN RIVER,WY,82935,12/08/2020,...,Non-Profit Childcare Center,122813,NebraskaLand Bank,NORTH PLATTE,NE,Unanswered,Unanswered,Y,150789.04,11/03/2020
965535,7996438405,02/12/2021,897,PPS,ELECTRICAL SYSTEMS OF WYOMING INC,1105 Adon Rd,Rozet,WY,82727,09/15/2021,...,Subchapter S Corporation,77189,First National Bank of Gillette,GILLETTE,WY,Female Owned,Unanswered,NaN,150743.84,08/17/2021
965536,9054647103,04/15/2020,897,PPP,EDEN LIFE CARE,30 N. Gould Street Suite 4000,SHERIDAN,WY,82801,03/08/2022,...,Corporation,25901,Small Business Bank,LENEXA,KS,Unanswered,Unanswered,NaN,152820.83,02/23/2022
965537,9184687004,04/09/2020,897,PPP,S & S JOHNSON ENTERPRISES INC,7342 Granite Loop Rd,TETON VILLAGE,WY,83025,10/22/2021,...,Subchapter S Corporation,77193,Bank of Jackson Hole Trust,Jackson,WY,Unanswered,Unanswered,NaN,152162.50,09/22/2021

SUM Null / Not Null 2021

In [22]:
isna21=dropadded_21[dropadded_21.columns[dropadded_21.isnull().any()]].isnull().sum()
isna21.to_csv("../data/process_data/update_comps/isna_raw21col.csv")
isna21
#notna21=dropadded_21[dropadded_21.columns[dropadded_21.notnull().any()]].notnull().sum()
#notna21.to_csv("../data/process_data/update_comps/notna_raw21col.csv")

BorrowerName                      4
BorrowerAddress                   6
BorrowerCity                      4
UndisbursedAmount               219
FranchiseName                930134
BusinessAgeDescription            1
ProjectCity                      13
ProjectCountyName                57
ProjectState                      9
CD                               46
JobsReported                      1
NAICSCode                      6630
UTILITIES_PROCEED            627086
PAYROLL_PROCEED                1819
MORTGAGE_INTEREST_PROCEED    919733
RENT_PROCEED                 866205
REFINANCE_EIDL_PROCEED       942345
HEALTH_CARE_PROCEED          907987
DEBT_INTEREST_PROCEED        933588
BusinessType                    728
NonProfit                    907136
ForgivenessAmount            207303
dtype: int64

SUM Null / Not Null 2023

In [23]:
isna23=dropadded_23[dropadded_23.columns[dropadded_23.isnull().any()]].isnull().sum()
isna23.to_csv("../data/process_data/update_comps/isna_raw23col.csv")
isna23
#notna23=dropadded_23[dropadded_23.columns[dropadded_23.notnull().any()]].notnull().sum()
#isna23.to_csv("../data/process_data/update_comps/notna_raw23col.csv")

BorrowerName                      4
BorrowerAddress                  14
BorrowerCity                     12
BorrowerState                    13
LoanStatusDate                16824
UndisbursedAmount                46
FranchiseName                930134
BusinessAgeDescription            1
ProjectCity                      13
ProjectCountyName                57
ProjectState                      9
CD                               46
JobsReported                      1
NAICSCode                      6628
UTILITIES_PROCEED            627194
PAYROLL_PROCEED                1827
MORTGAGE_INTEREST_PROCEED    920014
RENT_PROCEED                 866315
REFINANCE_EIDL_PROCEED       942690
HEALTH_CARE_PROCEED          908112
DEBT_INTEREST_PROCEED        933842
BusinessType                    720
NonProfit                    906188
ForgivenessAmount             26513
ForgivenessDate               26513
dtype: int64

LoanNumber & BorrowerName

In [24]:
df_1notin2_Nparam = dropadded_23[~(dropadded_23['LoanNumber'].isin(dropadded_21['LoanNumber']) & dropadded_23['BorrowerName'].isin(dropadded_21['BorrowerName']))].reset_index(drop=True) 
df_1notin2_Nparam

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,4103747310,04/29/2020,1084,PPP,"SAMSON TUG AND BARGE COMPANY, INC.",132 Lincoln St,SITKA,AK,99835,07/20/2021,...,Corporation,116975,Northrim Bank,ANCHORAGE,AK,Female Owned,Non-Veteran,NaN,2200482.41,06/10/2021
1,5771978403,02/09/2021,1084,PPS,"SPECIALIZED TRANSPORT & RIGGING, LLC",100 W 104th Ave,Anchorage,AK,99515,01/13/2022,...,Limited Liability Company(LLC),24195,1st Source Bank,SOUTH BEND,IN,Unanswered,Unanswered,NaN,911381.45,12/14/2021
2,1967178305,01/20/2021,1084,PPS,"BTY DENTAL GROUP, LLC.",8811 Toloff St,Anchorage,AK,99507,07/02/2022,...,Corporation,3386,First National Bank Alaska,ANCHORAGE,AK,Male Owned,Non-Veteran,NaN,830059.66,06/23/2022
3,1136307201,04/15/2020,1084,PPP,"SPECIALIZED TRANSPORT & RIGGING, LLC",540 E Steel Loop,PALMER,AK,99645,03/19/2021,...,Limited Liability Company(LLC),24195,1st Source Bank,SOUTH BEND,IN,Unanswered,Unanswered,NaN,815025.11,02/25/2021
4,2178907207,04/15/2020,1084,PPP,"BTY DENTAL GROUP, LLC.",726 9TH AVE,ANCHORAGE,AK,99501,09/24/2021,...,Corporation,116975,Northrim Bank,ANCHORAGE,AK,Male Owned,Non-Veteran,NaN,810999.96,08/31/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13427,1573708306,01/19/2021,897,PPS,"H4U, INC",628 E Richards St,Douglas,WY,82633,01/22/2022,...,Corporation,77183,The Converse County Bank,DOUGLAS,WY,Male Owned,Veteran,NaN,180675.78,12/22/2021
13428,7067967007,04/07/2020,897,PPP,SQUAW CREEK SERVICES LLC,4651 KATRINA AVE,GILLETTE,WY,82718,03/10/2021,...,Limited Liability Company(LLC),77111,First Northern Bank of Wyoming,BUFFALO,WY,Male Owned,Non-Veteran,NaN,143003.03,02/09/2021
13429,7291357006,04/07/2020,897,PPP,"GG AT CR, LLC",1616 PERSHING BLVD,CHEYENNE,WY,82001,01/08/2021,...,Limited Liability Company(LLC),87893,Glacier Bank,KALISPELL,MT,Unanswered,Unanswered,NaN,162899.87,11/12/2020
13430,8599647000,04/08/2020,897,PPP,"WYOMING PHYSICAL THERAPY, P.C.",1217 S Greeley Hwy Ste A,Cheyenne,WY,82007,03/12/2021,...,Limited Liability Company(LLC),42458,First National Bank of Omaha,OMAHA,NE,Male Owned,Non-Veteran,NaN,155081.67,12/15/2020
13431,4495247006,04/03/2020,897,PPP,"WYOMING RESORTS, LLC",612 N Main Street,SHERIDAN,WY,82801,02/18/2021,...,Limited Liability Company(LLC),77248,Pinnacle Bank-Wyoming,Cody,WY,Male Owned,Non-Veteran,NaN,162454.27,01/25/2021

LoanNumber & BorrowerState

In [25]:
df_1notin2_Sparam = dropadded_23[~(dropadded_23['LoanNumber'].isin(dropadded_21['LoanNumber']) & dropadded_23['BorrowerState'].isin(dropadded_21['BorrowerState']))].reset_index(drop=True) 
df_1notin2_Sparam

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,9547507704,05/01/2020,464,PPP,"SUMTER COATINGS, INC.",2410 Highway 15 South,Sumter,NaN,29150,12/18/2020,...,Corporation,19248,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN,773553.37,11/20/2020
1,9777677704,05/01/2020,464,PPP,"PLEASANT PLACES, INC.",7684 Southrail Road,North Charleston,NaN,29420,09/28/2021,...,Sole Proprietorship,19248,Synovus Bank,COLUMBUS,GA,Male Owned,Non-Veteran,NaN,746336.24,08/12/2021
2,5791407702,05/01/2020,1013,PPP,BOYER CHILDREN'S CLINIC,1850 BOYER AVE E,SEATTLE,NaN,98112,03/17/2021,...,Non-Profit Organization,9551,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,Y,696677.49,02/10/2021
3,6223567700,05/01/2020,920,PPP,KIRTLEY CONSTRUCTION INC,1661 MARTIN RANCH RD,SAN BERNARDINO,NaN,92407,10/16/2021,...,Corporation,9551,"Bank of America, National Association",CHARLOTTE,NC,Male Owned,Non-Veteran,NaN,395264.11,09/10/2021
4,9662437702,05/01/2020,101,PPP,AERO BOX LLC,NaN,NaN,NaN,nan,08/17/2021,...,NaN,57328,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,370819.35,04/08/2021
5,9774337701,05/01/2020,101,PPP,HUDSON EXTRUSIONS INC.,NaN,NaN,NaN,nan,11/17/2021,...,NaN,57328,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,332137.41,05/10/2021
6,9794577700,05/01/2020,491,PPP,FRUIT COVE BAPTIST CHURCH OF JACKSONVILLE FL INC,501 State Road 13,Saint Johns,NaN,32259,02/19/2021,...,Non-Profit Organization,19248,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,Y,291741.75,01/07/2021
7,9722187702,05/01/2020,101,PPP,MIAMITOWN AUTO PARTS AND RECYCLING INC,NaN,NaN,NaN,nan,02/24/2021,...,Corporation,57328,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,269416.44,01/25/2021
8,9725917702,05/01/2020,101,PPP,POPPYCOCKS INC,NaN,NaN,NaN,nan,08/17/2021,...,Subchapter S Corporation,57328,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,259982.88,06/24/2021
9,9666867710,05/01/2020,101,PPP,CHURCH SQUARE PHARMACY INC,NaN,NaN,NaN,nan,04/21/2021,...,Corporation,57328,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,252253.42,03/31/2021
10,9662697710,05/01/2020,101,PPP,"MILFAST INDUSTRIAL SUPPLY, INC",NaN,NaN,NaN,nan,11/17/2021,...,NaN,57328,The Huntington National Bank,COLUMBUS,OH,Female Owned,Non-Veteran,NaN,175643.41,04/06/2021
11,9724667708,05/01/2020,101,PPP,FERNANDINA BEACH HOTEL GROUP LLC,NaN,NaN,NaN,nan,08/17/2021,...,Limited Liability Company(LLC),57328,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,172263.32,07/29/2021
12,9672967701,05/01/2020,101,PPP,OTTAWA PRODUCTS CO INC,NaN,NaN,NaN,nan,11/17/2021,...,Corporation,57328,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,156504.89,04/23/2021

Compare Test

Reindex Columns

In [26]:
dropadded_21.set_index('LoanNumber', inplace=True)
dropadded_23.set_index('LoanNumber', inplace=True)

In [27]:
dropadded_23 = dropadded_23.reindex(dropadded_21.index)

In [28]:
dropadded_21.reset_index(inplace=True)
dropadded_23.reset_index(inplace=True)

In [29]:
dropadded_21.head()

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,9547507704,05/01/2020,464,PPP,"SUMTER COATINGS, INC.",2410 Highway 15 South,Sumter,SC,29150,12/18/2020,...,Corporation,19248,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN,773553.37,11/20/2020
1,9777677704,05/01/2020,464,PPP,"PLEASANT PLACES, INC.",7684 Southrail Road,North Charleston,SC,29420,09/28/2021,...,Sole Proprietorship,19248,Synovus Bank,COLUMBUS,GA,Male Owned,Non-Veteran,NaN,746336.24,08/12/2021
2,5791407702,05/01/2020,1013,PPP,BOYER CHILDREN'S CLINIC,1850 BOYER AVE E,SEATTLE,WA,98112,03/17/2021,...,Non-Profit Organization,9551,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,Y,696677.49,02/10/2021
3,6223567700,05/01/2020,920,PPP,KIRTLEY CONSTRUCTION INC,1661 MARTIN RANCH RD,SAN BERNARDINO,CA,92407,10/16/2021,...,Corporation,9551,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,NaN,395264.11,09/10/2021
4,9662437702,05/01/2020,101,PPP,AERO BOX LLC,20101 Cornillie Dr,Roseville,MI,nan,08/17/2021,...,NaN,57328,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,370819.35,04/08/2021

In [30]:
dropadded_23.head()

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,9547507704,05/01/2020,464,PPP,"SUMTER COATINGS, INC.",2410 Highway 15 South,Sumter,NaN,29150,12/18/2020,...,Corporation,19248,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN,773553.37,11/20/2020
1,9777677704,05/01/2020,464,PPP,"PLEASANT PLACES, INC.",7684 Southrail Road,North Charleston,NaN,29420,09/28/2021,...,Sole Proprietorship,19248,Synovus Bank,COLUMBUS,GA,Male Owned,Non-Veteran,NaN,746336.24,08/12/2021
2,5791407702,05/01/2020,1013,PPP,BOYER CHILDREN'S CLINIC,1850 BOYER AVE E,SEATTLE,NaN,98112,03/17/2021,...,Non-Profit Organization,9551,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,Y,696677.49,02/10/2021
3,6223567700,05/01/2020,920,PPP,KIRTLEY CONSTRUCTION INC,1661 MARTIN RANCH RD,SAN BERNARDINO,NaN,92407,10/16/2021,...,Corporation,9551,"Bank of America, National Association",CHARLOTTE,NC,Male Owned,Non-Veteran,NaN,395264.11,09/10/2021
4,9662437702,05/01/2020,101,PPP,AERO BOX LLC,NaN,NaN,NaN,nan,08/17/2021,...,NaN,57328,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,370819.35,04/08/2021

In [31]:
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.compare.html
comp =dropadded_21.compare(dropadded_23,result_names=("2021", "2023"))
comp.to_csv("../data/process_data/update_comps/fullcomp.csv")
comp

       ProcessingMethod      BorrowerName          BorrowerAddress       \
                   2021 2023         2021 2023                2021 2023
0                   NaN  NaN          NaN  NaN                 NaN  NaN
1                   NaN  NaN          NaN  NaN                 NaN  NaN
2                   NaN  NaN          NaN  NaN                 NaN  NaN
3                   NaN  NaN          NaN  NaN                 NaN  NaN
4                   NaN  NaN          NaN  NaN  20101 Cornillie Dr  NaN
...                 ...  ...          ...  ...                 ...  ...
965525              NaN  NaN          NaN  NaN                 NaN  NaN
965529              NaN  NaN          NaN  NaN                 NaN  NaN
965532              NaN  NaN          NaN  NaN                 NaN  NaN
965536              NaN  NaN          NaN  NaN                 NaN  NaN
965537              NaN  NaN          NaN  NaN                 NaN  NaN

       BorrowerCity      BorrowerState       ...      Gender              \
               2021 2023          2021 2023  ...        2021        2023
0               NaN  NaN            SC  NaN  ...         NaN         NaN
1               NaN  NaN            SC  NaN  ...         NaN         NaN
2               NaN  NaN            WA  NaN  ...         NaN         NaN
3               NaN  NaN            CA  NaN  ...  Unanswered  Male Owned
4         Roseville  NaN            MI  NaN  ...         NaN         NaN
...             ...  ...           ...  ...  ...         ...         ...
965525          NaN  NaN           NaN  NaN  ...         NaN         NaN
965529          NaN  NaN           NaN  NaN  ...         NaN         NaN
965532          NaN  NaN           NaN  NaN  ...         NaN         NaN
965536          NaN  NaN           NaN  NaN  ...         NaN         NaN
965537          NaN  NaN           NaN  NaN  ...         NaN         NaN

           Veteran              NonProfit      ForgivenessAmount             \
              2021         2023      2021 2023              2021       2023
0              NaN          NaN       NaN  NaN               NaN        NaN
1              NaN          NaN       NaN  NaN               NaN        NaN
2              NaN          NaN       NaN  NaN               NaN        NaN
3       Unanswered  Non-Veteran       NaN  NaN               NaN        NaN
4              NaN          NaN       NaN  NaN               NaN        NaN
...            ...          ...       ...  ...               ...        ...
965525         NaN          NaN       NaN  NaN               NaN  151774.06
965529         NaN          NaN       NaN  NaN               NaN  151047.95
965532         NaN          NaN       NaN  NaN               NaN        NaN
965536         NaN          NaN       NaN  NaN               NaN  152820.83
965537         NaN          NaN       NaN  NaN               NaN        NaN

       ForgivenessDate
                  2021        2023
0                  NaN         NaN
1                  NaN         NaN
2                  NaN         NaN
3                  NaN         NaN
4                  NaN         NaN
...                ...         ...
965525             nan  12/22/2021
965529             nan  12/10/2021
965532             NaN         NaN
965536             nan  02/23/2022
965537             NaN         NaN

[635302 rows x 94 columns]

In [32]:
df_BA = comp[comp['BorrowerAddress'].notna().any(axis=1)]
df_BA

       ProcessingMethod      BorrowerName                    BorrowerAddress  \
                   2021 2023         2021 2023                          2021
4                   NaN  NaN          NaN  NaN            20101 Cornillie Dr
5                   NaN  NaN          NaN  NaN                1255 Norton Rd
7                   NaN  NaN          NaN  NaN            8379 Harrison Pike
8                   NaN  NaN          NaN  NaN                128 E Front St
9                   NaN  NaN          NaN  NaN               7905 Euclid Ave
...                 ...  ...          ...  ...                           ...
939842              NaN  NaN          NaN  NaN  2839 W Kennewick Ave,PMB 337
942020              NaN  NaN          NaN  NaN          11010 NE 8th St #465
943049              NaN  NaN          NaN  NaN  N4690 BANGOR INDUSTRIAL PKWY
950817              NaN  NaN          NaN  NaN        6300 N 76th St Ste 200
964525              NaN  NaN          NaN  NaN      1712 Pioneer Ave Ste 500

                                                  BorrowerCity             \
                                           2023           2021       2023
4                                           NaN      Roseville        NaN
5                                           NaN         Hudson        NaN
7                                           NaN         Cleves        NaN
8                                           NaN  Traverse City        NaN
9                                           NaN      Cleveland        NaN
...                                         ...            ...        ...
939842                     1887 WHITNEY MESA DR          Pasco  HENDERSON
942020                  11010 NE 8TH ST STE 465            NaN        NaN
943049  PO Box 205 N4690 BANGOR INDUSTRIAL PKWY            NaN        NaN
950817                               PO BOX 217      Milwaukee     MEQUON
964525                      14526 MIST CREEK LN       Cheyenne     HUMBLE

       BorrowerState       ... Gender      Veteran      NonProfit       \
                2021 2023  ...   2021 2023    2021 2023      2021 2023
4                 MI  NaN  ...    NaN  NaN     NaN  NaN       NaN  NaN
5                 OH  NaN  ...    NaN  NaN     NaN  NaN       NaN  NaN
7                 OH  NaN  ...    NaN  NaN     NaN  NaN       NaN  NaN
8                 MI  NaN  ...    NaN  NaN     NaN  NaN       NaN  NaN
9                 OH  NaN  ...    NaN  NaN     NaN  NaN       NaN  NaN
...              ...  ...  ...    ...  ...     ...  ...       ...  ...
939842            WA   NV  ...    NaN  NaN     NaN  NaN       NaN  NaN
942020           NaN  NaN  ...    NaN  NaN     NaN  NaN       NaN  NaN
943049           NaN  NaN  ...    NaN  NaN     NaN  NaN       NaN  NaN
950817           NaN  NaN  ...    NaN  NaN     NaN  NaN       NaN  NaN
964525            WY   TX  ...    NaN  NaN     NaN  NaN       NaN  NaN

       ForgivenessAmount      ForgivenessDate
                    2021 2023            2021 2023
4                    NaN  NaN             NaN  NaN
5                    NaN  NaN             NaN  NaN
7                    NaN  NaN             NaN  NaN
8                    NaN  NaN             NaN  NaN
9                    NaN  NaN             NaN  NaN
...                  ...  ...             ...  ...
939842               NaN  NaN             nan  NaN
942020               NaN  NaN             nan  NaN
943049               NaN  NaN             NaN  NaN
950817               NaN  NaN             nan  NaN
964525               NaN  NaN             nan  NaN

[353 rows x 94 columns]

In [33]:
df_BN = comp['BorrowerAddress'].dropna(how='all')
df_BN

                                2021                                     2023
4                 20101 Cornillie Dr                                      NaN
5                     1255 Norton Rd                                      NaN
7                 8379 Harrison Pike                                      NaN
8                     128 E Front St                                      NaN
9                    7905 Euclid Ave                                      NaN
...                              ...                                      ...
939842  2839 W Kennewick Ave,PMB 337                     1887 WHITNEY MESA DR
942020          11010 NE 8th St #465                  11010 NE 8TH ST STE 465
943049  N4690 BANGOR INDUSTRIAL PKWY  PO Box 205 N4690 BANGOR INDUSTRIAL PKWY
950817        6300 N 76th St Ste 200                               PO BOX 217
964525      1712 Pioneer Ave Ste 500                      14526 MIST CREEK LN

[353 rows x 2 columns]

In [34]:
df_BS = comp['BorrowerState'].dropna(how='all')
df_BS

       2021 2023
0        SC  NaN
1        SC  NaN
2        WA  NaN
3        CA  NaN
4        MI  NaN
...     ...  ...
897794   VT   VA
904792   OK   VA
914193   VA   FL
939842   WA   NV
964525   WY   TX

[69 rows x 2 columns]

In [35]:
pd.set_option('display.max_rows', None)
comp_na = comp[comp.columns[comp.isnull().any()]].isnull().sum()
#comp_na.to_csv("../data/process_data/update_comps/fullcomp_na.csv")
comp_na

ProcessingMethod             2021    635265
                             2023    635265
BorrowerName                 2021    619780
                             2023    619780
BorrowerAddress              2021    634949
                             2023    634957
BorrowerCity                 2021    634981
                             2023    634989
BorrowerState                2021    635233
                             2023    635246
BorrowerZip                  2021    543964
                             2023    543964
LoanStatusDate               2021    353459
                             2023    370283
LoanStatus                   2021    370685
                             2023    370685
Term                         2021    610034
                             2023    610034
CurrentApprovalAmount        2021    635297
                             2023    635297
UndisbursedAmount            2021    635262
                             2023    635089
FranchiseName                2021    635173
                             2023    635173
ServicingLenderLocationID    2021    586972
                             2023    586972
ServicingLenderName          2021    537688
                             2023    537688
ServicingLenderAddress       2021    541642
                             2023    541642
ServicingLenderCity          2021    551490
                             2023    551490
ServicingLenderState         2021    595682
                             2023    595682
ServicingLenderZip           2021    555461
                             2023    555461
RuralUrbanIndicator          2021    635300
                             2023    635300
HubzoneIndicator             2021    635273
                             2023    635273
BusinessAgeDescription       2021    635301
                             2023    635301
ProjectCity                  2021    635250
                             2023    635250
ProjectCountyName            2021    635294
                             2023    635294
ProjectState                 2021    635299
                             2023    635299
ProjectZip                   2021    632955
                             2023    632955
CD                           2021    311690
                             2023    311690
JobsReported                 2021    635238
                             2023    635238
NAICSCode                    2021    635234
                             2023    635232
Race                         2021    629137
                             2023    629137
Ethnicity                    2021    630954
                             2023    630954
UTILITIES_PROCEED            2021    635194
                             2023    635302
PAYROLL_PROCEED              2021    635288
                             2023    635296
MORTGAGE_INTEREST_PROCEED    2021    635021
                             2023    635302
RENT_PROCEED                 2021    635192
                             2023    635302
REFINANCE_EIDL_PROCEED       2021    634957
                             2023    635302
HEALTH_CARE_PROCEED          2021    635177
                             2023    635302
DEBT_INTEREST_PROCEED        2021    635048
                             2023    635302
BusinessType                 2021    629721
                             2023    629713
OriginatingLenderLocationID  2021    583027
                             2023    583027
OriginatingLender            2021    533294
                             2023    533294
OriginatingLenderCity        2021    551630
                             2023    551630
OriginatingLenderState       2021    590285
                             2023    590285
Gender                       2021    630436
                             2023    630436
Veteran                      2021    631162
                             2023    631162
NonProfit                    2021    635287
                             2023    634339
ForgivenessAmount            2021    635296
                             2023    454506
ForgivenessDate              2021    425792
                             2023    452305
dtype: int64

In [41]:
pd.set_option('display.max_rows', None)
comp_notna = comp[comp.columns[comp.notnull().any()]].notnull().sum()
comp_notna.to_csv("../data/process_data/update_comps/fullcomp_notna.csv")
comp_notna

ProcessingMethod             2021        37
                             2023        37
BorrowerName                 2021     15522
                             2023     15522
BorrowerAddress              2021       353
                             2023       345
BorrowerCity                 2021       321
                             2023       313
BorrowerState                2021        69
                             2023        56
BorrowerZip                  2021     91338
                             2023     91338
LoanStatusDate               2021    281843
                             2023    265019
LoanStatus                   2021    264617
                             2023    264617
Term                         2021     25268
                             2023     25268
CurrentApprovalAmount        2021         5
                             2023         5
UndisbursedAmount            2021        40
                             2023       213
FranchiseName                2021       129
                             2023       129
ServicingLenderLocationID    2021     48330
                             2023     48330
ServicingLenderName          2021     97614
                             2023     97614
ServicingLenderAddress       2021     93660
                             2023     93660
ServicingLenderCity          2021     83812
                             2023     83812
ServicingLenderState         2021     39620
                             2023     39620
ServicingLenderZip           2021     79841
                             2023     79841
RuralUrbanIndicator          2021         2
                             2023         2
HubzoneIndicator             2021        29
                             2023        29
BusinessAgeDescription       2021         1
                             2023         1
ProjectCity                  2021        52
                             2023        52
ProjectCountyName            2021         8
                             2023         8
ProjectState                 2021         3
                             2023         3
ProjectZip                   2021      2347
                             2023      2347
CD                           2021    323612
                             2023    323612
JobsReported                 2021        64
                             2023        64
NAICSCode                    2021        68
                             2023        70
Race                         2021      6165
                             2023      6165
Ethnicity                    2021      4348
                             2023      4348
UTILITIES_PROCEED            2021       108
PAYROLL_PROCEED              2021        14
                             2023         6
MORTGAGE_INTEREST_PROCEED    2021       281
RENT_PROCEED                 2021       110
REFINANCE_EIDL_PROCEED       2021       345
HEALTH_CARE_PROCEED          2021       125
DEBT_INTEREST_PROCEED        2021       254
BusinessType                 2021      5581
                             2023      5589
OriginatingLenderLocationID  2021     52275
                             2023     52275
OriginatingLender            2021    102008
                             2023    102008
OriginatingLenderCity        2021     83672
                             2023     83672
OriginatingLenderState       2021     45017
                             2023     45017
Gender                       2021      4866
                             2023      4866
Veteran                      2021      4140
                             2023      4140
NonProfit                    2021        15
                             2023       963
ForgivenessAmount            2021         6
                             2023    180796
ForgivenessDate              2021    209510
                             2023    182997
dtype: int64

In [37]:
pd.reset_option('display.max_rows', silent=True)

Merged 2021, 2023 (- columns added)

In [38]:
p = dropadded_23.merge(dropadded_21, on='LoanNumber', how='left')
#p.to_csv("../data/process_data/update_comps/mergedxycomp.csv") 
p

,LoanNumber,DateApproved_x,SBAOfficeCode_x,ProcessingMethod_x,BorrowerName_x,BorrowerAddress_x,BorrowerCity_x,BorrowerState_x,BorrowerZip_x,LoanStatusDate_x,...,BusinessType_y,OriginatingLenderLocationID_y,OriginatingLender_y,OriginatingLenderCity_y,OriginatingLenderState_y,Gender_y,Veteran_y,NonProfit_y,ForgivenessAmount_y,ForgivenessDate_y
0,9547507704,05/01/2020,464,PPP,"SUMTER COATINGS, INC.",2410 Highway 15 South,Sumter,NaN,29150,12/18/2020,...,Corporation,19248,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN,773553.37,11/20/2020
1,9777677704,05/01/2020,464,PPP,"PLEASANT PLACES, INC.",7684 Southrail Road,North Charleston,NaN,29420,09/28/2021,...,Sole Proprietorship,19248,Synovus Bank,COLUMBUS,GA,Male Owned,Non-Veteran,NaN,746336.24,08/12/2021
2,5791407702,05/01/2020,1013,PPP,BOYER CHILDREN'S CLINIC,1850 BOYER AVE E,SEATTLE,NaN,98112,03/17/2021,...,Non-Profit Organization,9551,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,Y,696677.49,02/10/2021
3,6223567700,05/01/2020,920,PPP,KIRTLEY CONSTRUCTION INC,1661 MARTIN RANCH RD,SAN BERNARDINO,NaN,92407,10/16/2021,...,Corporation,9551,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,NaN,395264.11,09/10/2021
4,9662437702,05/01/2020,101,PPP,AERO BOX LLC,NaN,NaN,NaN,nan,08/17/2021,...,NaN,57328,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,370819.35,04/08/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965533,4395967002,04/03/2020,897,PPP,"ROY E PAULSON, JR., P.C.",102 N. Kenwood,CASPER,WY,82601,01/13/2021,...,Corporation,42366,Platte Valley Bank,TORRINGTON,WY,Male Owned,Non-Veteran,NaN,151037.50,12/09/2020
965534,6985647108,04/14/2020,897,PPP,"SWEETWATER COUNTY CHILD DEVELOPMENTAL CENTER, ...",1715 HITCHING POST DR,GREEN RIVER,WY,82935,12/08/2020,...,Non-Profit Childcare Center,122813,NebraskaLand Bank,NORTH PLATTE,NE,Unanswered,Unanswered,Y,150789.04,11/03/2020
965535,7996438405,02/12/2021,897,PPS,ELECTRICAL SYSTEMS OF WYOMING INC,1105 Adon Rd,Rozet,WY,82727,09/15/2021,...,Subchapter S Corporation,77189,First National Bank of Gillette,GILLETTE,WY,Female Owned,Unanswered,NaN,150743.84,08/17/2021
965536,9054647103,04/15/2020,897,PPP,EDEN LIFE CARE,30 N. Gould Street Suite 4000,SHERIDAN,WY,82801,03/08/2022,...,Corporation,25901,Small Business Bank,LENEXA,KS,Unanswered,Unanswered,NaN,NaN,nan
965537,9184687004,04/09/2020,897,PPP,S & S JOHNSON ENTERPRISES INC,7342 Granite Loop Rd,TETON VILLAGE,WY,83025,10/22/2021,...,Subchapter S Corporation,77193,Bank of Jackson Hole,JACKSON,WY,Unanswered,Unanswered,NaN,152162.50,09/22/2021

Null Counts of Merged 2021, 2023 (-columns added)

In [39]:
pd.set_option('display.max_rows', None)
p_na = p[p.columns[p.isnull().any()]].isnull().sum()
p_na

BorrowerName_x                      4
BorrowerAddress_x                  14
BorrowerCity_x                     12
BorrowerState_x                    13
LoanStatusDate_x                16824
UndisbursedAmount_x                46
FranchiseName_x                930134
BusinessAgeDescription_x            1
ProjectCity_x                      13
ProjectCountyName_x                57
ProjectState_x                      9
CD_x                               46
JobsReported_x                      1
NAICSCode_x                      6628
UTILITIES_PROCEED_x            627194
PAYROLL_PROCEED_x                1827
MORTGAGE_INTEREST_PROCEED_x    920014
RENT_PROCEED_x                 866315
REFINANCE_EIDL_PROCEED_x       942690
HEALTH_CARE_PROCEED_x          908112
DEBT_INTEREST_PROCEED_x        933842
BusinessType_x                    720
NonProfit_x                    906188
ForgivenessAmount_x             26513
ForgivenessDate_x               26513
BorrowerName_y                      4
BorrowerAddress_y                   6
BorrowerCity_y                      4
UndisbursedAmount_y               219
FranchiseName_y                930134
BusinessAgeDescription_y            1
ProjectCity_y                      13
ProjectCountyName_y                57
ProjectState_y                      9
CD_y                               46
JobsReported_y                      1
NAICSCode_y                      6630
UTILITIES_PROCEED_y            627086
PAYROLL_PROCEED_y                1819
MORTGAGE_INTEREST_PROCEED_y    919733
RENT_PROCEED_y                 866205
REFINANCE_EIDL_PROCEED_y       942345
HEALTH_CARE_PROCEED_y          907987
DEBT_INTEREST_PROCEED_y        933588
BusinessType_y                    728
NonProfit_y                    907136
ForgivenessAmount_y            207303
dtype: int64

In [40]:
pd.reset_option('display.max_rows', silent=True)