In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
csvpath_21=("../data/raw/>150K/public_150k_plus_211121_add.csv")
csvpath_23=("../data/raw/>150K/public_150k_plus_230630.csv")

In [3]:
ppp_df_21= pd.read_csv(csvpath_21, index_col=0) #drops Unnamed; alt: df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
ppp_df_23= pd.read_csv(csvpath_23)

In [4]:
ppp_df_21.shape[0]
ppp_df_23.shape[0]

965552

Compare LoanNumber Columns

21 968557 <br>
23 965552 <br>
3005

In [5]:
ppp_df_21['LoanNumber'].isin(ppp_df_23['LoanNumber']).value_counts()
#3019 PPP Loans from 2021 not included in 2023 Updated PPP Loan Data

True     965538
False      3019
Name: LoanNumber, dtype: int64

In [6]:
ppp_df_23['LoanNumber'].isin(ppp_df_21['LoanNumber']).value_counts()

True     965538
False        14
Name: LoanNumber, dtype: int64

In [24]:
#find elements in df1 that are not in df2
#df_1notin2 = ppp_df_23[~(ppp_df_23['LoanNumber'].isin(ppp_df_21['LoanNumber']) & ppp_df_23['BorrowerName'].isin(ppp_df_21['BorrowerName']))].reset_index(drop=True) 
df_1notin2 = ppp_df_23[~(ppp_df_23['LoanNumber'].isin(ppp_df_21['LoanNumber']))].reset_index(drop=True)
df_1notin2

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,4103747310,04/29/2020,1084,PPP,"SAMSON TUG AND BARGE COMPANY, INC.",132 Lincoln St,SITKA,AK,99835-7540,07/20/2021,...,Corporation,116975,Northrim Bank,ANCHORAGE,AK,Female Owned,Non-Veteran,NaN,2200482.41,06/10/2021
1,5771978403,02/09/2021,1084,PPS,"SPECIALIZED TRANSPORT & RIGGING, LLC",100 W 104th Ave,Anchorage,AK,99515-2679,01/13/2022,...,Limited Liability Company(LLC),24195,1st Source Bank,SOUTH BEND,IN,Unanswered,Unanswered,NaN,911381.45,12/14/2021
2,1967178305,01/20/2021,1084,PPS,"BTY DENTAL GROUP, LLC.",8811 Toloff St,Anchorage,AK,99507-3848,07/02/2022,...,Corporation,3386,First National Bank Alaska,ANCHORAGE,AK,Male Owned,Non-Veteran,NaN,830059.66,06/23/2022
3,1136307201,04/15/2020,1084,PPP,"SPECIALIZED TRANSPORT & RIGGING, LLC",540 E Steel Loop,PALMER,AK,99645,03/19/2021,...,Limited Liability Company(LLC),24195,1st Source Bank,SOUTH BEND,IN,Unanswered,Unanswered,NaN,815025.11,02/25/2021
4,2178907207,04/15/2020,1084,PPP,"BTY DENTAL GROUP, LLC.",726 9TH AVE,ANCHORAGE,AK,99501-3738,09/24/2021,...,Corporation,116975,Northrim Bank,ANCHORAGE,AK,Male Owned,Non-Veteran,NaN,810999.96,08/31/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13440,1573708306,01/19/2021,897,PPS,"H4U, INC",628 E Richards St,Douglas,WY,82633-2844,01/22/2022,...,Corporation,77183,The Converse County Bank,DOUGLAS,WY,Male Owned,Veteran,NaN,180675.78,12/22/2021
13441,7067967007,04/07/2020,897,PPP,SQUAW CREEK SERVICES LLC,4651 KATRINA AVE,GILLETTE,WY,82718-7671,03/10/2021,...,Limited Liability Company(LLC),77111,First Northern Bank of Wyoming,BUFFALO,WY,Male Owned,Non-Veteran,NaN,143003.03,02/09/2021
13442,7291357006,04/07/2020,897,PPP,"GG AT CR, LLC",1616 PERSHING BLVD,CHEYENNE,WY,82001,01/08/2021,...,Limited Liability Company(LLC),87893,Glacier Bank,KALISPELL,MT,Unanswered,Unanswered,NaN,162899.87,11/12/2020
13443,8599647000,04/08/2020,897,PPP,"WYOMING PHYSICAL THERAPY, P.C.",1217 S Greeley Hwy Ste A,Cheyenne,WY,82007-3034,03/12/2021,...,Limited Liability Company(LLC),42458,First National Bank of Omaha,OMAHA,NE,Male Owned,Non-Veteran,NaN,155081.67,12/15/2020
13444,4495247006,04/03/2020,897,PPP,"WYOMING RESORTS, LLC",612 N Main Street,SHERIDAN,WY,82801-3633,02/18/2021,...,Limited Liability Company(LLC),77248,Pinnacle Bank-Wyoming,Cody,WY,Male Owned,Non-Veteran,NaN,162454.27,01/25/2021

Compare All Column Differences

In [11]:
set(ppp_df_21.columns).symmetric_difference(ppp_df_23.columns)

set()

In [ ]:
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.compare.html
comp =ppp_df_21.compare(ppp_df_23)
#different column dtypes

In [21]:
#The indicator=True setting is useful as it adds a column called _merge, with all changes between df1 and df2, categorized into 3 possible kinds: "left_only", "right_only" or "both".
m = ppp_df_23.merge(ppp_df_21, on='LoanNumber', how='outer', suffixes=['', '_'], indicator=True)
m2= m.loc[m['_merge'] != 'both']
m2 #total LoanNumbers not shared between dataframes

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,OriginatingLenderLocationID_,OriginatingLender_,OriginatingLenderCity_,OriginatingLenderState_,Gender_,Veteran_,NonProfit_,ForgivenessAmount_,ForgivenessDate_,_merge
61783,2259667209,04/15/2020,954.0,PPP,"WESTCOTT ENTERPRISES, INC.",2800 National City Blvd,NATIONAL CITY,CA,91950-7226,06/16/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
117519,4946287704,05/03/2020,912.0,PPP,"OUTBOARD JET TRUROL BEARINGS, INC.",2035 EDISON AVE.,SAN LEANDRO,CA,94552,04/12/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
145355,8600637300,05/01/2020,914.0,PPP,ELITE PLACEMENT GROUP,9150 Wilshire blvd 270,Beverly hills,CA,90212,01/20/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
249684,1340588502,02/18/2021,455.0,PPS,TLC MEDICAL GROUP INC,Northwest Lake Whitney Place N/A,Port St. Lucie,FL,34986,08/17/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
534459,3349098503,02/23/2021,671.0,PPS,ROBERT DAUGHERTY,5960 Fairview Rd Ste 500,CHARLOTTE,NC,28210-2716,09/17/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968566,7276078700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14569.0,Silicon Valley Bank,SANTA CLARA,CA,Male Owned,Unanswered,NaN,NaN,NaN,right_only
968567,7110957109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,499141.0,"Readycap Lending, LLC",BERKELEY HEIGHTS,NJ,Male Owned,Non-Veteran,NaN,NaN,NaN,right_only
968568,6067308402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14569.0,Silicon Valley Bank,SANTA CLARA,CA,Unanswered,Unanswered,NaN,277171.85,6/15/21,right_only
968569,4934147101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14569.0,Silicon Valley Bank,SANTA CLARA,CA,Unanswered,Unanswered,NaN,236189.71,2/11/21,right_only
968570,1443407207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14569.0,Silicon Valley Bank,SANTA CLARA,CA,Unanswered,Unanswered,NaN,174861.56,8/9/21,right_only

In [17]:
m.loc[m["_merge"] =='right_only'] #not included in updated 2023

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,OriginatingLenderLocationID_,OriginatingLender_,OriginatingLenderCity_,OriginatingLenderState_,Gender_,Veteran_,NonProfit_,ForgivenessAmount_,ForgivenessDate_,_merge
965552,1566008800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,530223.0,American Lending Center,Long Beach,CA,Male Owned,Unanswered,NaN,NaN,NaN,right_only
965553,3477777101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14569.0,Silicon Valley Bank,SANTA CLARA,CA,Unanswered,Unanswered,NaN,4530472.06,6/14/21,right_only
965554,1533147205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14569.0,Silicon Valley Bank,SANTA CLARA,CA,Unanswered,Unanswered,NaN,3742141.13,6/23/21,right_only
965555,1198017203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14569.0,Silicon Valley Bank,SANTA CLARA,CA,Unanswered,Unanswered,NaN,2421042.45,6/11/21,right_only
965556,3467347402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12096.0,"Wells Fargo Bank, National Association",SIOUX FALLS,SD,Unanswered,Unanswered,NaN,NaN,NaN,right_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968566,7276078700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14569.0,Silicon Valley Bank,SANTA CLARA,CA,Male Owned,Unanswered,NaN,NaN,NaN,right_only
968567,7110957109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,499141.0,"Readycap Lending, LLC",BERKELEY HEIGHTS,NJ,Male Owned,Non-Veteran,NaN,NaN,NaN,right_only
968568,6067308402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14569.0,Silicon Valley Bank,SANTA CLARA,CA,Unanswered,Unanswered,NaN,277171.85,6/15/21,right_only
968569,4934147101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14569.0,Silicon Valley Bank,SANTA CLARA,CA,Unanswered,Unanswered,NaN,236189.71,2/11/21,right_only
968570,1443407207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14569.0,Silicon Valley Bank,SANTA CLARA,CA,Unanswered,Unanswered,NaN,174861.56,8/9/21,right_only

In [18]:
m.loc[m["_merge"] =='left_only']

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,OriginatingLenderLocationID_,OriginatingLender_,OriginatingLenderCity_,OriginatingLenderState_,Gender_,Veteran_,NonProfit_,ForgivenessAmount_,ForgivenessDate_,_merge
61783,2259667209,04/15/2020,954.0,PPP,"WESTCOTT ENTERPRISES, INC.",2800 National City Blvd,NATIONAL CITY,CA,91950-7226,06/16/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
117519,4946287704,05/03/2020,912.0,PPP,"OUTBOARD JET TRUROL BEARINGS, INC.",2035 EDISON AVE.,SAN LEANDRO,CA,94552,04/12/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
145355,8600637300,05/01/2020,914.0,PPP,ELITE PLACEMENT GROUP,9150 Wilshire blvd 270,Beverly hills,CA,90212,01/20/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
249684,1340588502,02/18/2021,455.0,PPS,TLC MEDICAL GROUP INC,Northwest Lake Whitney Place N/A,Port St. Lucie,FL,34986,08/17/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
534459,3349098503,02/23/2021,671.0,PPS,ROBERT DAUGHERTY,5960 Fairview Rd Ste 500,CHARLOTTE,NC,28210-2716,09/17/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
538061,3766767704,05/03/2020,460.0,PPP,"EASTERN ENVIRONMENTAL, INC.",24480 U.S. 17,Hampstead,NC,28443,12/10/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
590532,1441598504,02/18/2021,299.0,PPS,VANITY HAIR SALON,9 Midland Ave,Montclair,NJ,07042-2806,03/25/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
712822,5949377010,04/06/2020,680.0,PPP,"MID-AMERICA FEEDS, INC.",101 E Sequoyah St,TALALA,OK,74080-9401,03/15/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
746299,9158508500,03/12/2021,303.0,PPS,"THE WORKS AT WYOMISSING, LLC",1109 Bern Rd None,Wyomissing,PA,19610-2060,08/23/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
784838,2264257100,04/10/2020,464.0,PPP,NAMAN WAVERLY LLC,PO BOX 4540,FLORENCE,SC,29502-4540,03/19/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
801012,7443588905,05/07/2021,474.0,PPS,SAMI ABU-ZAHRA,415B SE Broad St,Murfreesboro,TN,37130-4234,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
878892,9924618803,04/24/2021,671.0,PPS,HYPERSTAR PROPERTIES LLC,8302 Champion Forest Cir N/A,Spring,TX,77379-6320,11/11/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
910968,6592778009,06/30/2020,304.0,PPP,"TAMARACH TECHNOLOGIES, INC",2481 TRANSOM PL,WOODBRIDGE,VA,22191,04/15/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
912128,7191168410,02/11/2021,353.0,PPS,ALLGREEN LANDSCAPE COMPANY,313 Park Ave Ste G3,Falls Church,VA,22046-3302,07/09/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only